/* message */

#message1 {
  background: url('../img/about/division1.png');
  background-size: cover;
}

#message1 > .content {
  height: 250.5px;
  padding-top: 149.5px;
  font-size: 40px;
  line-height: 55px;
}

#message2 {
  background: url('../img/about/division2.png');
  background-size: cover;
}

#message2 > .content {
  height: 241px;
  padding-top: 166px;
  font-size: 30px;
  line-height: 45px;  
}

/* introduce */

#introduce {
  text-align: center;
}

.article {
  display: inline-block;
  margin-bottom: 100px;
  text-align: left;
}

.article_title {
  display: inline-block;
  vertical-align: top;
  font-family: 'Noto Sans Korean Bold';
  font-size: 25px;
  color: #16b475;
  width: 536px;
}

.article_paragraph {
  display: inline-block;
  vertical-align: top;
  color: #414042;
  font-family: 'Noto Sans Korean DemiLight';
  font-size: 15px;
  line-height: 25px;
}

.motto {
  font-family: 'Noto Sans Korean Bold';
  font-size: 30px;
  line-height: 30px;
  margin-bottom: 45px;
}

#bi {
  margin-left: 19px;
  height: 226px;
}

#bi > img {
  height: 95px;
  margin-bottom: 55px;
}

.article:last-child {
  margin-bottom: 198px;
}

/* people */

#people {
  display: inline-block;
  width: 1012px;
  height: 890px;
}

.people {
  float: left;
  position: relative;
}

.people_line {
  margin-bottom: 100px;
  height: 355.5px;
}

.people .people_photo {
  width: 178px;
  height: 254px;
  margin-bottom: 22px;
}

.people .people_name {
  font-family: 'Noto Sans Korean Bold';
  font-size: 18px;
  line-height: 18px;
  margin-bottom: 11.5px;
}

.people .people_job {
  font-size: 15px;
  line-height: 22px;
}

.people .people_email {
  font-size: 15px;
  line-height: 22px;
}

.people > .off {
  display: inline-block;
  padding: 0 37.5px;
  color: #414042;
}

.people > .on {
  display: none;
}

.people > .on > .people_photo {
  position: absolute;
  left: 34px;
  top: 34px;
}

.people > .on > .people_name {
  position: absolute;
  left: 34px;
  width: 178px;
  top: 315px;
}

.people > .on > .people_job {
  position: absolute;
  left: 34px;
  width: 178px;
  top: 345px;
}

.people > .on > .people_email {
  position: absolute;
  left: 34px;
  width: 178px;
  top: 368px;
}

.people .people_bio {
  position: absolute;
  display: inline-block;
  font-size: 14px;
  line-height: 22px;
  width: 178px;
  left: 245px;
  top: 34px;
  word-break: keep-all;
  text-align: left;
}

.people:hover > .on {
  z-index: 2;
  position: absolute;
  display: inline-block;
  color: #fff;
  background-color: #16b475;
  left: 3px;
  top: -34px;
  width: 465px;
  height: 412px;
}

.people:last-child > .on {
  left: auto;
  right: 4px;
}

.people:last-child > .on > .people_photo {
  left: 253px;
}

.people:last-child > .on > .people_name {
  left: 253px;
}

.people:last-child > .on > .people_job {
  left: 253px;
}

.people:last-child > .on > .people_email {
  left: 253px;
}

.people:last-child .people_bio {
  left: 34px;
}

/* contact */

#contact {
  margin-bottom: 97px;
  margin-top: -46px;
}

#google_map {
  display: inline-block;
  vertical-align: top;
  width: 469px;
  height: 428px;
  background: #ddd;
  margin-right: -4px;
}

#contact_info {
  display: inline-block;
  vertical-align: top;
  width: 422px;
  height: 339px;
  background: #16b475;
  text-align: left;
  margin-right: -4px;
  color: #fff;
  font-size: 18px;
  line-height: 28px;
  padding-top: 89px;
  padding-left: 47px;
}

.big {
  display: inline-block;
  font-family: 'Noto Sans Korean Bold';
  margin-bottom: 10px;
}

.small {
  font-size: 14px;
}