/* header */

#header {
  -webkit-transition: background-color 0.65s ease-in-out;
  transition: background-color 0.65s ease-in-out;
}

#header.transparent {
  background-color: rgba(256, 256, 256, 0);
}

/* section1 - main */

#section1 {
  height: 714px;
  overflow: hidden;
  padding: 0;
}

#bgvideo {
  position: relative;
  z-index: -100;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
}

#text {
  position: absolute;
  z-index: 1;
  top: 313px;
  padding-left: 35px;
}

#title {
  font-family: 'Noto Sans Korean Black';
  color: #006633;
  font-size: 90px;
  line-height: 90px;
}

#slogan {
  font-family: 'Noto Sans Korean Bold';
  font-size: 38.67px;
  line-height: 38.67px;
  color: #414042;
  margin-top: 5px;
}

#message {
  font-family: 'Noto Sans Korean Regualr';
  font-size: 14.54px;
  line-height: 25.45px;
  color: #414042;
  margin-top: 38px;
}

.bold {
  font-family: 'Noto Sans Korean Bold';
  color: #006633;
}

/* section2 - voice */

#section2 {
  height: 538px;
  background-image: url('../img/main/voice.png');
  background-size: cover;
  position: relative;
  text-align: center;
  color: #fff;
}

.voice_message {
  font-size: 22px;
  line-height: 35px;
}

.voice_speaker {
  font-family: 'Noto Sans Korean Bold';
  font-size: 18px;
  line-height: 18px;
}

#voice_go {
  display: inline-block;
  width: 215px;
  height: 48px;
  font-family: 'Noto Sans Korean Bold';
  font-size: 18px;
  line-height: 48px;
  color: #fff;
  background: rgba(0, 77, 47, 0.4);
  text-align: center;
}

/* title - for section3~5 */

.title {
  color: #004d2f;
  font-size: 30px;
  line-height: 30px;
  font-family: 'Noto Sans Korean Bold';
  text-align: center;
  margin-top: 100px;
}

.subtitle {
  color: #414042;
  font-size: 18px;
  line-height: 18px;
  font-family: 'Noto Sans Korean Medium';
  text-align: center;
  margin-top: 25px;
  margin-bottom: 60px;
}

/* section3 - projects */

#projects {
  height: 455px;
  margin-bottom: 100px;
}

.project {
  width: 275px;
  height: 455px;
  position: relative;
  background-color: #000;
  margin-right: 27px;
  float: left;
}

.project:last-child {
  margin-right: 0;
}

.project_category {
  position: absolute;
  left: 25px;
  top: 53px;
  font-family: 'Noto Sans Korean Bold';
  font-size: 20px;
  line-height: 20px;
  color: #d1d3d4;
}

.project_name {
  position: absolute;
  left: 25px;
  top: 87px;
  font-family: 'Noto Sans Korean Bold';
  font-size: 18px;
  line-height: 18px;
  color: #fff;
}

.project_explain {
  position: absolute;
  left: 25px;
  top: 334px;
  font-family: 'Noto Sans Korean Regualr';
  font-size: 15px;
  line-height: 25px;
  color: #fff;
}

.project_more {
  position: absolute;
  width: 61px;
  height: 26px;
  right: 25px;
  bottom: 20px;
}

.project {
  background-color: #77787b;
  background-blend-mode: multiply;
}

.project.on {
  background-color: #16b475;
}

#project_collaboration {
 background-image: url(../img/project/collaboration.png); 
}

#project_campaign {
 background-image: url(../img/project/campaign.png); 
}

#project_civictech {
 background-image: url(../img/project/civictech.png); 
}

#project_community {
 background-image: url(../img/project/community.png); 
}


/* section4 - waglpedia */

#actions {
  height: 460px;
  margin-bottom: 105px;
}

.action_line {
  height: 227px;
  border-top: 2px solid #d3d3d4;
  border-bottom: 2px solid #d3d3d4;
  position: relative;
}

.action_line:last-child {
  border-top: 0;
}

.action_logo {
  display: inline-block;
  height: 227px;
  width: 234px;
  text-align: center;
  border-right: 2px solid #d3d3d4;
  margin-right: -3px;
  font-size: 18px;
  color: #939598;
  font-family: 'Noto Sans Korean Medium';
  vertical-align: top;
  line-height: 227px;
}

.action_logo>img {
  width: 234px;
}

.action_logo:first-of-type {
  border-left: 2px solid #fff;
}

.action_logo.last {
  border-right: 2px solid #fff;
}

.action_detail {
  position: absolute;
  top: -2px;
  left: 0;
  z-index: 99;
  display: none;
  vertical-align: top;
  width: 208px;
  height: 186px;
  padding-top: 45px;
  padding-left: 30px;
  background-color: #16b475;
  color: #fff;
}

.action_name {
  font-size: 20px;
  line-height: 20px;
  font-family: 'Noto Sans Korean Bold';
  margin-bottom: 20px;
}

.action_explain {
  font-size: 12px;
  line-height: 22px;
  font-family: 'Noto Sans Korean Regualr';
}

/* section5 - story */

#storys {
  margin-bottom: 104px;
}

.story {
  display: inline-block;
  position: relative;
  width: 394px;
  height: 530px;
  margin-right: -3px;
  vertical-align: top;
  background-color: #fff;
  -webkit-transition: background-color 300ms ease-in-out;
  -moz-transition: background-color 300ms ease-in-out;
  -o-transition: background-color 300ms ease-in-out;
  transition: background-color 300ms ease-in-out;
}

.story:hover {
  background-color: #f1f2f2;
}

.story_photo {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: auto;
  opacity: 0;
  -webkit-transition: opacity 300ms ease-in-out;
  -moz-transition: opacity 300ms ease-in-out;
  -o-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
}

.story_top {
  font-family: 'Noto Sans Korean Bold';
  font-size: 26px;
  line-height: 26px;
  height: 149px;
  padding: 48px 31px;
}

.story_title {
  position: relative;
  z-index: 1;
}

.story:hover .story_photo {
  opacity: 1;
}

.story_title > div {
  z-index: 2;
  display: inline-block;
  background: rgba(255, 255, 255, 0.9);
  margin-bottom: 4px;
  padding: 0 4px 5px;
}

.story_summary {
  font-size: 12px;
  line-height: 23px;
  width: 322px;
  margin-left: 36px;
  margin-top: 36px;
  word-break: keep-all;
}

.story_separator {
  position: absolute;
  border-top: solid 1px #979798;
  width: 325px;
  left: 34.5px;
  bottom: 119px;
}

.story_date {
  position: absolute;
  font-size: 12px;
  line-height: 23px;
  left: 36px;
  bottom: 72px
}

.story_source {
  position: absolute;
  font-size: 12px;
  line-height: 23px;
  left: 36px;
  bottom: 50px;
}

/* section6 - Want to with us? */

#section6 {
  height: 380px;
  background-color: #414042;
}

#join {
  font-family: 'Noto Sans Korean Bold';
  font-size: 30px;
  color: #fff;
  text-align: center;
  padding-top: 43px;
  margin-bottom: 69px;
}

#sns {
  text-align: center;
  margin-bottom: 89px;
}

#facebook {
  margin-right: 88px;
}

#twitter {
  margin-right: 77px;
}

#instagram {
  margin-right: 81px;
}

#youtube {
  margin-right: 79px;
}

#subscribe {
  text-align: center;
}

#sub_email {
  display: none;
  /*display: inline-block;*/
  height: 48px;
  width: 264px;
  background: #fff;
  margin-right: 10px;
  vertical-align: top;
  overflow: hidden;
  padding: 0 18px;
}

#sub_email_value {
  display: inline-block;
  font-family: 'Noto Sans Korean Regualr';
  border: none;
  font-size: 18px;
  line-height: 48px;
  color: #414042;
  margin-top: -2px;
  width: 264px;
}

#sub_button {
  display: inline-block;
  font-family: 'Noto Sans Korean Bold';
  height: 48px;
  background: #16b475;
  font-size: 18px;
  line-height: 48px;
  padding: 0 20px;
  color: #fff;
  vertical-align: top;
}