<div class="collapse waglpedia__service--collapsed better_reykjavik" data-service-name="better_reykjavik">
  <div class="waglpedia__service-name--collapsed">
     Better Reykjavik
  </div>

  <div class="waglpedia__service-tags--collapsed">
    <span class="waglpedia__service-tag hidden" data-lang="ko">#의사결정/토론</span>
    <span class="waglpedia__service-tag hidden" data-lang="en">#Deliberation</span>
    <span class="waglpedia__service-tag hidden" data-lang="ko">#매체/커뮤니티</span>
    <span class="waglpedia__service-tag hidden" data-lang="en">#Media/Community</span>
    <span class="waglpedia__service-tag hidden" data-lang="ko">#시민참여</span>
    <span class="waglpedia__service-tag hidden" data-lang="en">#Governance</span>
  </div>

  <div class="carousel slide waglpedia-better_reykjavik" data-ride="carousel" data-interval="false">
    <ol class="carousel-indicators">
      <li data-target=".waglpedia-better_reykjavik" data-slide-to="0" class="active"></li>
      <li data-target=".waglpedia-better_reykjavik" data-slide-to="1"></li>
      <li data-target=".waglpedia-better_reykjavik" data-slide-to="2"></li>
    </ol>

    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img src="/static/img/waglpedia/better_reykjavik/instructions.png" class="waglpedia__service-screenshot" />

        <div class="waglpedia__explanation-category hidden" data-lang="ko">
          사용법
        </div>
        <div class="waglpedia__explanation-category hidden" data-lang="en">
          Details
        </div>

        <div class="waglpedia__service-explanation hidden" data-lang="ko">
          1. 로그인을 해서 시단위 이하 행정구역의 그룹을 찾는다.<br/>
          2. 지역사회에 왔으면 하는 변화를 포스트로 작성한다.<br/>
          3. 다른 유저의 아이디어에 대해서 좋아요를 누르거나, 차단하거나, 댓글을 작성한다.
        </div>
        <div class="waglpedia__service-explanation hidden" data-lang="en">
          1. Once you are logged in on betrireykjavik.is, you can find the group for your own sub-municipal administrational district.<br/>
          2. Post various points and ideas describing the change you would like to see in the community.<br/>
          3. You can like, block, and comment on other users’ ideas.
        </div>
      </div>
      <div class="item">
        <img src="/static/img/waglpedia/better_reykjavik/example.jpg" class="waglpedia__service-screenshot" />

        <div class="waglpedia__explanation-category hidden" data-lang="ko">
          사례
        </div>
        <div class="waglpedia__explanation-category hidden" data-lang="en">
          Case Study
        </div>

        <div class="waglpedia__service-explanation hidden" data-lang="ko">
          인구 120,000명의 레이캬비크 시민 70,000명 정도가 이 플랫폼에 참여했다. 12,000명의 유저는 도합 3,300건 정도의 정책 아이디어를 냈고, 여러 이슈들에 대하여 5,500건 정도의 찬반 의견을 냈다. 일례로, 레이가르네스Laugarnes구에 사는 학생 콜브런Kolbrún은, 이 플랫폼에 의견을 올려 견학 프로그램을 늘리자는 아이디어를 현실화 할 수 있었다.
        </div>
        <div class="waglpedia__service-explanation hidden" data-lang="en">
          Because of its high level of accessibility to the public, over 70,000 people of Reykjavik (out of a population of 120,000) have participated on the platform. 12,000 users have submitted a total of 3,300 ideas and 5,500 arguments for and against various issues. In one particular case, Better Reykjavík allowed Kolbrún Sara Haraldsdóttir, a student at Laugarnes, to realize her idea of increasing the number of school field trips. She posted her idea on Better Reykjavik and garnered enough support from her community to make it a reality. She was able to improve her community through Better Reykjavik.
        </div>
      </div>
      <div class="item">
        <img src="/static/img/waglpedia/better_reykjavik/implication.png" class="waglpedia__service-screenshot" />

        <div class="waglpedia__explanation-category hidden" data-lang="ko">
          시사점
        </div>
        <div class="waglpedia__explanation-category hidden" data-lang="en">
          Features
        </div>

        <div class="waglpedia__service-explanation hidden" data-lang="ko">
          베터 레이캬비크는 시 인구의 절반 정도의 참여를 이끌어냈다. 이 사이트는 대중 접근성이 뛰어나고, 유저들은 토의가 진행되는 동안 찬반 의견을 바꿀 수 있다는 점에서 협력적인 커뮤니티 기반의 포맷이라고 할 수 있다.
        </div>
        <div class="waglpedia__service-explanation hidden" data-lang="en">
          Better Reykjavik has been able to garner participation from nearly half of the city’s population. For one, the site is extremely accessible to the public. Users can simply log on and post their thoughts without having to jump through any complicated hoops on the website. Furthermore, it allows users to flexibly change their votes on issues as discussions progress. This allows for improvement in a more cooperative, community-based format.
        </div>
      </div>
    </div>
  </div>

  <a class="left carousel-control" href=".waglpedia-better_reykjavik" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
  </a>
  <a class="right carousel-control" href=".waglpedia-better_reykjavik" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
  </a>

  <div class="waglpedia__service-link-container">
    <a href="https://betrireykjavik.is" target="_blank" class="waglpedia__service-link">
      <span class="hidden" data-lang="ko">더 알아보기</span>
      <span class="hidden" data-lang="en">More info</span>
    </a>
  </div>
</div>
