<div class="collapse waglpedia__service--collapsed brigade" data-service-name="brigade">
  <div class="waglpedia__service-name--collapsed">
    Brigade
  </div>

  <div class="waglpedia__service-tags--collapsed">
    <span class="waglpedia__service-tag hidden" data-lang="ko">#의사결정/토론</span>
    <span class="waglpedia__service-tag hidden" data-lang="en">#Deliberation</span>
    <span class="waglpedia__service-tag hidden" data-lang="ko">#시민참여</span>
    <span class="waglpedia__service-tag hidden" data-lang="en">#Governance</span>
    <span class="waglpedia__service-tag hidden" data-lang="ko">#선거/투표</span>
    <span class="waglpedia__service-tag hidden" data-lang="en">#Electoral</span>
    <span class="waglpedia__service-tag hidden" data-lang="ko">#매체/커뮤니티</span>
    <span class="waglpedia__service-tag hidden" data-lang="en">#Media/Community</span>
  </div>

  <div class="carousel slide waglpedia-brigade" data-ride="carousel" data-interval="false">
    <ol class="carousel-indicators">
      <li data-target=".waglpedia-brigade" data-slide-to="0" class="active"></li>
      <li data-target=".waglpedia-brigade" data-slide-to="1"></li>
      <li data-target=".waglpedia-brigade" data-slide-to="2"></li>
    </ol>

    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img src="/static/img/waglpedia/brigade/instructions.png" class="waglpedia__service-screenshot" />

        <div class="waglpedia__explanation-category hidden" data-lang="ko">
          사용법
        </div>
        <div class="waglpedia__explanation-category hidden" data-lang="en">
          Details
        </div>

        <div class="waglpedia__service-explanation hidden" data-lang="ko">
          1. brigade.com에 접속해 로그인을 하고 지역을 선택합니다.<br/>
          2. 관심있는 주제를 선택해 찬반 투표를 하고, 의견에 대한 설명을 씁니다.<br/>
          3. 다른 사람들의 의견을 보기위해 토론방에 들어가거나, 비슷한 성향으로 추천받은 사람들과 그룹을 만들어 봅니다.
        </div>
        <div class="waglpedia__service-explanation hidden" data-lang="en">
          1. Log in at brigade.com. Vote agree or disagree on topics that fall under the selected issues of your interest and post explanations on your stance.<br/>
          2. Select your voting district to connect with the communities you vote with.<br/>
          3. You can join pre-existing discussion groups or create new groups with recommended users who share similar views with you.
        </div>
      </div>
      <div class="item">
        <img src="/static/img/waglpedia/brigade/example.png" class="waglpedia__service-screenshot" />

        <div class="waglpedia__explanation-category hidden" data-lang="ko">
          사례
        </div>
        <div class="waglpedia__explanation-category hidden" data-lang="en">
          Case Study
        </div>

        <div class="waglpedia__service-explanation hidden" data-lang="ko">
          미 대선 경선을 앞두고 후보 연설이 있을 때마다 실시간으로 후보의 견해에 대한 찬반표시를 하는 이벤트를 진행하는 등 시의성 있는 주제에 대한 다양한 서비스를 제공하고 있다. 지역별로 선거가 열릴 때마다 해당 선거구 유권자들을 위한 별도의 서비스를 업데이트하는 것 역시 쌍방향 플랫폼으로서 시의성을 최대한 확보하기 위한 노력으로 볼 수 있다. 최근에는 정치 분야에 한정되지 않고 스포츠, 기술 등의 이슈에 관한 논의 공간을 별도로 제공하면서 모든 이슈를 아우르는 유니버설 플랫폼으로의 진화를 모색하고 있다.
        </div>
        <div class="waglpedia__service-explanation hidden" data-lang="en">
          Brigade offers a variety of services to increase active participation in the United States electoral process. It posts public polls following candidate speeches, and adds new updates with new regional elections to provide voters with more electoral services. As of late, Brigade has begun to bridge out from politics to a wider variety of topics such as sports and technology. Despite its beginnings as a political platform, Brigade is evolving into a more comprehensive and universal platform.
        </div>
      </div>
      <div class="item">
        <img src="/static/img/waglpedia/brigade/implication.png" class="waglpedia__service-screenshot" />

        <div class="waglpedia__explanation-category hidden" data-lang="ko">
          시사점
        </div>
        <div class="waglpedia__explanation-category hidden" data-lang="en">
          Features
        </div>

        <div class="waglpedia__service-explanation hidden" data-lang="ko">
          정치 및 선거와 관련된 거의 모든 활동에 참여할 수 있는 포털이자 사회관계망 서비스라는 점에서 정치에 많은 관심을 가진 이용자에게는 매우 유용하다. 현재는 미국 내 사용자 위주의 서비스를 제공한다는 점, 기능이 너무 많아 초기 이용과 적응이 다소 어려운 점은 아쉬운 부분이다.
        </div>
        <div class="waglpedia__service-explanation hidden" data-lang="en">
          Currently, Brigade is extremely effective at what it is: a portal for citizen participation in governmental and electoral affairs. However, it is only available for usage in the United States, and the sheer number of functions makes it hard to navigate for beginning users.
        </div>
      </div>
    </div>
  </div>

  <a class="left carousel-control" href=".waglpedia-brigade" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
  </a>
  <a class="right carousel-control" href=".waglpedia-brigade" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
  </a>

  <div class="waglpedia__service-link-container">
    <a href="https://www.brigade.com/" target="_blank" class="waglpedia__service-link">
      <span class="hidden" data-lang="ko">더 알아보기</span>
      <span class="hidden" data-lang="en">More info</span>
    </a>
  </div>
</div>
