<div class="collapse waglpedia__service--collapsed citizen_budget" data-service-name="citizen_budget">
  <div class="waglpedia__service-name--collapsed">
    Citizen Budget
  </div>
  
  <div class="waglpedia__service-tags--collapsed">
    <span class="waglpedia__service-tag hidden" data-lang="ko">#공공데이터</span>
    <span class="waglpedia__service-tag hidden" data-lang="en">#Open data</span>
    <span class="waglpedia__service-tag hidden" data-lang="ko">#시민참여</span>
    <span class="waglpedia__service-tag hidden" data-lang="en">#Governance</span>
  </div>
  
  <div class="carousel slide waglpedia-citizen_budget" data-ride="carousel" data-interval="false">
    <ol class="carousel-indicators">
      <li data-target=".waglpedia-citizen_budget" data-slide-to="0" class="active"></li>
      <li data-target=".waglpedia-citizen_budget" data-slide-to="1"></li>
      <li data-target=".waglpedia-citizen_budget" data-slide-to="2"></li>
    </ol>
  
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img src="/static/img/waglpedia/citizen_budget/instructions.png" class="waglpedia__service-screenshot" />
        
        <div class="waglpedia__explanation-category hidden" data-lang="ko">
          사용법
        </div>
        <div class="waglpedia__explanation-category hidden" data-lang="en">
          Instrunctions
        </div>
        
        <div class="waglpedia__service-explanation hidden" data-lang="ko">
          1. 내가 살고 있는 지역의 예산이 어디에서 오고 어떻게 쓰이는 지를 그래프를 통해 파악합니다.<br/>
          2. 예산이 쓰이는 세부 항목들에 대한 정보를 보고 버튼을 움직이며 자신이 생각하기에 적정한 수준의 예산을 배정해봅니다. 어떻게 배정하느냐에 따라 남은 돈이 위 쪽에 바 형태로 표시됩니다.<br/>
          3. 몇 가지 개인정보와 메모를 추가하고 내가 만든 예산안을 제출합니다.
        </div>
        <div class="waglpedia__service-explanation hidden" data-lang="en">
          TBD
        </div>
      </div>
      <div class="item">
        <img src="/static/img/waglpedia/citizen_budget/example.png" class="waglpedia__service-screenshot" />
        
        <div class="waglpedia__explanation-category hidden" data-lang="ko">
          사례
        </div>
        <div class="waglpedia__explanation-category hidden" data-lang="en">
          Example
        </div>
        
        <div class="waglpedia__service-explanation hidden" data-lang="ko">
          2011년 연말부터 2012년 초까지 몬트리올 시의 소속 구로 10만여 명이 거주하는 지역에서 시티즌 버젯을 통해 예산 집행에 관한 주민 의견이 수렴되었다. 전체 주민의 4퍼센트 정도인 4,500여 명이 참여한 이 설문에서 일반세보다는 사용목적이 정해진 특별세 형태의 조세를 주민들이 더 선호하는 것으로 나타났다. 공공예술 분야에 집행될 적절한 예산의 규모로 약 3만 2천 캐나다 달러가 제안되었다.
        </div>
        <div class="waglpedia__service-explanation hidden" data-lang="en">
          TBD
        </div>
      </div>
      <div class="item">
        <img src="/static/img/waglpedia/citizen_budget/implication.png" class="waglpedia__service-screenshot" />
        
        <div class="waglpedia__explanation-category hidden" data-lang="ko">
          시사점
        </div>
        <div class="waglpedia__explanation-category hidden" data-lang="en">
          Implication
        </div>
        
        <div class="waglpedia__service-explanation hidden" data-lang="ko">
          국내 여러 지자체에서 이미 주민참여예산을 별도로 편성해 자치위원회 심의 또는 설문 등의 의견수렴 과정을 거쳐 집행이 이루어져 있다. 시티즌 버젯은 주민참여예산 집행의 우선순위를 정하거나 제한된 예산 범위 내에서 다양한 형태의 복수 예산안을 짜볼 수 있다는 데에 장점이 있다. 그밖에 지자체 예산안을 공공 데이터화하면 시티즌 버젯에서 이를  조정해봄으로써 시민들로 하여금 예산의 흐름과 지자체 행정의 구체적인 내용을 직관적으로 이해하는 경험을 제공한다.
        </div>
        <div class="waglpedia__service-explanation hidden" data-lang="en">
          TBD
        </div>
      </div>
    </div>
  </div>
  
  <a class="left carousel-control" href=".waglpedia-citizen_budget" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
  </a>
  <a class="right carousel-control" href=".waglpedia-citizen_budget" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
  </a>
   
  <div class="waglpedia__service-link-container">
    <a href="http://www.citizenbudget.com/" target="_blank" class="waglpedia__service-link">
      <span class="hidden" data-lang="ko">더 알아보기</span>
      <span class="hidden" data-lang="en">More info</span>
    </a>
  </div>
</div>
