<div class="collapse waglpedia__service--collapsed decide_madrid" data-service-name="decide_madrid">
  <div class="waglpedia__service-name--collapsed">
    Decide Madrid
  </div>

  <div class="waglpedia__service-tags--collapsed">
    <span class="waglpedia__service-tag hidden" data-lang="ko">#의사결정/토론</span>
    <span class="waglpedia__service-tag hidden" data-lang="en">#Deliberation</span>
    <span class="waglpedia__service-tag hidden" data-lang="ko">#공공데이터</span>
    <span class="waglpedia__service-tag hidden" data-lang="en">#Open data</span>
    <span class="waglpedia__service-tag hidden" data-lang="ko">#시민참여</span>
    <span class="waglpedia__service-tag hidden" data-lang="en">#Governance</span>
    <span class="waglpedia__service-tag hidden" data-lang="ko">#매체/커뮤니티</span>
    <span class="waglpedia__service-tag hidden" data-lang="en">#Media/Community</span>
  </div>

  <div class="carousel slide waglpedia-decide_madrid" data-ride="carousel" data-interval="false">
    <ol class="carousel-indicators">
      <li data-target=".waglpedia-decide_madrid" data-slide-to="0" class="active"></li>
      <li data-target=".waglpedia-decide_madrid" data-slide-to="1"></li>
      <li data-target=".waglpedia-decide_madrid" data-slide-to="2"></li>
    </ol>

    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img src="/static/img/waglpedia/decide_madrid/instructions.png" class="waglpedia__service-screenshot" />

        <div class="waglpedia__explanation-category hidden" data-lang="ko">
          사용법
        </div>
        <div class="waglpedia__explanation-category hidden" data-lang="en">
          Details
        </div>

        <div class="waglpedia__service-explanation hidden" data-lang="ko">
          1. 주민 인증을 거친 마드리드 시민이 웹사이트에서 정책제안을 올립니다.<br/>
          2. 정책제안을 본 다른 시민들은 댓글을 달거나 지지 서명을 할 수 있으며, 이 과정은 오프라인으로도 진행됩니다.<br/>
          3. 최종적으로 마드리드 전체 주민의 2%(약 5만 명) 이상의 지지를 받은 제안은 공식 정책으로 채택됩니다.
        </div>
        <div class="waglpedia__service-explanation hidden" data-lang="en">
          1. A certified citizen of Madrid can access the website and post their drafted bill or proposal.<br/>
          2. Fellow citizens can attach comments or become signatories of the bill. This process can be done offline as well.<br/>
          3. Once the bill has gained 2% of Madrid’s population (around 50,000 people) as signatories, it can be adopted into an official policy.
        </div>
      </div>
      <div class="item">
        <img src="/static/img/waglpedia/decide_madrid/example.png" class="waglpedia__service-screenshot" />

        <div class="waglpedia__explanation-category hidden" data-lang="ko">
          사례
        </div>
        <div class="waglpedia__explanation-category hidden" data-lang="en">
          Case Study
        </div>

        <div class="waglpedia__service-explanation hidden" data-lang="ko">
          하루에도 5-10건 정도가 디사이드 마드리드를 통해 제안되고 있으며, 마드리드 시는 이 내용들을 정책 수립에 적극 활용하고 있다. 2016년 3월부터는 800억 규모의 참여예산을 편성해 이에 관한 의견을 수렴하는 데에 디사이드 마드리드를 적극적으로 활용하고 있다. 시민들은 이곳에서 시 전체 참여예산과 구별 참여예산에 대해 집행계획을 제안할 수 있다.
        </div>
        <div class="waglpedia__service-explanation hidden" data-lang="en">
          Everyday, 5-10 proposals are being posted on Decide Madrid, and the city council of Madrid is actively adopting the proposals into official policies. Since March of 2016, Decide Madrid is being used to collect opinions on Madrid’s 16 million euro citizen participation budget. Citizens can propose executive action plans for the participation budget and the comparative budget on the platform.
        </div>
      </div>
      <div class="item">
        <img src="/static/img/waglpedia/decide_madrid/implication.png" class="waglpedia__service-screenshot" />

        <div class="waglpedia__explanation-category hidden" data-lang="ko">
          시사점
        </div>
        <div class="waglpedia__explanation-category hidden" data-lang="en">
          Features
        </div>

        <div class="waglpedia__service-explanation hidden" data-lang="ko">
          디사이드 마드리드는 마드리드 시정을 책임지고 있는 집권당인 아호라 마드리드가 입안된 정책에 대한 집행을 보증한다는 점이 높은 참여를 유지시키는 비결이다. 현재는 시민참여예산과 행정에 관한 정보공개를 위한 별도의 사이트를 각각 운영하면서 시 행정에 관한 전면적인 시민참여를 보장하는 플랫폼으로 거듭나고 있다.
        </div>
        <div class="waglpedia__service-explanation hidden" data-lang="en">
          Because the platform is run by Madrid’s ruling political party, Decide Madrid has been able to garner and maintain high participation rates. This relationship is what guarantees that the bills drafted on Decide Madrid be adopted into official policies. Currently, Decide Madrid is also running other websites in order to publicize administrative affairs such as the citizen participation budget. Through increased transparency, it hopes to amplify the breadth and level of citizen participation within the city council. 
        </div>
      </div>
    </div>
  </div>

  <a class="left carousel-control" href=".waglpedia-decide_madrid" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
  </a>
  <a class="right carousel-control" href=".waglpedia-decide_madrid" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
  </a>

  <div class="waglpedia__service-link-container">
    <a href="https://decide.madrid.es/" target="_blank" class="waglpedia__service-link">
      <span class="hidden" data-lang="ko">더 알아보기</span>
      <span class="hidden" data-lang="en">More info</span>
    </a>
  </div>
</div>
