<div class="collapse waglpedia__service--collapsed g0v" data-service-name="g0v">
  <div class="waglpedia__service-name--collapsed">
    g0v
  </div>
  
  <div class="waglpedia__service-tags--collapsed">
    <span class="waglpedia__service-tag hidden" data-lang="ko">#공공데이터</span>
    <span class="waglpedia__service-tag hidden" data-lang="en">#Open data</span>
    <span class="waglpedia__service-tag hidden" data-lang="ko">#시민참여</span>
    <span class="waglpedia__service-tag hidden" data-lang="en">#Governance</span>
    <span class="waglpedia__service-tag hidden" data-lang="ko">#매체/커뮤니티</span>
    <span class="waglpedia__service-tag hidden" data-lang="en">#Media/Community</span>
  </div>
  
  <div class="carousel slide waglpedia-g0v" data-ride="carousel" data-interval="false">
    <ol class="carousel-indicators">
      <li data-target=".waglpedia-g0v" data-slide-to="0" class="active"></li>
      <li data-target=".waglpedia-g0v" data-slide-to="1"></li>
    </ol>
  
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img src="/static/img/waglpedia/g0v/instructions.png" class="waglpedia__service-screenshot" />
        
        <div class="waglpedia__explanation-category hidden" data-lang="ko">
          사용법
        </div>
        <div class="waglpedia__explanation-category hidden" data-lang="en">
          Instrunctions
        </div>
        
        <div class="waglpedia__service-explanation hidden" data-lang="ko">
          1. ‘오픈 국회’ 프로젝트: 각종 청문회 자료, 입법 일정, 제출된 법안, 제·개정된 법안 등 많은 국회에서 만들어진 다양한 문서를 보기 쉽게 가공해서 아카이빙<br/>
          2. 정치기부금 공개 프로젝트: 관공서에 가서 정보공개를 요청하지 않고도 정치인에 대한 기부금 내역을 모두 확인할 수 있도록 크라우드 소싱으로 자료수집을 진행
        </div>
        <div class="waglpedia__service-explanation hidden" data-lang="en">
          TBD
        </div>
      </div>
      <div class="item">
        <img src="/static/img/waglpedia/g0v/implication.png" class="waglpedia__service-screenshot" />
        
        <div class="waglpedia__explanation-category hidden" data-lang="ko">
          시사점
        </div>
        <div class="waglpedia__explanation-category hidden" data-lang="en">
          Implication
        </div>
        
        <div class="waglpedia__service-explanation hidden" data-lang="ko">
          자발적 참여와 협업에 기반한 개발자 그룹이 중심이 되는 거브제로는 공공 데이터 활용과 온라인 액티비즘의 다양한 가능성을 구체적인 개발 프로젝트로 풍부하게 보여준다. 매년 개최되는 거브제로 서밋과 상시로 진행중인 프로젝트에는 국적과 관계없이 참여가 가능하다. 최근 젊은 층의 지지로 정권교체를 이룬 대만 국내 분위기 속에서 거브제로의 역할은 더욱 주목받고 있다.
        </div>
        <div class="waglpedia__service-explanation hidden" data-lang="en">
          TBD
        </div>
      </div>
    </div>
  </div>
  
  <a class="left carousel-control" href=".waglpedia-g0v" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
  </a>
  <a class="right carousel-control" href=".waglpedia-g0v" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
  </a>
   
  <div class="waglpedia__service-link-container">
    <a href="http://g0v.tw/en-US/index.html" target="_blank" class="waglpedia__service-link">
      <span class="hidden" data-lang="ko">더 알아보기</span>
      <span class="hidden" data-lang="en">More info</span>
    </a>
  </div>
</div>
