<div class="collapse waglpedia__service--collapsed kosningakerfi_pirata" data-service-name="kosningakerfi_pirata">
  <div class="waglpedia__service-name--collapsed">
    Kosningakerfi Pírata
  </div>

  <div class="waglpedia__service-tags--collapsed">
    <span class="waglpedia__service-tag hidden" data-lang="ko">#의사결정/토론</span>
    <span class="waglpedia__service-tag hidden" data-lang="en">#Deliberation</span>
    <span class="waglpedia__service-tag hidden" data-lang="ko">#매체/커뮤니티</span>
    <span class="waglpedia__service-tag hidden" data-lang="en">#Media/Community</span>
  </div>

  <div class="carousel slide waglpedia-kosningakerfi_pirata" data-ride="carousel" data-interval="false">
    <ol class="carousel-indicators">
      <li data-target=".waglpedia-kosningakerfi_pirata" data-slide-to="0" class="active"></li>
      <li data-target=".waglpedia-kosningakerfi_pirata" data-slide-to="1"></li>
      <li data-target=".waglpedia-kosningakerfi_pirata" data-slide-to="2"></li>
    </ol>

    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img src="/static/img/waglpedia/kosningakerfi_pirata/instructions.png" class="waglpedia__service-screenshot" />

        <div class="waglpedia__explanation-category hidden" data-lang="ko">
          사용법
        </div>
        <div class="waglpedia__explanation-category hidden" data-lang="en">
          Details
        </div>

        <div class="waglpedia__service-explanation hidden" data-lang="ko">
          1. 로그인을 해서 여러 정책에 대해 훑어보고, 관련해서 토론을 하거나 투표를 한다.<br/>
          2. “새로운 토론 이슈(Ný mál til umræðu)” 페이지를 들어가서 새로운 이슈에 관하여 투표를 하거나 댓글을 단다.<br/>
          3. “이번 회기 법령(Samþykktir þessa þings)” 섹션에 들어가면 아이슬랜드 의회에 통과된 정책이나 법령을 확인 할 수 있다. 또한, 각 조항을 개정하는 의견을 내보자.<br/>
          4. “토론 주제(Málaflokkar til umræðu)” 페이지에 들어가면 의료보험에서 법원판례까지, 여러 주제를 아우르는 정책문서를 열람할 수 있다.
        </div>
        <div class="waglpedia__service-explanation hidden" data-lang="en">
          1. Log in onto Kosningakerfi Pírata to browse through, discuss and vote on a wide variety of policies.<br/>
          2. Visit the “Ný mál til umræðu (New Issues for discussion)” page to vote on issues or to add your own comments.<br/>
          3. Browse through “Samþykktir þessa þings (Statutes of the session)” section to check out accepted policies and resolutions of Althing, the national parliament of Iceland. You may also post your own amendments to clauses.<br/>
          4. Visit “Málaflokkar til umræðu (Subjects for discussion)” and browse through various policy documents on subjects ranging from public health care to court cases. You may also comment on the issue.
        </div>
      </div>
      <div class="item">
        <img src="/static/img/waglpedia/kosningakerfi_pirata/example.png" class="waglpedia__service-screenshot" />

        <div class="waglpedia__explanation-category hidden" data-lang="ko">
          사례
        </div>
        <div class="waglpedia__explanation-category hidden" data-lang="en">
          Case Study
        </div>

        <div class="waglpedia__service-explanation hidden" data-lang="ko">
          이 웹사이트는 현재 포괄적인 투표 플랫폼의 역할을 하고있다. 이 플랫폼은 91건의 채택된 정책과 결의안을 게시하고, 이 이슈들에 대해 토의할 수 있는 장을 마련했다. 또한, 수 백개의 이슈들을 29개의 주제로 압축해 놓았으며, 여러 지역에서 오프라인 회의를 진행했다. 웹사이트의 유저 참여율에 관해서는, 2016년 4월에 15,000명 정도의 조회수를 기록했다. 전체 참여에 90% 정도는 아이슬랜드의 유저로 이루어져있고, 기타 영국이나, 미국, 캐나다 유저들이 한 자리수 정도의 참여율을 기록하고 있다.
        </div>
        <div class="waglpedia__service-explanation hidden" data-lang="en">
          Kosningakerfi Pírata currently operates as a comprehensive voting platform. It has published 91 accepted policies and resolutions, and opened them up for discussion. Furthermore, it has organized hundreds of cases and policies into 29 subjects for discussion. It is also hosting several offline meetings in regional districts to discuss current issues and policies. In regards to its user participation, the site has garnered 15,000 visits as of April, 2016. Nearly 90% of participation comprises of users in Iceland, with user rates from the United Kingdom, United States, and Canada standing at single digits.
        </div>
      </div>
      <div class="item">
        <img src="/static/img/waglpedia/pkosningakerfi_pirata/implication.png" class="waglpedia__service-screenshot" />

        <div class="waglpedia__explanation-category hidden" data-lang="ko">
          시사점
        </div>
        <div class="waglpedia__explanation-category hidden" data-lang="en">
          Features
        </div>

        <div class="waglpedia__service-explanation hidden" data-lang="ko">
          아이슬랜드 정계에서 새롭게 떠오르는 정당에 의해서 이 플랫폼이 운영되고 있다는 점이 주목할 만하다. 정당이라는 주체가 이렇게 시민들과 함께 직접 민주주의의 사례를 만들어나간다는 점에서 투명성이 담보되고, 실체가 있는 발전으로 귀결될 수 있다. 또한, 정보 아카이브와 상호교류적인 의사결정 플랫폼의 역할을 모두 해내고 있다. 유저가 정책이나 결의안을 열람할 수 있을 뿐만 아니라, 유저로 하여금 참여도 할 수 있도록 유도하고 있다. 더불어, 이곳에서 유저는 지역정치에 더 쉽게 접근할 수 있다. 예컨대 지역으로 세분화된 웹페이지에 들어가 여러 정책이나 담론에 접근할 수 있고, 오프라인 모임에도 참가할 수 있다.
        </div>
        <div class="waglpedia__service-explanation hidden" data-lang="en">
          It is worth noting that Kosningakerfi Pírata is run by the rising party of the Icelandic government. This link is may help ensure increased transparency within politics in a more tangible way. Furthermore, Kosningakerfi Pírata displays an effective balance between an information bank and an interactive decision-making platform. It publishes policies and resolutions for its users to browse through, but also allows them to get involved in them. Also, the platform makes regional politics easier to access. Users can find published policies and ongoing discussions in regionally organized pages, and also attend offline meetings scheduled by regions.
        </div>
      </div>
    </div>
  </div>

  <a class="left carousel-control" href=".waglpedia-kosningakerfi_pirata" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
  </a>
  <a class="right carousel-control" href=".waglpedia-kosningakerfi_pirata" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
  </a>

  <div class="waglpedia__service-link-container">
    <a href="http://x.piratar.is/" target="_blank" class="waglpedia__service-link">
      <span class="hidden" data-lang="ko">더 알아보기</span>
      <span class="hidden" data-lang="en">More info</span>
    </a>
  </div>
</div>
