<div class="collapse waglpedia__service--collapsed loomio" data-service-name="loomio">
  <div class="waglpedia__service-name--collapsed">
    Loomio
  </div>

  <div class="waglpedia__service-tags--collapsed">
    <span class="waglpedia__service-tag hidden" data-lang="ko">#의사결정/토론</span>
    <span class="waglpedia__service-tag hidden" data-lang="en">#Deliberation</span>
    <span class="waglpedia__service-tag hidden" data-lang="ko">#매체/커뮤니티</span>
    <span class="waglpedia__service-tag hidden" data-lang="en">#Media/Community</span>
  </div>

  <div class="carousel slide waglpedia-loomio" data-ride="carousel" data-interval="false">
    <ol class="carousel-indicators">
      <li data-target=".waglpedia-loomio" data-slide-to="0" class="active"></li>
      <li data-target=".waglpedia-loomio" data-slide-to="1"></li>
      <li data-target=".waglpedia-loomio" data-slide-to="2"></li>
    </ol>

    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img src="/static/img/waglpedia/loomio/instructions.png" class="waglpedia__service-screenshot" />

        <div class="waglpedia__explanation-category hidden" data-lang="ko">
          사용법
        </div>
        <div class="waglpedia__explanation-category hidden" data-lang="en">
          Details
        </div>

        <div class="waglpedia__service-explanation hidden" data-lang="ko">
          1. loomio.org에 접속해 '루미오 사용해보기' 버튼을 누르고 원하는 주제로 새로운 그룹을 시작합니다.<br/>
          2. '새 쓰레드 만들기'를 클릭해 주제와 관련한 게시물을 작성하거나 기존의 주제에 대해 찬성/기권/반대/차단의 의견을 내봅니다.<br/>
          3. 주제에 대해 다른 사람들과 댓글을 달고 토론해봅니다.
        </div>
        <div class="waglpedia__service-explanation hidden" data-lang="en">
          1. On loomio.org, start a new group with the topic of your choice.<br/>
          2. To make your own post, select “Start new thread” and add a title and context. This will allow others to comment on the thread and open up discussions. Once the thread is underway, you can post proposals. Users in your group will be able to agree, disagree, abstain, or block the proposal.<br/>
          3. You can add comments and debate issues with others.
        </div>
      </div>
      <div class="item">
        <img src="/static/img/waglpedia/loomio/example.jpg" class="waglpedia__service-screenshot" />

        <div class="waglpedia__explanation-category hidden" data-lang="ko">
          사례
        </div>
        <div class="waglpedia__explanation-category hidden" data-lang="en">
          Case Study
        </div>

        <div class="waglpedia__service-explanation hidden" data-lang="ko">
          루미오가 탄생한 본고장인 뉴질랜드의 수도 웰링턴 시에서는 루미오를 시정에 적극 활용했다. 뉴타운 개발에 참여한 채무자들을 관리할 대출 신탁을 마련하는 과정에서 세부적인 논의 사항을 루미오로 진행했고, 의사결정의 투명성 확보는 곧 대출신탁 사업에 대한 지역사회의 신뢰로 이어져 이후 안정적인 정책 운영이 가능해졌다. 스페인 포데모스 역시 루미오 플랫폼을 의사결정에 적극 활용하고 있다. 루미오는 전세계 사용자들의 이목을 끄는데 성공하여 기부금 형태로 사용료를 받음으로써 안정적인 운영기반 역시 확보했다.
        </div>
        <div class="waglpedia__service-explanation hidden" data-lang="en">
          Loomio has been actively used by the administration of Wellington since its development and birth in the city. In the aftermath of the redevelopment of the city, Loomio was used to collect detailed requests regarding the debt trust of debtors involved in the development. The stability of municipal affairs was ensured as Loomio allowed for increased transparency in decision making. Also, Podemos, a political party in Spain, is also actively using Loomio in their decision making processes.
        </div>
      </div>
      <div class="item">
        <img src="/static/img/waglpedia/loomio/implication.png" class="waglpedia__service-screenshot" />

        <div class="waglpedia__explanation-category hidden" data-lang="ko">
          시사점
        </div>
        <div class="waglpedia__explanation-category hidden" data-lang="en">
          Features
        </div>

        <div class="waglpedia__service-explanation hidden" data-lang="ko">
          루미오는 오픈 소스로 개발된 덕분에 독자적으로 서비스를 개발하려는 경우에 활용이 수월하다. 일정 기간 안에 자신의 찬/반 의견을 자유롭게 바꿀 수 있다는 점도 특징이다. 논의 내용에 따라 이용자들은 유연하게 입장을 정할 수가 있는 것이다. 웹 기반으로 개발되어 범용성을 가지는 한편으로 모바일 접근성이 떨어지는 단점이 있다. 주요 기능이 한글화되어 있다는 점도 주목할 만하다.
        </div>
        <div class="waglpedia__service-explanation hidden" data-lang="en">
          Because Loomio is an open source software, it is well suited towards independent service developers.  Furthermore, another specialty of the platform is that users can flexibly change their opinions regarding an issue. Users can constantly change and renew their stances by following the flow of the online discussions. 
        </div>
      </div>
    </div>
  </div>

  <a class="left carousel-control" href=".waglpedia-loomio" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
  </a>
  <a class="right carousel-control" href=".waglpedia-loomio" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
  </a>

  <div class="waglpedia__service-link-container">
    <a href="https://loomio.org/" target="_blank" class="waglpedia__service-link">
      <span class="hidden" data-lang="ko">더 알아보기</span>
      <span class="hidden" data-lang="en">More info</span>
    </a>
  </div>
</div>
