<div class="collapse waglpedia__service--collapsed open_ministry" data-service-name="open_ministry">
  <div class="waglpedia__service-name--collapsed">
    Open Ministry
  </div>

  <div class="waglpedia__service-tags--collapsed">
    <span class="waglpedia__service-tag hidden" data-lang="ko">#의사결정/토론</span>
    <span class="waglpedia__service-tag hidden" data-lang="en">#Deliberation</span>
    <span class="waglpedia__service-tag hidden" data-lang="ko">#시민참여</span>
    <span class="waglpedia__service-tag hidden" data-lang="en">#Governance</span>
  </div>

  <div class="carousel slide waglpedia-open_ministry" data-ride="carousel" data-interval="false">
    <ol class="carousel-indicators">
      <li data-target=".waglpedia-open_ministry" data-slide-to="0" class="active"></li>
      <li data-target=".waglpedia-open_ministry" data-slide-to="1"></li>
      <li data-target=".waglpedia-open_ministry" data-slide-to="2"></li>
    </ol>

    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img src="/static/img/waglpedia/open_ministry/instructions.png" class="waglpedia__service-screenshot" />

        <div class="waglpedia__explanation-category hidden" data-lang="ko">
          사용법
        </div>
        <div class="waglpedia__explanation-category hidden" data-lang="en">
          Details
        </div>

        <div class="waglpedia__service-explanation hidden" data-lang="ko">
          1. 국회에 전달하고 싶은 원하는 법률이나 의견을 제안합니다.<br/>
          2. 법률 관련 전문가의 도움을 통해 실제로 법안을 작성해 특정 법안에 대해서 지지서명과 캠페인들을 해볼 수 있습니다.<br/>
          3. 5만 명 이상의 지지를 받으면 법안이 국회로 자동회부 됩니다.
        </div>
        <div class="waglpedia__service-explanation hidden" data-lang="en">
          1. Draft and upload the policy or initiative you want reviewed for submission to parliament.<br/>
          2. With the help of a legislating expert, you can also upload, advocate, and campaign for a drafted bill.<br/>
          3. If the bill receives more than 50,000 signatories, it will automatically be submitted to the Finnish parliament.
        </div>
      </div>
      <div class="item">
        <img src="/static/img/waglpedia/open_ministry/example.png" class="waglpedia__service-screenshot" />

        <div class="waglpedia__explanation-category hidden" data-lang="ko">
          사례
        </div>
        <div class="waglpedia__explanation-category hidden" data-lang="en">
          Case Study
        </div>

        <div class="waglpedia__service-explanation hidden" data-lang="ko">
          정부 공식 웹사이트가 개설되기 전까지 약 10개월 가량 오픈 미니스트리를 통해 모두 5개의 법안이 5만 명의 지지를 얻어 국회에 회부되었고, 이중 1건(결혼법 개정안)이 표결에 부쳐져 최종 통과되었다.
        </div>
        <div class="waglpedia__service-explanation hidden" data-lang="en">
          Prior to the establishment of Kansalaisaloite, 5 bills with 50,000+ citizen signatories were submitted through Open Ministry in a timespan of 10 months. One of these citizen initiated bills (a marital law revision) was passed and implemented with a majority vote.
        </div>
      </div>
      <div class="item">
        <img src="/static/img/waglpedia/open_ministry/implication.png" class="waglpedia__service-screenshot" />

        <div class="waglpedia__explanation-category hidden" data-lang="ko">
          시사점
        </div>
        <div class="waglpedia__explanation-category hidden" data-lang="en">
          Features
        </div>

        <div class="waglpedia__service-explanation hidden" data-lang="ko">
          현재 핀란드 국민발의는 오픈 미니스트리가 아닌 정부 공식 웹사이트인 칸살라이스 알로이테에서 이루어지고 있다. 그것과 비교해 오픈 미니스트리가 갖는 장점은 제안 또는 법안발의 내용을 위키피디아 형태의 집단작업을 거쳐 다듬는 기능을 제공하고, 이 내용에 대해 법조인과 학자 등 전문가 감수를 통해 보완하는 온/오프라인 협업 체계로 서비스를 뒷받침했다는 점이다. 다수 시민의 단발적인 참여와 소수 전문가의 협업을 통해 국민발의를 핀란드 내에서 성공적으로 정착시킨 온라인 플랫폼으로 평가받는다.
        </div>
        <div class="waglpedia__service-explanation hidden" data-lang="en">
          Although citizen initiatives in Finland are currently being processed by the official service, Kansalaisaloite, Open Ministry displays advantages as well. For one, it helps foster increased collaboration on proposals and bills by publishing the drafts publicly in a wikipedia format. Also, the supplementary review by legislative experts and scholars that proposals go through under Open Ministry produces more effective and applicable initiatives.
        </div>
      </div>
    </div>
  </div>

  <a class="left carousel-control" href=".waglpedia-open_ministry" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
  </a>
  <a class="right carousel-control" href=".waglpedia-open_ministry" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
  </a>

  <div class="waglpedia__service-link-container">
    <a href="http://www.avoinministerio.fi/" target="_blank" class="waglpedia__service-link">
      <span class="hidden" data-lang="ko">더 알아보기</span>
      <span class="hidden" data-lang="en">More info</span>
    </a>
  </div>
</div>
