<div class="collapse waglpedia__service--collapsed parti" data-service-name="parti">
  <div class="waglpedia__service-name--collapsed">
    Parti
  </div>
  
  <div class="waglpedia__service-tags--collapsed">
    <span class="waglpedia__service-tag hidden" data-lang="ko">#의사결정/토론</span>
    <span class="waglpedia__service-tag hidden" data-lang="en">#Deliberation</span>
    <span class="waglpedia__service-tag hidden" data-lang="ko">#매체/커뮤니티</span>
    <span class="waglpedia__service-tag hidden" data-lang="en">#Media/Community</span>
  </div>
  
  <div class="carousel slide waglpedia-parti" data-ride="carousel" data-interval="false">
    <ol class="carousel-indicators">
      <li data-target=".waglpedia-parti" data-slide-to="0" class="active"></li>
      <li data-target=".waglpedia-parti" data-slide-to="1"></li>
      <li data-target=".waglpedia-parti" data-slide-to="2"></li>
    </ol>
  
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img src="/static/img/waglpedia/parti/instructions.png" class="waglpedia__service-screenshot" />
        
        <div class="waglpedia__explanation-category hidden" data-lang="ko">
          사용법
        </div>
        <div class="waglpedia__explanation-category hidden" data-lang="en">
          Instrunctions
        </div>
        
        <div class="waglpedia__service-explanation hidden" data-lang="ko">
          1. party.xyz에 접속해 오른쪽 메뉴 바 '빠띠찾기'에서 관심있는 주제를 클릭한다.<br/>
          2. 타임라인에서 게시물을 구경하고 좋아요를 누르거나 댓글을 달아본다.<br/>
          3. 관심있는 주제들을 구독하고 게시물도 올려본다.
        </div>
        <div class="waglpedia__service-explanation hidden" data-lang="en">
          1. On Parti.xyz, select the issue of your interest in the menu bar entitled “Find a Parti”.
          2. While browsing through content in the timeline, you can like content or add comments.
          3. You can subscribe to your topics of interest and write posts.
        </div>
      </div>
      <div class="item">
        <img src="/static/img/waglpedia/parti/example.png" class="waglpedia__service-screenshot" />
        
        <div class="waglpedia__explanation-category hidden" data-lang="ko">
          사례
        </div>
        <div class="waglpedia__explanation-category hidden" data-lang="en">
          Example
        </div>
        
        <div class="waglpedia__service-explanation hidden" data-lang="ko">
          2016년 4월 현재 약 30여 개의 이슈에 대해 600여 건이 넘는 글이 올라와 있다. 세월호, 총선 등 시사성 있는 현안부터 더 나은 민주주의, 페미니즘 등 사회 이념에 관한 내용에 이르기까지 다양한 주제에 대한 논의가 진행되고 있다.
        </div>
        <div class="waglpedia__service-explanation hidden" data-lang="en">
          On Parti, there are a wide variety of issues that range from topics in current society such as the Sewol Ferry Incident and recent elections in Korea, to philosophies like feminism and a better democracy.
        </div>
      </div>
      <div class="item">
        <img src="/static/img/waglpedia/parti/implication.png" class="waglpedia__service-screenshot" />
        
        <div class="waglpedia__explanation-category hidden" data-lang="ko">
          시사점
        </div>
        <div class="waglpedia__explanation-category hidden" data-lang="en">
          Implication
        </div>
        
        <div class="waglpedia__service-explanation hidden" data-lang="ko">
          빠띠는 '방' 중심으로 운영되는 국내 온라인 공간의 특성을 최대한 살리면서, 한 가지 이슈에 대한 토론과 자료 아카이빙, 주장, 의사결정이 종합적으로 이루어질 수 있는 공간을 지향한다. 이슈의 휘발성을 최소화하면서도 시간의 경과에 따라 논의가 더 깊어질 수 있다.
        </div>
        <div class="waglpedia__service-explanation hidden" data-lang="en">
          Parti strives to create an online space for the discussion, archiving, and decision making of specific issues, whilst maintaining the defining characteristic of Korea’s online platforms that is “partitioned-room” based operations. 
        </div>
      </div>
    </div>
  </div>
  
  <a class="left carousel-control" href=".waglpedia-parti" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
  </a>
  <a class="right carousel-control" href=".waglpedia-parti" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
  </a>
   
  <div class="waglpedia__service-link-container">
    <a href="http://parti.xyz/" target="_blank" class="waglpedia__service-link">
      <span class="hidden" data-lang="ko">더 알아보기</span>
      <span class="hidden" data-lang="en">More info</span>
    </a>
  </div>
</div>
