<div class="collapse waglpedia__service--collapsed polis" data-service-name="polis">
  <div class="waglpedia__service-name--collapsed">
    Polis
  </div>
  
  <div class="waglpedia__service-tags--collapsed">
    <span class="waglpedia__service-tag hidden" data-lang="ko">#의사결정/토론</span>
    <span class="waglpedia__service-tag hidden" data-lang="en">#Deliberation</span>
  </div>
  
  <div class="carousel slide waglpedia-polis" data-ride="carousel" data-interval="false">
    <ol class="carousel-indicators">
      <li data-target=".waglpedia-polis" data-slide-to="0" class="active"></li>
      <li data-target=".waglpedia-polis" data-slide-to="1"></li>
      <li data-target=".waglpedia-polis" data-slide-to="2"></li>
    </ol>
  
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img src="/static/img/waglpedia/polis/instructions.png" class="waglpedia__service-screenshot" />
        
        <div class="waglpedia__explanation-category hidden" data-lang="ko">
          사용법
        </div>
        <div class="waglpedia__explanation-category hidden" data-lang="en">
          Details
        </div>
        
        <div class="waglpedia__service-explanation hidden" data-lang="ko">
          1. Pol.is에 접속해 로그인한 후 새로운 이용 링크를 만듭니다.<br/>
          2. 질문을 만들고 링크를 공유해 사람들이 응답하게 합니다.<br/>
          3. 응답에 따라 이용자들의 위치가 2차원 지도상에 표시됩니다.
        </div>
        <div class="waglpedia__service-explanation hidden" data-lang="en">
          1. Once you are logged in on pol.is, select “Create a new conversation”.<br/>
          2. Configure your conversation with the topic of your choice and share the link to allow other users to comment.<br/>
          3. Depending on your Yes/No answers, you will be placed on a map along with other users similar in answers.
        </div>
      </div>
      <div class="item">
        <img src="/static/img/waglpedia/polis/example.png" class="waglpedia__service-screenshot" />
        
        <div class="waglpedia__explanation-category hidden" data-lang="ko">
          사례
        </div>
        <div class="waglpedia__explanation-category hidden" data-lang="en">
          Case Study
        </div>
        
        <div class="waglpedia__service-explanation hidden" data-lang="ko">
          시애틀에서 만들어진 폴리스는 대만에서 많이 쓰였다. 거브제로가 중간 다리 역할을 해서 대만 내 우버 택시 도입 논의, 정치토크쇼에서의 의견 크라우드소싱 등에서 활용되었다. 특히 우버 택시 도입 과정에서 정부, 택시업계, 시민들의 의견을 효과적으로 수렴해 의견을 도출해내는 데 큰 역할을 했다.
        </div>
        <div class="waglpedia__service-explanation hidden" data-lang="en">
          Developed in Seattle, Polis has been used effectively in Taiwan. With g0v acting as a middle bridge, the discussions on introducing Uber taxis was hosted on the platform. Also, viewer responses on a Taiwanese political talkshow were crowdsourced by Polis. Most markedly, its role in collectively processing the stances of the government, taxi companies, and citizens during the Uber introduction was integral for smooth operations. 
        </div>
      </div>
      <div class="item">
        <img src="/static/img/waglpedia/polis/implication.png" class="waglpedia__service-screenshot" />
        
        <div class="waglpedia__explanation-category hidden" data-lang="ko">
          시사점
        </div>
        <div class="waglpedia__explanation-category hidden" data-lang="en">
          Features
        </div>
        
        <div class="waglpedia__service-explanation hidden" data-lang="ko">
          이슈에 대한 여론지형도를 사전에 파악하거나 대규모 회의 등에서 참가자의 즉각적인 의사표시를 통해 논의를 효율적으로 진행하려고 할 때 폴리스는 매우 유용하다. 페이스북 연동 기능을 제공하여 불특정 다수가 참여하더라도 이용자 파악이 어느 정도는 가능하다는 점은 강점이기도 하지만 개인 계정이 노출된다는 점에서 약점이다. 링크 하나로 언제 어디서나 접근할 수 있고 관리자를 위한 다양한 옵션이 별도로 마련되어 있다. 
        </div>
        <div class="waglpedia__service-explanation hidden" data-lang="en">
          Conferencing in large groups can create massive amounts of data. Polis is extremely effective at analyzing the statistics of the discussion and calculating voting patterns, consensuses, and organizing similar contents together. This can help sort huge conferences into more organized and compartmentalized discussions to boost productivity. In regards to easy access, Polis is scoring high marks by allowing users to participate anytime anywhere with one link, and opening up a variety of flexible settings for the group leaders to manipulate. 
        </div>
      </div>
    </div>
  </div>
  
  <a class="left carousel-control" href=".waglpedia-polis" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
  </a>
  <a class="right carousel-control" href=".waglpedia-polis" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
  </a>
   
  <div class="waglpedia__service-link-container">
    <a href="https://pol.is/" target="_blank" class="waglpedia__service-link">
      <span class="hidden" data-lang="ko">더 알아보기</span>
      <span class="hidden" data-lang="en">More info</span>
    </a>
  </div>
</div>
