<div class="collapse profile--collapsed jinsunlee">
  <div class="profile__vision">
    "정치는 공학이 아닙니다. 좋은 정치는 인간의 선한 의지를 끄집어내는 종합예술입니다."
  </div>
  
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
      <div class="profile__self-introduction">
        악마와 싸우다 악마와 닮아버리는 정치블랙홀에서 벗어나지 못하면 우리에게 새로운 미래는 없다는 생각을 합니다. 소수의 직업적 정치인들이 독점하는 정치가 아니라 평범한 시민들이 광범하게 참여하고 감시하고 주도하는 시민참여의 정치를 통해서 일그러진 대의제의 단점을 보완해야만 우리의 미래를 우리 스스로 결정할 수 있는 권한을 가지게 된다고 믿습니다. 이진순대표는 와글에 유일한 장년세대로서, “젊은 대안” “업데이트된 민주주의”를 모색하는 여정에 젊은 동료들과 함께 일하는 것을 큰 기쁨으로 여깁니다.
      </div>
    </div>
      
    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
      <div class="profile__career">
        <li>2015. 8. 와글 공동설립</li>
        <li>2013. 9. - 2014. 12. 희망제작소 부소장</li>
        <li>2009. - 2013. 미국 올드 도미니언대학교 커뮤니케이션학과 조교수</li>
        <li>2009. 미국 럿거스대학 미디어연구학 박사</li>
        <li>1988. 서울대 사회학과 졸업</li>
      </div>
    </div>
  </div>
</div>
