<div class="collapse profile--collapsed jinsunlee">
  <div class="profile__vision">
  </div>
  
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
      <div class="profile__self-introduction">
        이진순 대표는 새로운 소통기술과 시민참여가 세상을 어떻게 바꾸는지 연구하고 있습니다.<br/> 사람 사이의 수평적 그물망이 어떻게 거대한 수직의 권력을 제어하는지, 평범한 사람들의 따뜻함이 어떻게 얼어붙은 세상을 되살리는지 찾아내는 일에 큰 기쁨을 느낍니다.
      </div>
    </div>
      
    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
      <div class="profile__career">
      </div>
    </div>
  </div>
</div>
