<div class="collapse profile--collapsed jiyounghwang">
  <div class="profile__vision">
    "문제를 제기하고 아픔을 호소하는 이들의 목소리가 변화로 이어지도록 하고 싶습니다."
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
      <div class="profile__self-introduction">
        황지영 매니저는 사회적 문제를 해결하는 다양한 방식 중 보다 효율적으로 더 큰 임팩트를 가져올 수 있는 사회적 기업들을 접하며 사회 혁신 분야에 매력을 느끼게 되었습니다. 큰 문제에는 무뎌지고 '조그마한 일에만 분개하'는 일상에 문제의식을 느끼고 정치에도 관심을 갖기 시작했습니다. 와글에서 IT기술을 활용하여 정치적 문제를 해결하는 다양한 사례를 리서치하고 있습니다.
      </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
      <div class="profile__career">
        <li>2016. 3. - 2016. 8. 대학생 개발동아리 '멋쟁이사자처럼'</li>
        <li>2012. 8. - 2013. 7. 한미학생회의(KASC) 집행위원</li>
        <li>2011. 3. - 2013. 3. 한양대학교 사회적기업가동아리(SEN)</li>
      </div>
    </div>
  </div>
</div>
