<div class="collapse profile--collapsed jungkyusuh">
  <div class="profile__vision">
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
      <div class="profile__self-introduction">
        서정규 프로젝트 매니저는 공공 데이터를 활용한 시빅 해킹Civic Hacking에 관심을 가지고 해외 사례를 바탕으로 자연어 처리 및 네트워크 분석 등 정량적 기법을 의정/사법/언론 감시에 적용하는 실험을 진행해왔습니다.<br/> 그 실험 중 하나로 2016년 국회의원 총선거 투표 가이드 서비스인 P!NG Korea를 기획하였고, 공공 분야의 내실 있는 기술 활용을 독려하여 IT 강국의 위상에 걸맞게끔 한국내 시빅 테크 신Civic Tech Scene 조성을 목표로 와글에서의 활동을 이어나가고 있습니다.
      </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
      <div class="profile__career">
        <li>2011 런던정치경제대학교 국제정치경제학 석사 졸업</li>
        <li>2010 런던정치경제대학교 국제관계학사 졸업</li>
      </div>
    </div>
  </div>
</div>
