<div class="collapse profile--collapsed junghyunkim">
  <div class="profile__vision">
    "우리가 바라는 것을 이야기하는 일이 세상을 바꾸는 첫 걸음이라고 믿습니다."
  </div>
  
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
      <div class="profile__self-introduction">
        김정현 매니저는 정치가 일상과 삶의 모든 영역에 영향을 미친다는 사실에 깊은 관심을 가지고, 평범한 사람들이 조금 더 행복할 수 있는 세상을 만들어가는 다양한 활동에 참여했습니다.<br/> 주로 글쓰는 일을 통해 사람들과 만나 생각과 경험을 나누면서, 컨텐츠 기획 및 미디어와 관련된 역량을 쌓았습니다. 그러한 경험을 살려 와글에서 각종 미디어를 넘나드는 저작물 생산과 이벤트/서비스 기획을 맡고 있습니다.
      </div>
    </div>
      
    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
      <div class="profile__career">
        <li>2015 2. 서울대학교 교육학과 졸업</li>
        <li>2012 제19대 총선 청년당 대변인 / 미디어팀</li>
        <li>2010 - 2012 서울대학교 교육저널 편집위원</li>
      </div>
    </div>
  </div>
</div>
