<div class="collapse profile--collapsed juyeonhan">
  <div class="profile__vision">
    "우리의 같음과 다름을, 세계의 균열을 이해하기 위해 계속해서 타인의 자리에 서보는 연습을 합니다."
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
      <div class="profile__self-introduction">
        한주연 매니저는 문화인류학을 통해 세상을 이루는 구조를 보는 동시에 현장에서 직접 사람들을 만나 개별적인 삶을 이해하는 작업을 해왔습니다. 시각디자인과 디자인 사고법(design thinking)을 통해 이런 이야기들을 구현했습니다.<br/> 최근에는 새로운 시대의 시민에게 필요한 고민과 실천에 관심을 가지고 관련 자료들을 발굴하고 이를 공유하는 일을 하고 있습니다.
      </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
      <div class="profile__career">
        <li>2016. 1. - 2016. 8. 와글</li>
        <li>2016. 2. 연세대학교 문화인류학과 졸업</li>
        <li>2014 다학제 디자인 협업 학회 DEMA 학회장</li>
        <li>2012. 8. - 2012. 12. 덴마크 크로어룹 호이스콜레(Krogerup Højskole) 국제학 과정 수료</li>
        <li>2012. 4. - 2012. 8. 덴마크 디자인 비영리재단 INDEX: Design to Improve Life 교육팀 인턴</li>
        <li>2011. 9. - 2012. 3. 하자 창의허브 인턴 수료</li>
      </div>
    </div>
  </div>
</div>
