<div class="collapse profile--collapsed sinaeju">
  <div class="profile__vision">
    "더 작은 목소리, 들리지 않는 이야기에 귀 기울입니다."
  </div>
  
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
      <div class="profile__self-introduction">
        주신애 매니저는 일상을 살아가는 사람들의 소소한 이야기부터, 사회에서 소외받는 계층과 잘 알려지지 않은 사회 문제를 글과 그림으로 더 많은 이들에게 전하는 작업을 해왔습니다.<br/> 이를 어렵게 느껴질 수 있는 정치와 접목시켜 더 많은 사람들이 쉽고 재미있게 참여할 수 있도록 돕고 있고, 현재는 청소년 공론장 프로젝트를 진행하면서 관련된 이야기들을 그림으로 그리고 있습니다.
      </div>
    </div>
      
    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
      <div class="profile__career">
        <li>2015. 2. 태국여행기 &lt;방방콕콕&gt; 발간</li>
        <li>2015. 2. 청강문화산업대학교 만화창작전공 졸업</li>
        <li>2014. 2. 만화책 &lt;김주열&gt; 발간</li>
        <li>2011. 2. 홍동마을을 소재로 한 만화책 &lt;우리 마을 이야기&gt;</li>
      </div>
    </div>
  </div>
</div>
