<div class="collapse profile--collapsed soyeonjin">
  <div class="profile__vision">
    “소수자의 목소리가 영향력 가질 수 있는 사회를 만들고 싶습니다”
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
      <div class="profile__self-introduction">
        항상 다양한 문화와 소수자에 관심이 많았던 진소연 매니저는 문제의식을 제기하는 만화를 그리고 시민단체의 캠페인에 참여해왔지만 그 이상의 힘이 필요하다고 느꼈습니다. 그렇게 시민 모두에게 공평하게 힘이 돌아가는 사회를 만들고 싶어서 와글에 들어왔습니다. 와글의 지향점을 컨텐츠로 만드는 스토리텔러 역할을 하고 있습니다.
      </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
      <div class="profile__career">
        <li>2016. 5. 네이버 웹툰 베스트도전 적절한 교환일기 연재</li>
        <li>2016. 3. 민우회 여성의 날 ‘마트 노동자 의자 캠페인’ 참여 </li>
        <li>2015. 9. - 10. 한국여성민우회 ‘성형산업스파이’ 기획단 참여</li>
        <li>2015. 3. - 8. 독일 자브뤼켄 KIST Europe, 국제협력팀 인턴</li>
      </div>
    </div>
  </div>
</div>
