<div class="collapse profile--collapsed ukjinyang">
  <div class="profile__vision">
    "프로그래밍 기술로 더 많은 사람들에게 좋은 영향을 주고 싶습니다."
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
      <div class="profile__self-introduction">
        제가 가진 기술이 많은 사람들에게 좋은 영향을, 더 나아가서 생활의 양식도 바꿀 수 있다고 믿습니다.<br/> 대학 졸업 후 프로그래밍을 직업으로 삼으면서 서비스 제작과 관련된 역량을 쌓았습니다.<br/> 이러한 경험들과 위 비젼을 바탕으로 civic hacking 에 관련된 서비스들을 제작하고 있습니다.
      </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
      <div class="profile__career">
        <li>2016. 1 - 2016. 6 와글</li>
        <li>2015. 4. - 2015. 12. 스타트업 서비스 개발</li>
        <li>2014. 2. - 2015. 3. 삼성전자 DMC 연구소</li>
        <li>2014. 1. 포항공대 화학공학과 졸업</li>
      </div>
    </div>
  </div>
</div>
