<div class="collapse profile--collapsed yeokyunglee">
  <div class="profile__vision">
    "세상이 더 나은 방향으로 변화하리라 믿는 어리석음을 좋아합니다."
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
      <div class="profile__self-introduction">
        이여경 펠로우는 '자치는 어떻게 가능할까'를 늘 고민해 오다가 대학에서 만난 친구들과 자치공동체를 만드는 실험을 지속하고 있습니다. 자치는 힘들고 귀찮은 일이지만 그 과정에서 얻게 되는 경험과 동료들은 삶에 있어 든든한 힘이 된다는 믿음으로 세상을 변화시켜가는 기쁜 분투에 더 많은 사람들이 함께 하기를 바라고 있습니다.
      </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
      <div class="profile__career">
        <li>2015. 9. - 2016. 3. 와글</li>
      </div>
    </div>
  </div>
</div>
