<div class="collapse profile--collapsed yoonjungpark">
  <div class="profile__vision">
    "공략하기보다는 낙후시켜라"
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
      <div class="profile__self-introduction">
        박윤중 매니저는 글만으로 세상을 배우는 데 어느 순간부터 지쳐버렸다고 합니다. "의식이 존재를 규정하는 것이 아니라, 존재가 의식을 규정한다"라는 명제를 기억하며, 연구원을 떠나 와글사무실 한 귀퉁이에 자리를 잡았습니다. 네트워크분석, 토픽모델링 등 정량적 방법을 활용한 공공데이터 분석과 시각화에 관심이 있습니다. 와글에서 리서치 및 웹/데이터기획을 맡아, 낡은 정치를 공략하며 낙후시키는 데 힘을 보태고 있습니다.
      </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
      <div class="profile__career">
        <li>2015. 6. - 2016. 6. 서울대학교 사회발전연구소 소셜네트워크컴퓨팅센터 연구원</li>
        <li>2009 - 2015 연세대 사회학과 학/석사</li>
        <li>2008. 인도 사회적기업 탐방기 <아름다운 거짓말> 공저</li>
      </div>
    </div>
  </div>
</div>
