<div class="collapse profile--collapsed younghwancheon">
  <div class="profile__vision">
    "모든 인간은 현재의 세계(the present world)에 사는 시민이자, 동시에 상상의 세계(an imagined world)에 존재하는 시민이다."
  </div>
  
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
      <div class="profile__self-introduction">
        천영환 매니저는 스물세살에 복합문화공간을 창업하여 새로운 문화적 시도들을 하기도 하고, 테드(TED) 라이센스를 통한 지식공유활동 등 다양한 커뮤니티와 공론의 장을 만드는 일을 해왔습니다.<br/> 사회적자본 및 공유경제 정책을 담당하면서 거버넌스와 시민참여 플랫폼에 대해 고민해왔고, 자연스럽게 더 나은 민주주의와 시민이 정치의 주체가 되는 과정에 관심을 갖게 되었습니다.<br/> 와글의 전체적인 프로젝트들을 조율하고, 다양한 커뮤니티와 네트워크 맺으며 다음세대를 위한 공동선을 찾기 위해 노력하고 있습니다.
      </div>
    </div>
      
    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
      <div class="profile__career">
        <li>2013 대전광역시 사회적자본지원센터 사업지원팀장</li>
        <li>2011 코워킹 스페이스 '벌집(Birlzip)' 디렉터</li>
        <li>2010 TEDx Licensee</li>
        <li>2007 복합문화공간 '1986 noname' 창업</li>
      </div>
    </div>
  </div>
</div>
