---
# Front matter block to use liquid tags                                                              
---

<!DOCTYPE html>
<html>
<head>
  <title>와글 소개</title>

  {% include head.html %}

  <link rel="stylesheet" type="text/css" href="static/css/styles.css" />
  <link rel="stylesheet" type="text/css" href="static/css/base.css" />
  <link rel="stylesheet" type="text/css" href="static/css/about.css" />
</head>
<body>
  <input type="hidden" id="title-ko" value="와글 소개" />
  <input type="hidden" id="title-en" value="About WAGL" />

  {% include navbar.html %}

  <div id="space_header"></div>
  <div id="message1" class="section message">
    <div class="content hidden" data-lang="ko">
      와글와글한 군중의 힘으로 만들어가는<br/>
      더 나은 민주주의
    </div>
    <div class="content hidden" data-lang="en">
      A.R.T. Democracy<br/>
      through the Power of the Crowd
    </div>
  </div>
  <div id="introduce" class="section">
    <div class="content">
      <div class="title">
        <div class="hidden" data-lang="ko">
          와글 소개
        </div>
        <div class="hidden" data-lang="en">
          About WAGL
        </div>
        <div class="decorator"></div>
      </div>
      <div id="article1" class="article">
        <div class="article_title hidden" data-lang="ko">
          정치 스타트업 와글을 소개합니다.
        </div>
        <div class="article_title hidden" data-lang="en">
          WAGL, Politics Start-up
        </div>
        <div class="article_paragraph">
          <div class="motto">
            We All Govern Lab
          </div>
          <div class="hidden" data-lang="ko">
            와글(WAGL)은 '와글와글한 군중의 힘으로 세상을 바꾸는 실험'을 하는 <br/>
            정치 스타트업으로 2015년 8월 설립되었습니다.<br/><br/>
            시민 모두가 정치의 주체가 되어 우리 사회를 운영하는 세상을 꿈꾸는 <br/>
            와글은, 와글와글 다양한 목소리로 터져 나오는 군중들의 아우성을 <br/>
            영양가 있는 우리 시대의 자산으로 만들고, 이를 통해 정치혁신과 <br/>
            더 나은 민주주의를 만들어가는 실험실입니다.
          </div>
          <div class="hidden" data-lang="en">
            WAGL is a democracy lab dedicated to transforming<br/>
            the political status quo and ushering a better kind<br/>
            of democracy. We capitalize on the collective intelligence<br/>  
            of the crowd, which we believe should be the<br/>
            principal agent of change in this century.
          </div>
        </div>
      </div>
      <div id="article2" class="article">
        <div class="article_title">
          <div id="bi">
            <img src="static/img/logo/korean_version.png" /><br/>
            <img src="static/img/logo/english_version.png" />
          </div>
        </div>
        <div class="article_paragraph">
          <div class="motto hidden" data-lang="ko">
            와글와글, 시민들의 목소리
          </div>
          <div class="motto hidden" data-lang="en">
            Your Voice for All
          </div>
          <div class="hidden" data-lang="ko">
            와글은 시민들의 목소리야말로 곧 정치를 바꾸어낼 원동력이자 <br/>
            소중한 자산이라고 생각합니다. 따옴표는 바로 그러한 시민들의 <br/>
            목소리를 가리키는 동시에 그 목소리를 담아낼 그릇으로서 와글의 <br/>
            비전을 드러냅니다. 동시에 와글와글한 군중의 역동적인 에너지와 <br/>
            아우성을 정치의 장으로 따옴으로써 더 나은 민주주의를 만들겠다는<br/>
            와글의 미션을 담고 있습니다.
          </div>
          <div class="hidden" data-lang="en">
            WAGL believes that the voice of the citizens offer<br/>
            our best chance of meaningful political change. <br/>
            Our logo - the quotation mark - refers not only to <br/>
            the voice of the citizen, but also to our vision <br/>
            to become a vessel for those voices. In the same time, <br/>
            the quotation mark signifies WAGL’s mission, which is<br/>
            to quote the clamor and dynamism of the masses<br/>
            in the established politcial arena.
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="message2" class="section message">
    <div class="content hidden" data-lang="ko">
      와글은 세상을 보다 더 나은곳으로<br/>
      변화시킬 수 있다는 믿음을 가진 사람들과 함께합니다.
    </div>
    <div class="content hidden" data-lang="en">
      WAGL is a group of people <br/>
      that believe a better future is possible.
    </div>
  </div>
  <div class="section">
    <div class="content center">
      <div class="title hidden" data-lang="ko">
        언론에서 본 와글
      </div>
      <div class="title hidden" data-lang="en">
        WAGL in the press
      </div>
      <div class="decorator"></div>
      <div id="news">
        <div class="news">
          <div class="news_source hidden" data-lang="ko">
            블로터
          </div>
          <div class="news_source hidden" data-lang="en">
            Bloter
          </div>
          <div class="news_date">
            2015.12.04
          </div>
          <div class="news_title hidden" data-lang="ko">
            <span>정치벤처 와글의 ‘듣도 보도 못한 정치’ 실험</span>
          </div>
          <div class="news_title hidden" data-lang="en">
            <span>WAGL's Political Experiment from Nowhere and Everywhere</span>
          </div>
          <div class="news_content">
            <div class="news_photo" style="background: url('static/img/about/story1.jpg');"></div>
            <div class="news_text">
              와글이 주목하는 단위는 마을기업, 협동조합, 지역공동체 청년 네트워크, 사회적기업, 소셜벤처 등이다. 구시대적 부패의 사슬로부터 독립된 단위에서 새로운 상상력을 펼칠 수 있다고 와글은 본다. “시민들이 결정한다는 게 사람들 죄다 모아서 ‘A 좋아하는 분 손 드세요’ 하자는 의미가 아닙니다. 전문가와 시민들이 충분히 이야기하고, 정보 접근성도 높이고, 그것을 이해하기 쉽게 전달하는 장치도 있어야 한다는 거죠.”
              <a class="news_origin" href="http://www.bloter.net/archives/242631" target="_blank">원문보기</a>
            </div>
          </div>
        </div>
        <div class="news">
          <div class="news_source hidden" data-lang="ko">
            경향신문
          </div>
          <div class="news_source hidden" data-lang="en">
            Kyunghyang Shinmun
          </div>
          <div class="news_date">2016.01.25</div>
          <div class="news_title hidden" data-lang="ko">
            <span>와글 이진순 대표 "정치에 대한 패러다임 자체가<br/>총체적으로 바뀌어야 한다"</span>
          </div>
          <div class="news_title hidden" data-lang="en">
            <span>Jinny Lee "We need a wholesale paradigm shift in politics"</span>
          </div>
          <div class="news_content">
            <div class="news_text">
              “온라인의 가능성에 주목해 시민의 자발적 의견개진과 권한행사가 가능한 공간으로 만드는 노력을 해야 한다”
              <a class="news_origin" href="http://news.khan.co.kr/kh_news/khan_art_view.html?artid=201601252210245&code=910110" target="_blank">원문보기</a>
            </div>
          </div>
        </div>
        <div class="news">
          <div class="news_source hidden" data-lang="ko">
            조선일보
          </div>
          <div class="news_source hidden" data-lang="en">
            Chosun Ilbo
          </div>
          <div class="news_date">
            2016.03.29
          </div>
          <div class="news_title hidden" data-lang="ko">
            <span>[더 나은 미래] 20대 총선, 어디까지 알고 있니</span>
          </div>
          <div class="news_title hidden" data-lang="en">
            <span>[A Better Future] A Review of the Tools for this Parliamentary Election</span>
          </div>
          <div class="news_content">
            <div class="news_text">
              P!NG 코리아 개발자 서정규 씨 "선거 앞둔 유권자의 더 나은 선택 돕는 촉매제 되기를 기대"
              <a class="news_origin" href="http://news.chosun.com/site/data/html_dir/2016/03/28/2016032802047.html" target="_blank">원문보기</a>
            </div>              
          </div>
        </div>
        <br/>
        <div class="news_more hidden" data-lang="ko">
          + 와글 관련 기사 더 보기
        </div>
        <div class="news_more hidden" data-lang="en">
          + More Press
        </div>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="content center">
      <div class="title">
        <div class="hidden" data-lang="ko">
          함께하는 사람들
        </div>
        <div class="hidden" data-lang="en">
          About Us
        </div>
        <div class="decorator"></div>
      </div>
      <div id="people">
        <div class="people_line">
          <div id="js_lee" class="people">
            <img class="people_photo" src="static/img/about/profile/js_lee.png" />
            <div class="people_name hidden" data-lang="ko">
              이진순
            </div>
            <div class="people_name hidden" data-lang="en">
              Jinsun Lee
            </div>
            <div class="people_job">
              Founder
            </div>
            <div class="people_email">
              jinny@wagl.net
            </div>
          </div>
          <div id="jh_kim" class="people">
            <img class="people_photo" src="static/img/about/profile/jh_kim.png" />
            <div class="people_name hidden" data-lang="ko">
              김정현
            </div>
            <div class="people_name hidden" data-lang="en">
              Joseph Kim
            </div>
            <div class="people_job">
              Project Manager
            </div>
            <div class="people_email">
              joseph@wagl.net
            </div>
          </div>
          <div id="yh_cheon" class="people">
            <img class="people_photo" src="static/img/about/profile/yh_cheon.png" />
            <div class="people_name hidden" data-lang="ko">
              천영환
            </div>
            <div class="people_name hidden" data-lang="en">
              Young-hwan Cheon
            </div>
            <div class="people_job">
              Senior Manager
            </div>
            <div class="people_email">
              bee@wagl.net
            </div>
          </div>
          <div id="jk_seo" class="people">
            <img class="people_photo" src="static/img/about/profile/jk_seo.jpg" />
            <div class="people_name hidden" data-lang="ko">
              서정규
            </div>
            <div class="people_name hidden" data-lang="en">
              JK Suh
            </div>
            <div class="people_job">
              Project Manager
            </div>
            <div class="people_email">
              jk.suh@wagl.net
            </div>
          </div>
        </div>
        <div id="js_lee_detail" class="people_detail">
          <div class="people_sns"></div>
          <div class="people_quote"></div>
          <div class="people_bio">
            이진순 대표는 새로운 소통기술과 시민참여가 세상을 어떻게 바꾸는지 연구하고 있습니다.<br/>
            사람 사이의 수평적 그물망이 어떻게 거대한 수직의 권력을 제어하는지, 평범한 사람들의 따뜻함이 어떻게 얼어붙은 세상을 되살리는지 찾아내는 일에 큰 기쁨을 느낍니다.
          </div>
          <div class="people_career"></div>
        </div>
        <div id="jh_kim_detail" class="people_detail">
          <div class="people_sns"></div>
          <div class="people_quote">
            “우리가 바라는 것을 이야기하는 일이<br/>
            세상을 바꾸는 첫 걸음이라고 믿습니다.”
          </div>
          <div class="people_bio">
            김정현 매니저는 정치가 일상과 삶의 모든 영역에 영향을 미친다는 사실에 깊은 관심을 가지고, 평범한 사람들이 조금 더 행복할 수 있는 세상을 만들어가는 다양한 활동에 참여했습니다.<br/>
            주로 글쓰는 일을 통해 사람들과 만나 생각과 경험을 나누면서, 컨텐츠 기획 및 미디어와 관련된 역량을 쌓았습니다. 그러한 경험을 살려 와글에서 각종 미디어를 넘나드는 저작물 생산과 이벤트/서비스 기획을 맡고 있습니다.
          </div>
          <div class="people_career">
            2015 2. 서울대학교 교육학과 졸업<br/>
            2012 제19대 총선 청년당 대변인 / 미디어팀<br/>
            2010 - 2012 서울대학교 교육저널 편집위원
          </div>
        </div>
        <div id="yh_cheon_detail" class="people_detail">
          <div class="people_sns"></div>
          <div class="people_quote">
            “모든 인간은 현재의 세계(the present world)에 사는 시민이자, 동시에 상상의 세계(an imagined world)에 존재하는 시민이다. ”              
          </div>
          <div class="people_bio">
            천영환 매니저는 스물세살에 복합문화공간을 창업하여 새로운 문화적 시도들을 하기도 하고, 테드(TED) 라이센스를 통한 지식공유활동 등 다양한 커뮤니티와 공론의 장을 만드는 일을 해왔습니다.<br/> 
            사회적자본 및 공유경제 정책을 담당하면서 거버넌스와 시민참여 플랫폼에 대해 고민해왔고, 자연스럽게 더 나은 민주주의와 시민이 정치의 주체가 되는 과정에 관심을 갖게 되었습니다.<br/>
            와글의 전체적인 프로젝트들을 조율하고, 다양한 커뮤니티와 네트워크 맺으며 다음세대를 위한 공동선을 찾기 위해 노력하고 있습니다.

          </div>
          <div class="people_career">
           2013 대전광역시 사회적자본지원센터 사업지원팀장<br/>
           2011 코워킹 스페이스 '벌집(Birlzip)' 디렉터<br/>
           2010 TEDx Licensee<br/>
           2007 복합문화공간 '1986 noname' 창업
          </div>
        </div>
        <div id="jk_seo_detail" class="people_detail">
          <div class="people_sns"></div>
          <div class="people_bio">
            서정규 프로젝트 매니저는 공공 데이터를 활용한 시빅 해킹Civic Hacking에 관심을 가지고, 해외 사례를 바탕으로 자연어 처리 및 네트워크 분석 등 정량적 기법을 의정/사법/언론 감시에 적용하는 실험을 진행해왔습니다.<br/>
            그 실험 중 하나로 2016년 국회의원 총선거 투표 가이드 서비스인 P!NG Korea를 기획하였고, 공공 분야의 내실 있는 기술 활용을 독려하여 IT 강국의 위상에 걸맞게끔 한국내 시빅 테크 신Civic Tech Scene 조성을 목표로 와글에서의 활동을 이어나가고 있습니다.
          </div>
          <div class="people_career">
            2011 런던정치경제대학교 국제정치경제학 석사 졸업<br/>
            2010 런던정치경제대학교 국제관계학사 졸업
          </div>
        </div>
        <div class="people_line">
          <div id="uj_yang" class="people">
            <img class="people_photo" src="static/img/about/profile/uj_yang.jpg" />
            <div class="people_name hidden" data-lang="ko">
              양욱진
            </div>
            <div class="people_name hidden" data-lang="en">
              Uk-Jin Yang
            </div>
            <div class="people_job">
              Software Engineer
            </div>
            <div class="people_email">
              ukjinyang@wagl.net
            </div>
          </div>
          <div id="jy_han" class="people">
            <img class="people_photo" src="static/img/about/profile/jy_han.jpg" />
            <div class="people_name hidden" data-lang="ko">
              한주연
            </div>
            <div class="people_name hidden" data-lang="en">
              Jennybe Han
            </div>
            <div class="people_job">
              Project Manager
            </div>
            <div class="people_email">
              jennybe@wagl.net
            </div>
          </div>
          <div id="sa_ju" class="people">
            <img class="people_photo" src="static/img/about/profile/sa_ju.jpg" />
            <div class="people_name hidden" data-lang="ko">
              주신애
            </div>
            <div class="people_name hidden" data-lang="en">
              Sinae Ju
            </div>
            <div class="people_job">
              Illustrator
            </div>
            <div class="people_email">
              skyseado@wagl.net
            </div>
          </div>
        </div>
        <div id="uj_yang_detail" class="people_detail">
          <div class="people_sns"></div>
          <div class="people_quote">
            “프로그래밍 기술로 더 많은 사람들에게<br/>
            좋은 영향을 주고 싶습니다.”
          </div>
          <div class="people_bio">
            제가 가진 기술이 많은 사람들에게 좋은 영향을, 더 나아가서 생활의 양식도 바꿀 수 있다고 믿습니다.<br/>
            대학 졸업 후 프로그래밍을 직업으로 삼으면서 서비스 제작과 관련된 역량을 쌓았습니다.<br/>
            이러한 경험들과 위 비젼을 바탕으로 civic hacking 에 관련된 서비스들을 제작하고 있습니다.
          </div>
          <div class="people_career">
            2015. 4. - 2015. 12. 스타트업, 서비스 개발<br/>
            2014. 2. - 2015. 3. 삼성전자 DMC 연구소<br/>
            2007. 3. - 2014.1. 포항공대 화학공학과 졸업
          </div>
        </div>
        <div id="jy_han_detail" class="people_detail">
          <div class="people_sns"></div>
          <div class="people_quote">
            “우리의 같음과 다름을, 세계의 균열을 이해하기 위해 계속해서 타인의 자리에 서보는 연습을 합니다.”
          </div>
          <div class="people_bio">
            한주연 매니저는 문화인류학을 통해 세상을 이루는 구조를 보는 동시에 현장에서 직접 사람들을 만나 개별적인 삶을 이해하는 작업을 해왔습니다. 시각디자인과 디자인 사고법(design thinking)을 통해 이런 이야기들을 구현했습니다.<br/>
            최근에는 새로운 시대의 시민에게 필요한 고민과 실천에 관심을 가지고 관련 자료들을 발굴하고 이를 공유하는 일을 하고 있습니다.
          </div>
          <div class="people_career">
            2016. 2. 연세대학교 문화인류학과 졸업<br/>
            2014 다학제 디자인 협업 학회 DEMA 학회장<br/>
            2012. 8. - 2012. 12. 덴마크 크로어룹 호이스콜레(Krogerup Højskole) 국제학 과정 수료<br/>
            2012. 4. - 2012. 8. 덴마크 디자인 비영리재단 INDEX: Design to Improve Life 교육팀 인턴<br/>
            2011. 9. - 2012. 3. 하자 창의허브 인턴 수료
          </div>
        </div>
        <div id="sa_ju_detail" class="people_detail">
          <div class="people_sns"></div>
          <div class="people_quote">
            “더 작은 목소리,<br/>
            들리지 않는 이야기에 귀 기울입니다.”
          </div>
          <div class="people_bio">
            주신애 매니저는 일상을 살아가는 사람들의 소소한 이야기부터, 사회에서 소외받는 계층과 잘 알려지지 않은 사회 문제를 글과 그림으로 더 많은 이들에게 전하는 작업을 해왔습니다.<br/>
            이를 어렵게 느껴질 수 있는 정치와 접목시켜 더 많은 사람들이 쉽고 재미있게 참여할 수 있도록 돕고 있고, 현재는 청소년 공론장 프로젝트를 진행하면서 관련된 이야기들을 그림으로 그리고 있습니다.
          </div>
          <div class="people_career">
            2015. 2. 태국여행기 〈방방콕콕〉 발간<br/>
            2015. 2. 청강문화산업대학교 만화창작전공 졸업<br/>
            2014. 2. 만화책 〈김주열〉 발간<br/>
            2011. 2. 홍동마을을 소재로 한 만화책 〈우리 마을 이야기〉 발간
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="content center">
      <div class="title">
        <div class="hidden" data-lang="ko">
          주소와 연락처
        </div>
        <div class="hidden" data-lang="en">
          Contact Us
        </div>
        <div class="decorator"></div>
      </div>
      <div id="contact">
        <div id="google_map">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12654.05089735375!2d127.03821624132283!3d37.54298224060264!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357ca49b12422361%3A0x4189d28b32c71f49!2z7ISc7Jq47Yq567OE7IucIOyEseuPmeq1rCDshLHsiJgx6rCAMeuPmSA2NTYtMTIxMg!5e0!3m2!1sko!2skr!4v1445929427017" width="469" height="428" frameborder="0" style="border:0" allowfullscreen=""></iframe>
        </div>
        <div class="contact_info hidden" data-lang="ko">
          <span class="big">주소</span><br/>
          서울특별시 성동구<br/>
          성수1가1동 656-1212,<br/>
          <span class="small">(우편번호 04779)</span><br/>
          <br/>
          <span class="big">연락처</span><br/>
          대표전화 070-8250-0346<br/>
          대표메일 info@wagl.net<br/>
        </div>
        <div class="contact_info hidden" data-lang="en">
          <span class="big">Address</span><br/>
          4F, CND Bdg., 20, Wangsimni-ro 2-gil, Seoul, S.Korea<br/>
          <span class="small">(Postal Code 04779)</span><br/>
          <br/>
          <span class="big">Number & E-mail</span><br/>
          T. 070-8250-0346<br/>
          M. info@wagl.net<br/>
        </div>
      </div>
    </div>
  </div>

  {% include footer.html %}

  {% include common_js.html %}
  <script src="/static/js/about.js"></script>
</body>
</html>
