---
# Front matter block to use liquid tags                                                              
---

<!DOCTYPE html>
<html>
<head>
  <title>와글 WAGL | 프로젝트</title>

  {% include head.html %}

  <link rel="stylesheet" type="text/css" href="css/base.css" />
  <link rel="stylesheet" type="text/css" href="css/civictech.css" />
</head>
<body>
  {% include navbar.html %}

  <div id="space_header"></div>
  <div id="cover" class="section message">
    <div class="content">
      Civic-tech<br>
      일상기술과 민주주의가 만나다
    </div>
  </div>
  <div class="section">
    <div id="main" class="content center">
      <div class="paragraph">
        <div class="header2">
          민주주의 아티스트가 되는<br>
          가장 확실한 방법
        </div>
        <div class="text">
          <div class="header3">
            와글와글한 시민들의 목소리야말로<br>
            더 나은 민주주의를 꽃피울 소중한 정치적 자산입니다.
          </div>
          와글은 일상기술과 민주주의가 만날 수 있는 디지털 플랫폼을 연구하고 제공함으로써, 더 많은 사람들이 정치적 효능감을 갖고 공동체의 문제를 해결하기 위해 지속적으로 참여함으로써 A.R.T. 민주주의를 만들어가는 아티스트가 되기를 희망합니다.
        </div>
      </div>
      <img src="img/project/civictech/Ping_img.png">
      <div class="paragraph">
        <div class="header2">
          P!NG KOREA 핑코리아
        </div>
        <div class="text">
          “국내 최초의 온라인 투표 가이드 서비스”를 표방하는 핑코리아는 와글 내에서 인큐베이팅한 정치 애플리케이션 프로젝트 팀에 의해 탄생했습니다. 다차원 정치 성향 분석을 통해 정치, 외교, 경제, 사회 등 여러 영역의 구체적인 이슈에 대한 이용자의 답변을 토대로 서비스 이용자와 정당 또는 후보 간의 궁합을 시각적으로 보여줌으로써, 이용자의 정책 투표를 독려합니다.<br>
          <a id="btn_ping" href="http://pingkorea.com/">핑코리아 바로가기</a>
        </div>
      </div>
      <div id="news">
        <a class="news" href="http://www.mediaus.co.kr/news/articleView.html?idxno=54934">
          <div class="news_source">미디어스</div>
          <div class="news_date">2016.04.07</div>
          <div class="news_title">
            <span>나와 맞는 정당 찾기, 1분 30초면 충분!</span>
          </div>
        </a>
        <a class="news" href="http://www.bloter.net/archives/253185">
          <div class="news_source">블로터</div>
          <div class="news_date">2016.03.30</div>
          <div class="news_title">
            <span>“잠깐! 나와 궁합 맞는 정당은 확인하고 투표하시나요?”</span>
          </div>
        </a>
        <a id="news_more">
          + 핑코리아 관련 기사 더 보기
        </a>
      </div>
    </div>
  </div>

  {% include footer.html %}

  {% include common_js.html %}
</body>
</html>
