---
# Front matter block to use liquid tags                                                              
---

<!DOCTYPE html>
<html>
<head>
  <title>와글 프로젝트</title>

  {% include head.html %}

  <link rel="stylesheet" type="text/css" href="static/css/styles.css" />
  <link rel="stylesheet" type="text/css" href="static/css/base.css" />
  <link rel="stylesheet" type="text/css" href="static/css/collaboration.css" />
</head>
<body>
  <input type="hidden" id="title-ko" value="와글 프로젝트" />
  <input type="hidden" id="title-en" value="WAGL Projects" />

  {% include navbar.html %}

  <div id="space_header"></div>
  <div id="cover" class="section message">
    <div class="content hidden" data-lang="ko">
      Collaboration / Network<br/>
      국내외 협업과 네트워킹
    </div>
    <div class="content hidden" data-lang="en">
      Collaboration / Networking<br/>
      Apporach to Domestic and International Innovators
    </div>
  </div>
  <div class="section">
    <div id="main" class="content">
      <div class="paragraph">
        <div class="header2 hidden" data-lang="ko">
          만나고, 소통하고, 협업합니다
        </div>
        <div class="header2 hidden" data-lang="en">
          Communicating and <br/>
          Collaborating <br/>
          with the Crowd
        </div>
        <div class="text">
          <div class="header3 hidden" data-lang="ko">
            와글은 다양한 영역에서 사회 혁신을 위해 일하고 있는 분들을 초청해 캠프, 강연 등 다양한 형태로 소통하고 협업할 기회를 마련하는 만남의 장을 마련합니다.
          </div>
          <div class="header3 hidden" data-lang="en">
            WAGL creates a collaborative environment for social innovation by bringing together innovators in Camps and Lecture Series.
          </div>
          <div class="hidden" data-lang="ko">
            정치, 풀뿌리운동, 시빅 테크, 저널리즘 등 다양한 영역에서 일상기술과 와글와글한 군중의 힘을 모아내고 행동하는 분들의 경험과 아이디어를 나누고, 국내외 사회혁신 운동의 흐름을 공유합니다.
          </div>          
          <div class="hidden" data-lang="en">
            We not only share experiences and ideas from pioneers that channel the voice of the crowd in politics, grass roots activism, civic tech, and journalism, but also share the broad stream of social innovation in Korea and around the world.
          </div>          
        </div>          
      </div>
      <div class="paragraph">
        <div class="header2 hidden" data-lang="ko">
          와글 국제 컨퍼런스<br/>
          Camp: by the Crowd '15
        </div>
        <div class="header2 hidden" data-lang="en">
          International Meet-up<br/>
          Camp: by the Crowd '15
        </div>
        <div class="text">
          <iframe class="video" src="https://www.youtube.com/embed/BQZ7UEvD7G8?rel=0" frameborder="0" allowfullscreen></iframe>
          <div class="header3 hidden" data-lang="ko">
            해외 여러 나라와 국내에서 사회혁신을 위해 몸담고 있는 30여 명이 한국에 모였습니다.
          </div>
          <div class="header3 hidden" data-lang="en">
            30 social innovators from around the world convened in Jeju, Korea.
          </div>
          <div class="hidden" data-lang="ko">
            “와글와글한 군중의 힘”을 모아내기 위해 지혜를 발휘하고 있는 참가자들은 2015년 12월 3일부터 6일까지 3박 4일간 제주도에서 형식과 내용에 제한이 없는 ‘언컨퍼런스’ 행사를 통해 각자의 경험, 생각을 나누면서 치열하게 고민하는 시간을 가졌습니다. 와글은 이 행사를 계기로 연결된 국내외 혁신가들과 지속적으로 소통하면서 협업 기회를 모색하고 있습니다.
          </div> 
          <div class="hidden" data-lang="en">
            The participants, pooling their wisdom to gather the “power of the crowd”, spent three nights and four days in an unconference that was full of sharing know hows and identifying fault lines. WAGL continues to communicate with these innovators, probing for opportunities for collaboration in the future.
          </div> 
        </div> 
      </div>
      <div class="paragraph small_bot_margin">
        <div class="header2 hidden" data-lang="ko">
          2015 시리즈 공개강연
        </div>
        <div class="header2 hidden" data-lang="en">
          2015 WAGL Lecture Series
        </div>
        <div class="text">
          <div class="header3 hidden" data-lang="ko">
            2015년 캠프에 초청한 해외 혁신가들이 한국의 시민들과 생각을 나누는 자리로 두 차례 강연이 열렸습니다.
          </div>
          <div class="header3 hidden" data-lang="en">
            WAGL hosted two lectures where innovators from the Camp were given the chance to share their thoughts with the Korean public.
          </div>
          <div class="hidden" data-lang="ko">
            주로 정치혁신 분야의 해외 인사들이 참여한 이 행사에서 청중들은 디지털 도구를 활용해 연사들에게 직접 질문하고 코멘트하면서 열띤 대화를 이어갔습니다. 시민주도의 정치혁신과 새로운 정당 건설을 주도하고 제도정치에서 배제되어 온 99%를 위한 민주주의 구현에 앞장서온 해외 활동가, 개발자, 이론가들이 정치혁신에 목마른 한국의 시민들에게 자신의 경험담을 들려주는 자리였습니다.
          </div>
          <div class="hidden" data-lang="en">
            The 2015 Lecture Series mainly focused on political innovators, and features several digital tools that allowed for instant mutual interaction between the speakers and the audience. International activists, programmers, and theorists imparted their experiences of including the 99% into their democratic processes onto a Korean audience thirsting for political innovation.
          </div>
        </div>
      </div>
      <div id="lectures">
        <div class="lecture">
          <img class="lecture_photo" src="static/img/project/collaboration/lecture01.jpg" />
          <div class="lecture_title hidden" data-lang="ko">
            시민을 위한 일상기술(Civic Tech)로 혁신하다: 99% 민주주의
          </div>
          <div class="lecture_title hidden" data-lang="en">
            Civic Tech: A Vision of 99% Democracy
          </div>
          <div class="lecture_detail hidden" data-lang="ko">
            일시 : 2015년 12월 2일<br/>
            장소 : 은행권청년창업재단 디캠프<br/>
            연사 : 리처드 바틀렛(엔스파이럴), 야고 베르메호(라보데모), 크리스티나 플레셔(애버딘 대학)
          </div>
          <div class="lecture_detail hidden" data-lang="en">
            Date : 2015. 12. 2.<br/>
            Place : D-Camp (Seoul)<br/>
            Speakers : Richard Bartlett (Enspiral), Yago Bermejo Abati (Labodemo), Christina Flesher Fominaya(University of Aberdeen)
          </div>
          <a class="lecture_link" target="_blank" href="http://news.joins.com/article/19200693">관련기사 2</a>
          <a class="lecture_link" target="_blank" href="http://www.bloter.net/archives/245286">관련기사 1</a>
          <!--Press 1 Press 2 로 해주시면 될 듯 합니다 -->
        </div>
        <div class="lecture">
          <img class="lecture_photo" src="static/img/project/collaboration/lecture02.jpg" />
          <div class="lecture_title hidden" data-lang="ko">
            오픈 소스 정치의 개막: 99%의 지혜 + 1%의 상상
          </div>
          <div class="lecture_title hidden" data-lang="en">
            The Dawn of Open Source Politics: 99% Wisdom + 1% Imagination
          </div>
          <div class="lecture_detail hidden" data-lang="ko">
            일시 : 2015년 12월 7일<br/>
            장소 : 연세대학교 신용재홀<br/>
            연사 : 벤 나이트(루미오), 미겔 아라나(마드리드 시), 제임스 매키니(오픈 노스)
          </div>
          <div class="lecture_detail hidden" data-lang="en">
            Date: 2015. 12. 7.<br/>
            Place : Yonsei University (Seoul)<br/>
            Speakers : Ben Knight(Loomio), Miguel Arana Catania(City of Madrid), James McKinney(Open North)
          </div>
          <a class="lecture_link" target="_blank" href="http://www.mediatoday.co.kr/news/articleView.html?idxno=126505">관련기사</a>
          <!-- 마찬가지로 Press 로 해주시면 됩니다 -->
        </div>
      </div>
    </div>
  </div>

  {% include footer.html %}

  {% include common_js.html %}
</body>
</html>
