---
# Front matter block to use liquid tags                                                              
---

<!DOCTYPE html>
<html>
<head>
  <title>와글 프로젝트</title>

  {% include head.html %}

  <link rel="stylesheet" type="text/css" href="static/css/styles.css" />
</head>
<body>
  <input type="hidden" id="title-ko" value="와글 프로젝트" />
  <input type="hidden" id="title-en" value="WAGL Projects" />

  <!-- Loading icon -->
  <div id="loading-icon"></div>

  <div id="main-container" style="opacity: 0;">

    {% include navbar.html %}

    <div class="community__intro">
      <img src="/static/img/community/intro_background_image.png" class="section__background-image" />
      
      <div class="title--emphasized hidden" data-lang="ko">
        Community<br/>
        풀뿌리 커뮤니티 지원과 발굴
      </div>
      <div class="title--emphasized hidden" data-lang="en">
        Community<br/>
        Support for Grassroots Groups
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 project__title-container">
          <div class="project__title hidden" data-lang="ko">
            와글와글, 풀뿌리의 힘
          </div>
          <div class="project__title hidden" data-lang="en">
            WAGL, The power of Grassroots
          </div>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 project__subtitle-container">
          <div class="project__subtitle hidden" data-lang="ko">
            기존의 정치와 권력으로부터 독립된 풀뿌리 단위야말로 새로운 정치적 상상력을 공유하고 실현시킬 주체입니다.
          </div>
          <div class="project__subtitle hidden" data-lang="en">
            We believe that the grassroot unit, independent of established politics and power structures, is the true subject of new political imagination.
          </div>
          
          <div class="project__content hidden" data-lang="ko">
            와글은 마을기업, 협동조합, 지역공동체 청년/청소년 네트워크. 사회적기업, 소셜벤처 등 유연하고 자율적인 모임과 함께 가장 아름다운 민주주의 이상을 그려나갑니다.
          </div>
          <div class="project__content hidden" data-lang="en">
            WAGL contributes to make the ideal of democracy together with autonomous and flexible groups such as community enterprises, cooperatives, youth network and etc.
          </div>
        </div>
      </div>
    </div>

    <div class="space"></div>
    <div class="space"></div>
    <div class="hidden-xs">
      <div class="space"></div>
    </div>

    <div class="container">
      <div class="project__image-container">
        <img src="/static/img/community/presentation_capture.png" class="full-width" />
      </div>
    </div>

    <div class="hidden-xs">
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 project__title-container">
          <div class="project__title hidden" data-lang="ko">
            청소년 정치참여 프로젝트
          </div>
          <div class="project__title hidden" data-lang="en">
            Youth Political Participation Project
          </div>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 project__subtitle-container">
          <div class="project__subtitle hidden" data-lang="ko">
            청소년들이 가진 문제와 의견을 드러내고 함께 이야기할 온라인 청소년 공론장을 만듭니다.
          </div>
          <div class="project__subtitle hidden" data-lang="en">
            WAGL is developing an online forum for young people that will help young people voice their opinion on issues specific to their generation.
          </div>
          
          <div class="project__content hidden" data-lang="ko">
            청소년들이 독자적인 사회 구성원으로 자리매김하기 위해서는 자신들의 이야기를 할 수 있는 공간을 만들고, 이곳에서 적극적인 의견 교류를 통해 청소년의 다양한 목소리를 묶어내고, 이것이 사회적으로 대변될 수 있는 기회를 탐색할 수 있습니다.
          </div>
          <div class="project__content hidden" data-lang="en">
            WAGL’s forum will enable young people to exchange their opinion and give them a place to be heard. Such a forum provides the opportunity for young people to position themselves as full members of our political community.
          </div>
        </div>
      </div>
    </div>

    <div class="hidden-xs">
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 project__title-container">
          <div class="project__title hidden" data-lang="ko">
            시빅해킹 커뮤니티
          </div>
          <div class="project__title hidden" data-lang="en">
            Civic Hacking Community
          </div>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 project__subtitle-container">
          <div class="project__subtitle hidden" data-lang="ko">
            IT 기술을 이용하여 사회문제를 해결하려는 다양한 시빅해킹 커뮤니티와 함께 합니다.
          </div>
          <div class="project__subtitle hidden" data-lang="en">
            We collaborate with a variety of civic hacking communities on solving social problems.
          </div>
          
          <div class="project__content hidden" data-lang="ko">
            시빅해킹은 기획자, 개발자, 디자이너 및 일반 시민 등 많은 사람들이 참여할수록 더 다양한 기술과 관점을 통해 우리사회의 여러 문제들을 해결하는데 도움이 됩니다. 국내의 다양한 시빅해킹 커뮤니티와의 네트워킹을 통해, 새로운 방식으로 사회를 변화시키기 위한 노력을 하고 있습니다.
          </div>
          <div class="project__content hidden" data-lang="en">
            Through various networks of civic hacking communities, we make an effort to change our society in a new way that developers, designers and social entrepreneurs of the communities have adopted to social problems so far.
          </div>
        </div>
      </div>
    </div>

    <div class="hidden-xs">
      <div class="space"></div>
    </div>
    <div class="space"></div>
    <div class="space"></div>

    <div class="container community__partners">
      <div class="row">
        <a href="http://bit.ly/1WJDsmp" target="_blank" class="col-xs-6 col-sm-4 col-md-4 col-lg-4 community__partner-logo">
          <img src="/static/img/community/the_minple.png" class="full-width" />
        </a>
        <a href="http://codeforseoul.org/" target="_blank" class="col-xs-6 col-sm-4 col-md-4 col-lg-4 community__partner-logo">
          <img src="/static/img/community/code_for_seoul.png" class="full-width" />
        </a>
        <a href="http://www.cckorea.org/" target="_blank" class="col-xs-6 col-sm-4 col-md-4 col-lg-4 community__partner-logo">
          <img src="/static/img/community/creative_commons_korea.png" class="full-width" />
        </a>
      </div>
    </div>

    <div class="space"></div>
    <div class="space"></div>

    {% include footer.html %}
  </div>

  {% include common_js.html %}
</body>
</html>
