---
# Front matter block to use liquid tags
---

<!DOCTYPE html>
<html>
<head>
  <title>Contact</title>

  {% include head.html %}

  <link rel="stylesheet" type="text/css" href="static/css/styles.css" />
</head>
<body>
  <input type="hidden" id="title-ko" value="Contact" />
  <input type="hidden" id="title-en" value="Contact" />

  <!-- Loading icon -->
  <div id="loading-icon"></div>

  <div id="main-container" style="opacity: 0;">

    {% include navbar.html %}

    <!--<div class="about__container">-->
      <!--<div class="row">-->
        <!--<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 about__title-container">-->
          <!--<div class="about__title hidden" data-lang="ko">-->
            <!--와글과 함께<br/>새로운 변화를 만들<br/>인재를 구합니다-->
          <!--</div>-->
          <!--<div class="about__title hidden" data-lang="en">-->
            <!--Join WAGL-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 about__subtitle-container">-->
          <!--<div>-->
            <!--<img src="/static/img/about/democracyartist.png" width="60%" />-->
          <!--</div>-->
          <!--<div class="about__subtitle hidden" data-lang="ko">-->
            <!--발칙한 상상력, 세상을 바꾸겠다는 강력한 야심 <br/> 전통과 상식을 깨는 혁신 의지, 여럿이 함께하는 기쁨을 아는 사람!-->
          <!--</div>-->
          <!--<div class="about__subtitle hidden" data-lang="en">-->
            <!--발칙한 상상력, 세상을 바꾸겠다는 강력한 야심 <br/> 전통과 상식을 깨는 혁신 의지, 여럿이 함께하는 기쁨을 아는 사람!-->
          <!--</div>-->
          <!--<div class="about__content hidden" data-lang="ko">-->
            <!--와글은 정치가 공학이 아니라, 인간의 선한 의지를 끄집어내는 종합 예술이라고 생각합니다. 새로운 변화를 도모하기 위한 와글의 문은 언제나 열려있습니다.-->
          <!--</div>-->
          <!--<div class="about__content hidden" data-lang="en">-->
            <!--와글은 정치가 공학이 아니라, 인간의 선한 의지를 끄집어내는 종합 예술이라고 생각합니다. 새로운 변화를 도모하기 위한 와글의 문은 언제나 열려있습니다.-->
          <!--</div>-->
        <!--</div>-->
        <!--<a href="https://docs.google.com/forms/d/e/1FAIpQLSdVdYuqVha-utayKO2z-BwA9Y0iTiP0YESb_Z7ENL-5TgVyjg/viewform" target="_blank" class="about__recruit-link">-->
          <!--<span class="hidden" data-lang="ko">더 알아보기</span>-->
          <!--<span class="hidden" data-lang="en">Learn more</span>-->
        <!--</a>-->
      <!--</div>-->
    <!--</div>-->

    <div class="container">
      <div class="page-name hidden" data-lang="ko">
        Contact
      </div>
      <div class="page-name hidden" data-lang="en">
        Contact
      </div>

      <hr class="page-name--bottom-border" />
    </div>

    <div class="container about__contact">
      <div class="visible-xs row contact--mobile">
        <div class="col-xs-6">
          <div class="contact__info--emphasized hidden" data-lang="ko">
            주소
          </div>
          <div class="contact__info--emphasized hidden" data-lang="en">
            Address
          </div>

          <div class="contact__info hidden" data-lang="ko">
            서울특별시 성동구<br/>
            성수1가1동 656-1212,<br/>
            (우편번호 04779)
          </div>
          <div class="contact__info hidden" data-lang="en">
            4F, CND Bdg., 20, Wangsimni-ro 2-gil, Seoul, S.Korea<br/>
            (Postal Code 04779)
          </div>
        </div>

        <div class="col-xs-6">
          <div class="contact__info--emphasized hidden" data-lang="ko">
            연락처
          </div>
          <div class="contact__info--emphasized hidden" data-lang="en">
            Number &amp; E-mail
          </div>

          <div class="contact__info hidden" data-lang="ko">
            대표전화 070-8250-0346<br/>
            대표메일 info@wagl.net
          </div>
          <div class="contact__info hidden" data-lang="en">
            T. 070-8250-0346<br/>
            M. info@wagl.net
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 contact__google-map">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12654.05089735375!2d127.03821624132283!3d37.54298224060264!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357ca49b12422361%3A0x4189d28b32c71f49!2z7ISc7Jq47Yq567OE7IucIOyEseuPmeq1rCDshLHsiJgx6rCAMeuPmSA2NTYtMTIxMg!5e0!3m2!1sko!2skr!4v1445929427017" width="469" height="428" frameborder="0" style="width: 100%; border: 0;" allowfullscreen></iframe>
        </div>
        <div class="hidden-xs col-sm-6 col-md-6 col-lg-6 contact--desktop">
          <img src="/static/img/about/contact_info_logo.png" class="contact__logo" />

          <div class="contact__info--emphasized hidden" data-lang="ko">
            주소
          </div>
          <div class="contact__info--emphasized hidden" data-lang="en">
            Address
          </div>

          <div class="contact__info hidden" data-lang="ko">
            서울특별시 성동구<br/>
            성수1가1동 656-1212,<br/>
            (우편번호 04779)
          </div>
          <div class="contact__info hidden" data-lang="en">
            4F, CND Bdg., 20, Wangsimni-ro 2-gil, Seoul, S.Korea<br/>
            (Postal Code 04779)
          </div>

          <div class="hidden-xs">
            <div class="space"></div>
          </div>

          <div class="contact__info--emphasized hidden" data-lang="ko">
            연락처
          </div>
          <div class="contact__info--emphasized hidden" data-lang="en">
            Number &amp; E-mail
          </div>

          <div class="contact__info hidden" data-lang="ko">
            대표전화 070-8250-0346<br/>
            대표메일 info@wagl.net
          </div>
          <div class="contact__info hidden" data-lang="en">
            T. 070-8250-0346<br/>
            M. info@wagl.net
          </div>
        </div>
      </div>
    </div>

    <div class="hidden-xs">
      <div class="space"></div>
      <div class="space"></div>
    </div>

    {% include footer.html %}
  </div>

  {% include common_js.html %}
  <script src="/static/js/about.js"></script>
</body>
</html>
