---
# Front matter block to use liquid tags                                                              
---

<!DOCTYPE html>
<html>
<head>
  <title>와글 매니페스토</title>

  {% include head.html %}

  <link rel="stylesheet" type="text/css" href="static/css/base.css" />
  <link rel="stylesheet" type="text/css" href="static/css/manifesto.css" />
</head>
<body>
  <input type="hidden" id="title-ko" value="와글 매니페스토" />
  <input type="hidden" id="title-en" value="WAGL Manifesto" />

  {% include navbar.html %}

  <div id="space_header"></div>
  <div id="section1" class="section message">
    <div class="content hidden" data-lang="ko">
      와글와글한 군중의 힘으로 만들어가는<br/>
      더 나은 민주주의
    </div>
    <div class="content hidden" data-lang="en">
      A Better Democracy -  By The Crowd
    </div>
  </div>
  <div id="section2" class="section">
    <div class="title">
      <div class="hidden" data-lang="ko">
        와글 매니페스토
      </div>
      <div class="hidden" data-lang="en">
        WAGL's Manifesto
      </div>
      <div class="decorator"></div>
    </div>
  </div>
  <div id="section3" class="section">
    <div class="content">
      <div id="article1" class="article left">
        <div class="article_title">
          <div class="article_subtitle">
            Why WAGL?
          </div>
          시민이 바로<br/>
          정치의 주인공입니다
          <!--Politics is All About Citizens-->
        </div>
        <div class="text">
          <div class="key-sentence">
            언젠가부터 정치는 깡통 통조림처럼<br/>
            획일적인 맛이 되어버렸습니다.
          </div>
          <!--Away with straitjackets!-->
          <div class="hidden" data-lang="ko">
            새정치다, 혁신이다 해서 돌아보면 그 나물에 그 밥입니다.<br/>
            어쩔 수 없이 차선이 아닌 차악을 택하려고 안간힘 쓰는 것도<br/>
            이제 신물이 납니다. 정치를 ‘전문가의 영역'으로 못박은 정치꾼들이<br/>
            원하는 건 박수치는 관중의 응원일 뿐, 다양한 목소리가 뒤섞인<br/>
            아우성이 아닙니다. 그 아우성은 영양가 없는 투덜이들의 불평불만일 뿐<br/>
            '표'가 안 된다고 여기니까요.<br/><br/>
            그러거나 말거나, 아우성 속에 담긴 시민들의 의견은 빛의 속도로<br/>
            쏟아져 나오고 있습니다. 인터넷과 모바일, 소셜 미디어는 사람 사이<br/>
            소통의 폭과 속도를 확 바꿔놨습니다. 시민들은 자신이 살고 있는<br/>
            국가와 사회에 대해서 거침없고 자유롭게 발언하면서<br/>
            정치의 ‘주인공'이 될 준비를 하고 있습니다. 이에 비하면 몇 년에<br/>
            한 번씩 선거에 참여하는 것 외에는 시민들이 아무 권한도 가지지 못하는<br/>
            지금 정치 제도는 느려터진 구형 컴퓨터와 마찬가지입니다.<br/><br/>
            시민 한 사람의 힘은 미약해 보이지만, 우리 일상 속 깊숙히 들어온<br/>
            디지털 도구를 잘 활용해 뒤섞인 목소리를 하나로 엮어내면<br/>
            가장 현명한 답에 이를 수 있습니다. 이러한 집단지성의 힘을 발휘해,<br/>
            ‘그들만의 리그’를 정치의 진짜 주인공인 시민의 품으로 되찾고자 합니다.
          </div>
          <div class="hidden" data-lang="en">
            Around many places, politics has become an exchange of canned platitudes and abuses, monopolized by professional politicians. Professional politicians are removed from everyday life, only craving the applause of an audience, not the bustle of the citizenry. To them, these ordinary voices amount only to cacophonous complaints, irrelevant to their electoral prospects. <br/><br/>
            In our rapidly changing world, a vote every four, five years is too long a wait for a critical update to our political system. Millions of clients are accessing a server that is chronically overloaded and too slow to adapt. Political alienation and democratic regression all tax the citizen dearly. The advent of the internet age, with its mobile devices, social media, instant messaging, and collaborative document sharing, have all fundamentally transformed our breadth and depth of interpersonal relationships. Each person is but a drop, but these tools of the modern age can funnel us into an ocean of collective intelligence - retrieving the professionalized political sphere into the hands of the citizens.
          </div>
        </div>
      </div>
      <div class="gradient left"></div>
    </div>
    <img class="quote" src="static/img/manifesto/quote_big.png" />
  </div>    
  <div id="section4" class="section">
    <div class="content">
      <div id="article2" class="article right">
        <div class="article_title">
          <div class="article_subtitle">
            How?
          </div>
          “엄지”로 만나는 일상정치
          <!--Everyday Politics from the Tip of our Thumbs-->
        </div>
        <div class="text">
          <div class="key-sentence hidden" data-lang="ko">
            와글이 정치를 하려고 하냐고요? 아닙니다. 와글은 우리<br/>
            모두가 정치를 하기를 원합니다.
          </div>
          <div class="key-sentence hidden" data-lang="en">
            Is WAGL doing politics? No.<br/>
            WAGL wants us all to do politics.
          </div>
          <div class="hidden" data-lang="ko">
            정치를 소수가 독점하는 링에서 끌어내려, 아기자기하고 떠들썩한<br/>
            우리 삶의 장터로 가져오려 합니다. 문제는 ‘어떻게’겠죠.<br/><br/>
            우리가 일상적으로 사용하는 기술을 활용해 정치혁신과 시민참여,<br/>
            숙의에 기반한 더 나은 민주주의를 만들 수 있습니다.<br/>
            점심 먹다 핸드폰으로 정책 토론을 벌이고 법안을 발의하고,<br/>
            퇴근 후에 식구들이랑 옹기종기 모여앉아 후보에게 점수를 매기고<br/>
            새로운 인물을 발굴해 선출하는, 일상화된 정치가 가능해집니다.<br/>
            이 모든 것은 시민들의 두 엄지손가락으로 해낼 수 있습니다.<br/><br/>
            와글은 가장 일상적인 기술을 정치와 접목시킴으로써 정치가 얼마나<br/>
            다양한 식재료와 새로운 레시피로 만들 수 있는 요리인지를<br/>
            보여 드리고자 합니다. 정치는 밥맛 떨어지는 혐오의 대상이 아니라<br/>
            살맛나는 시민의 잔치가 되어야 한다고 믿으니까요.
          </div>
          <div class="hidden" data-lang="en">
            WAGL believes that a better, truer democratic politics creates a realm for civic exchange predicated upon the active participation of the citizen, ready to solve the challenges facing us all.<br/><br/>
            We can realize this vision of a participatory, deliberative democracy by exploiting the technological advances upon us.
            A more routine vision of politics -  one in which we can debate policy over lunch, propose a new bill to parliament, score candidates after work around the dinner table, and electing those who have never seen th light of traditional media - is possible. This, and more, is possible with our thumbs.<br/><br/>
            WAGL believes that politics is possible anywhere and anytime, that politics is not a subject of disgust, but a gathering of citizens.<br/>
          </div>
        </div>
      </div>
      <div class="gradient right"></div>
    </div>
    <img class="quote" src="static/img/manifesto/quote_big.png" />
  </div>
  <div id="section5" class="section">
    <div class="content">
      <div id="article3" class="article left">
        <div class="article_title">
          <div class="article_subtitle">
            So what?
          </div>
          시민의 참여로<br/>
          ‘A.R.T. 민주주의’를 만들어갑니다
          <!--Participate! <br/> and Make A.R.T. Democracy a Reality-->
        </div>
        <div class="text">
          <div class="key-sentence">
            와글은 특권화, 직업화된 기성정치의 틀을 뛰어넘어<br/>
            정치의 본래적 의미를 찾기 위한 모든 풀뿌리차원의<br/>
            정치혁신을 연구하고 지원합니다.
            <!--WAGL studies and supports all grassroots-based political innovations that try to transcend the traits of traditional politics - elitism, professionalism, and traditionalism.-->
          </div>
          <div class="hidden" data-lang="ko">
            일상기술을 활용한 시민의 직접적 정치참여, 집단지성에 의한<br/>
            수평적 의사결정 모델, 풀뿌리집단의 정치세력화에 특히 관심을 갖고,<br/>
            이러한 노력을 자발적으로 실천해온 모든 개인 및 그룹과 프로젝트를<br/>
            추진합니다.<br/><br/>
            이를 통해 와글이 꿈꾸는 민주주의의 모습은<br/>
            책임성과 합리성을 갖추고(Accountable),<br/>
            시민들의 요구에 빠르고 민감하게 대응하며(Responsive),<br/>
            그 내용과 과정이 투명하게 공개되는(Transparent)<br/>
            A.R.T. 민주주의입니다. 이 과정에서 정치는 시민들에게 감동을 주고<br/>
            시민들과 공감할 수 있는 예술(Art)이 되기를 희망합니다.<br/>
            모든 시민은 그러한 민주주의를 만드는 아티스트가 되겠지요.<br/><br/>
            시민이 주인공이 되는 더 나은 민주주의에 관심을 갖고 계신 많은 분들의<br/>
            참여와 연락을 기다립니다.<br/><br/>
            감사합니다.
          </div>
          <div class="hidden" data-lang="en">
            WAGL is especially interested in direct citizen participation in politics through the internet and social media, flat decision-making models based on collective intelligence, as well as the political organization of grassroots groups. We plan and execute various projects with individuals and groups that have already implemented such endeavors. We are eager to connect with anyone interested in a better democracy, dedicated to bringing citizens back into mainstream politics.<br/>
          </div>
        </div>
      </div>
      <div class="gradient left"></div>
    </div>
    <img class="quote" src="static/img/manifesto/quote_big.png">
  </div>

  {% include footer.html %}

  {% include common_js.html %}
</body>
</html>
