---
# Front matter block to use liquid tags                                                              
---

<!DOCTYPE html>
<html>
<head>
  <title>와글 WAGL | 우리의 목소리</title>

  {% include head.html %}

  <link rel="stylesheet" type="text/css" href="css/base.css" />
  <link rel="stylesheet" type="text/css" href="css/index.css" />
  <link rel="stylesheet" type="text/css" href="css/voice.css" />
</head>
<body>
  {% include navbar.html %}

  <div id="space_header"></div>
  <div id="cover" class="section message">
    <div class="content">
      와글와글, 우리의 목소리
    </div>
  </div>
  <div class="section">
    <div class="content">
      <div class="title">
        당신이 꿈꾸는 민주주의는 어떤 모습인가요?
        <div class="decorator"></div>
      </div>
      <div class="text">
        여러분의 목소리를 들려주세요.<br>
        소중한 의견 하나하나가 모여 우리가 만들어갈 민주주의가 됩니다.
      </div>
    </div>
  </div>
  <div id="voice_wrapper" class="section">
    <div class="content">
      <div id="tags">
        <div class="tag">#민주주의</div>
        <div class="tag">#대한민국시민정치</div>
        <div class="tag">#정당대표</div>
        <div class="tag">#지역후보</div>
      </div>
      <div id="voice_container">
        <div id="speak_voice" class="voice">
          <div class="speaker">
            <img class="speaker_img" src="img/voice/WAGL_profile.png">
            <div class="speaker_name">나의 목소리</div>
          </div>
          <div id="speak_content">
            <textarea id="text_speak_voice" placeholder="당신의 목소리를 적어주세요."></textarea>
            <div id="letter_count">0/200</div>
          </div>
          <div id="hashtag">
            <input type="text" placeholder="#해쉬태그를 적어주세요.">
          </div>
          <div id="button_speak">목소리 내기</div>
        </div>
        <div class="voice">
          <div class="speaker color1">
            <img class="speaker_img" src="img/voice/WAGL_profile.png">
            <div class="speaker_name">테스트</div>
          </div>
          <div class="voice_content long">
           “시민의 목소리는 시민의 목소리입니다. 그리고 그렇다고 생각합니다. 하지만 그건 또 아니라고 생각합니다. 그렇습니다. 시민의 목소리는 시민의 목소리입니다. 그리고 그렇다고 생각합니다. 하지만 그건 또 아니라고 생각합니다. 그렇습니다. 시민의 목소리는 시민의 목소리입니다. 그리고 그렇다고 생각합니다. 하지만 그건 또 아니라고 생각합니다. 그렇습니다.”
          </div>
          <div class="voice_tag">#민주주의 #와글 #시민 #목소리 #우리 #대한민국</div>
          <img class="button_voice" src="img/voice/share-button.png">
          <img class="button_voice" src="img/voice/heart-button.png">
        </div>
        <div class="voice">
          <div class="speaker color2">
            <img class="speaker_img" src="img/voice/WAGL_profile.png">
            <div class="speaker_name">테스트</div>
          </div>
          <div class="voice_content short">
           “시민의 목소리는 시민의 목소리입니다. 그리고 그렇다고 생각합니다.”
          </div>
          <div class="voice_tag">#민주주의 #와글 #시민 #목소리 #우리 #대한민국</div>
          <img class="button_voice" src="img/voice/share-button.png">
          <img class="button_voice" src="img/voice/heart-button.png">
        </div>
        <div class="voice">
          <div class="speaker color3">
            <img class="speaker_img" src="img/voice/WAGL_profile.png">
            <div class="speaker_name">테스트</div>
          </div>
          <div class="voice_content">
           “시민의 목소리는 시민의 목소리입니다. 그리고 그렇다고 생각합니다. 하지만 그건 또 아니라고 생각합니다. 그렇습니다.”
          </div>
          <div class="voice_tag">#민주주의 #와글 #시민 #목소리 #우리 #대한민국</div>
          <img class="button_voice" src="img/voice/share-button.png">
          <img class="button_voice" src="img/voice/heart-button.png">
        </div>
        <div class="voice">
          <div class="speaker color4">
            <img class="speaker_img" src="img/voice/WAGL_profile.png">
            <div class="speaker_name">테스트</div>
          </div>
          <div class="voice_content">
           “시민의 목소리는 시민의 목소리입니다. 그리고 그렇다고 생각합니다. 하지만 그건 또 아니라고 생각합니다. 그렇습니다.”
          </div>
          <div class="voice_tag">#민주주의 #와글 #시민 #목소리 #우리 #대한민국</div>
          <img class="button_voice" src="img/voice/share-button.png">
          <img class="button_voice" src="img/voice/heart-button.png">
        </div>
        <div class="voice">
          <div class="speaker color5">
            <img class="speaker_img" src="img/voice/WAGL_profile.png">
            <div class="speaker_name">테스트</div>
          </div>
          <div class="voice_content short">
           “시민의 목소리는 시민의 목소리입니다. 그리고 그렇다고 생각합니다.”
          </div>
          <div class="voice_tag">#민주주의 #와글 #시민 #목소리 #우리 #대한민국</div>
          <img class="button_voice" src="img/voice/share-button.png">
          <img class="button_voice" src="img/voice/heart-button.png">
        </div>
      </div>        
    </div>
  </div>

  {% include footer.html %}

  {% include common_js.html %}
  <script src="static/js/voice.js"></script>
</body>
</html>
