---
# Front matter block to use liquid tags                                                              
---

<!DOCTYPE html>
<html>
<head>
  <title>와글피디아</title>

  {% include head.html %}

  <link rel="stylesheet" type="text/css" href="static/css/styles.css" />
</head>
<body>
  <input type="hidden" id="title-ko" value="와글피디아" />
  <input type="hidden" id="title-en" value="WAGL-PEDIA" />

  <!-- Loading icon -->
  <div id="loading-icon"></div>

  <div id="main-container" style="opacity: 0;">

    {% include navbar.html %}

    <div class="page-intro">
      <img src="/static/img/about/intro_background_image.png" class="section__background-image" />
      
      <div class="title--emphasized hidden" data-lang="ko">
        우리의 참여를 
        <div class="visible-xs"></div>
        북돋을 도구를 소개합니다.
      </div>
      <div class="title--emphasized hidden" data-lang="en">
        TBD
      </div>
    </div>

    <div class="container">
      <div class="page-name hidden" data-lang="ko">
        와글피디아
      </div>
      <div class="page-name hidden" data-lang="en">
        WAGL-PEDIA
      </div>
      
      <hr class="page-name--bottom-border" />
      
      <div class="waglpedia__intro hidden" data-lang="ko">
        더 나은 민주주의를 고민하는 모든 분들에게 
        <div class="hidden-xs"></div>
        도움이 될 참여형 도구와 온라인 플랫폼, 기업/단체를 소개합니다.
      </div>
      <div class="waglpedia__intro hidden" data-lang="en">
        TBD
      </div>
      
      <div class="waglpedia__intro--light hidden" data-lang="ko">
        앞으로도 계속 새로운 내용이 추가됩니다.
      </div>
      <div class="waglpedia__intro--light hidden" data-lang="en">
        TBD
      </div>
    </div>
    
    <div class="hidden-xs">
      <div class="space"></div>
      <div class="space"></div>
    </div>
    <div class="space"></div>
    
    <div class="container">
      <div class="waglpedia__tags hidden" data-lang="ko">
        <span class="waglpedia__tag waglpedia__tag--active" data-category="all">전체보기</span> &emsp; | &emsp;
        <span class="waglpedia__tag" data-category="deliberation">의사결정/토론</span> &emsp; | &emsp;  
        <span class="waglpedia__tag" data-category="open_data">공공데이터</span> &emsp; | &emsp; 
        <span class="waglpedia__tag" data-category="governance">시민참여</span>
        <span class="hidden-xs">
          &emsp; | &emsp; 
        </span>
        <div class="visible-xs"><br/></div>
        <span class="waglpedia__tag" data-category="electoral">선거/투표</span> &emsp; | &emsp; 
        <span class="waglpedia__tag" data-category="productivity">업무 생산성</span> &emsp; | &emsp; 
        <span class="waglpedia__tag" data-category="media_community">매체/커뮤니티</span> 
      </div>
      <div class="waglpedia__tags hidden" data-lang="en">
        <span class="waglpedia__tag waglpedia__tag--active" data-category="all">All</span> &emsp; | &emsp;
        <span class="waglpedia__tag" data-category="deliberation">Deliberation</span> &emsp; | &emsp;  
        <span class="waglpedia__tag" data-category="open_data">Open data</span> &emsp; | &emsp; 
        <span class="waglpedia__tag" data-category="governance">Governance</span>
        <span class="hidden-xs">
          &emsp; | &emsp; 
        </span>
        <div class="visible-xs"><br/></div>
        <span class="waglpedia__tag" data-category="electoral">Electoral</span> &emsp; | &emsp; 
        <span class="waglpedia__tag" data-category="productivity">Productivity</span> &emsp; | &emsp; 
        <span class="waglpedia__tag" data-category="media_community">Media/Community</span> 
      </div>
    
      <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 waglpedia__service" id="parti" data-toggle="collapse" data-target=".parti">
          <div class="waglpedia__service-summary--default">
            <img src="/static/img/waglpedia/parti/logo.png" class="waglpedia__service-image" />
            
            <div class="waglpedia__service-name">
              Parti
            </div>
            
            <div class="waglpedia__service-tags">
              <span class="waglpedia__service-tag hidden" data-category="deliberation" data-lang="ko">#의사결정/토론</span>
              <span class="waglpedia__service-tag hidden" data-category="deliberation" data-lang="en">#Deliberation</span>
              <span class="waglpedia__service-tag hidden" data-category="media_community" data-lang="ko">#매체/커뮤니티</span>
              <span class="waglpedia__service-tag hidden" data-category="media_community" data-lang="en">#Media/Community</span>
            </div>
          </div>
          <div class="waglpedia__service-summary--active hidden">
            <div class="service-summary__title">
              Parti
            </div>
            
            <div class="service-summary__content hidden" data-lang="ko">
              2016년 3월 개발자협동조합 빠띠에서 만든 온라인 공론장으로, 이슈에 관한 토론과 찬반투표, 자료아카이빙이 동시에 가능하다. 모든 이슈와 다양한 사용자층의 참여로 이루어지는 소셜 플랫폼 구축을 목표로 지속적인 업데이트를 진행하고 있다.
            </div>
            <div class="service-summary__content hidden" data-lang="en">
              TBD
            </div>
          </div>
        </div>
        
        <!-- 1st collapsing row for mobile -->
        <div class="visible-xs col-xs-12">
          {% include waglpedia/parti.html %}
        </div>
        
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 waglpedia__service waglpedia__service--center" id="loomio" data-toggle="collapse" data-target=".loomio">
          <div class="waglpedia__service-summary--default">
            <img src="/static/img/waglpedia/loomio/logo.png" class="waglpedia__service-image" />
            
            <div class="waglpedia__service-name">
              Loomio
            </div>
            
            <div class="waglpedia__service-tags">
              <span class="waglpedia__service-tag hidden" data-category="deliberation" data-lang="ko">#의사결정/토론</span>
              <span class="waglpedia__service-tag hidden" data-category="deliberation" data-lang="en">#Deliberation</span>
              <span class="waglpedia__service-tag hidden" data-category="media_community" data-lang="ko">#매체/커뮤니티</span>
              <span class="waglpedia__service-tag hidden" data-category="media_community" data-lang="en">#Media/Community</span>
            </div>
          </div>
          <div class="waglpedia__service-summary--active hidden">
            <div class="service-summary__title">
              Loomio
            </div>
            
            <div class="service-summary__content hidden" data-lang="ko">
              2011년도에 뉴질랜드의 오큐파이 운동을 계기로 개발된 루미오는, 전세계 75,000여 명이 넘는 사람들이 사용하는 온라인 의사결정 도구다. 직관적인 인터페이스와 편리한 사용법, 웹 기반의 높은 접근성을 특징으로 하고 있다.
            </div>
            <div class="service-summary__content hidden" data-lang="en">
              TBD
            </div>
          </div>
        </div>
        
        <!-- 2nd collapsing row for mobile -->
        <div class="visible-xs col-xs-12">
          {% include waglpedia/loomio.html %}
        </div>
        
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 waglpedia__service" id="polis" data-toggle="collapse" data-target=".polis">
          <div class="waglpedia__service-summary--default">
            <img src="/static/img/waglpedia/polis/logo.png" class="waglpedia__service-image" />
            
            <div class="waglpedia__service-name">
              Polis
            </div>
            
            <div class="waglpedia__service-tags">
              <span class="waglpedia__service-tag hidden" data-category="deliberation" data-lang="ko">#의사결정/토론</span>
              <span class="waglpedia__service-tag hidden" data-category="deliberation" data-lang="en">#Deliberation</span>
            </div>
          </div>
          <div class="waglpedia__service-summary--active hidden">
            <div class="service-summary__title">
              Polis
            </div>
            
            <div class="service-summary__content hidden" data-lang="ko">
              미국 시애틀 출신의 젊은 개발자가 D3라는 데이터 시각화 기술을 활용하여 제작한 응답기반 피드백 시스템. 제시된 답변에 비슷한 응답을 한 사람들을 2차원 지도상에 그룹형태로 표시해주는 기능을 통해, 어떤 이슈에 대한 여론이 어떻게 나뉘어지는지 즉각적으로 시각화해주는 것이 특징이다.
            </div>
            <div class="service-summary__content hidden" data-lang="en">
              TBD
            </div>
          </div>
        </div>
        
        <!-- 3rd collapsing row for mobile -->
        <div class="visible-xs col-xs-12">
          {% include waglpedia/polis.html %}
        </div>
        
        <!-- 1st collapsing row for desktop -->
        <div class="hidden-xs col-sm-12 col-md-12 col-lg-12">
          {% include waglpedia/parti.html %}
        </div>
        
        <div class="hidden-xs col-sm-12 col-md-12 col-lg-12">
          {% include waglpedia/loomio.html %}
        </div>
        
        <div class="hidden-xs col-sm-12 col-md-12 col-lg-12">
          {% include waglpedia/polis.html %}
        </div>
        <!-- End of 1st collapsing row for desktop -->
        
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 waglpedia__service" id="brigade" data-toggle="collapse" data-target=".brigade">
          <div class="waglpedia__service-summary--default">
            <img src="/static/img/waglpedia/brigade/logo.png" class="waglpedia__service-image" />
            
            <div class="waglpedia__service-name">
              Brigade
            </div>
            
            <div class="waglpedia__service-tags">
              <span class="waglpedia__service-tag hidden" data-category="deliberation" data-lang="ko">#의사결정/토론</span>
              <span class="waglpedia__service-tag hidden" data-category="deliberation" data-lang="en">#Deliberation</span>
              <span class="waglpedia__service-tag hidden" data-category="governance" data-lang="ko">#시민참여</span>
              <span class="waglpedia__service-tag hidden" data-category="governance" data-lang="en">#Governance</span>
              <span class="waglpedia__service-tag hidden" data-category="electoral" data-lang="ko">#선거/투표</span>
              <span class="waglpedia__service-tag hidden" data-category="electoral" data-lang="en">#Electoral</span>
              <span class="waglpedia__service-tag hidden" data-category="media_community" data-lang="ko">#매체/커뮤니티</span>
              <span class="waglpedia__service-tag hidden" data-category="media_community" data-lang="en">#Media/Community</span>
            </div>
          </div>
          <div class="waglpedia__service-summary--active hidden">
            <div class="service-summary__title">
              Brigade
            </div>
            
            <div class="service-summary__content hidden" data-lang="ko">
              페이스북 법인 공동설립자인 션 파커가 거액의 투자를 통해 설립한 정치 특화 소셜 미디어 서비스로 2015년 6월 론칭했다. 다양한 이슈에 대한 의견 표시와 선거 캠페인 참여, 커뮤니티와 그룹 조직을 동시에 경험할 수 있다.
            </div>
            <div class="service-summary__content hidden" data-lang="en">
              TBD
            </div>
          </div>
        </div>
        
        <!-- 4th collapsing row for mobile -->
        <div class="visible-xs col-xs-12">
          {% include waglpedia/brigade.html %}
        </div>
        
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 waglpedia__service waglpedia__service--center" id="decide_madrid" data-toggle="collapse" data-target=".decide_madrid">
          <div class="waglpedia__service-summary--default">
            <img src="/static/img/waglpedia/decide_madrid/logo.png" class="waglpedia__service-image" />
            
            <div class="waglpedia__service-name">
              Decide Madrid
            </div>
            
            <div class="waglpedia__service-tags">
              <span class="waglpedia__service-tag hidden" data-category="deliberation" data-lang="ko">#의사결정/토론</span>
              <span class="waglpedia__service-tag hidden" data-category="deliberation" data-lang="en">#Deliberation</span>
              <span class="waglpedia__service-tag hidden" data-category="open_data" data-lang="ko">#공공데이터</span>
              <span class="waglpedia__service-tag hidden" data-category="open_data" data-lang="en">#Open data</span>
              <span class="waglpedia__service-tag hidden" data-category="governance" data-lang="ko">#시민참여</span>
              <span class="waglpedia__service-tag hidden" data-category="governance" data-lang="en">#Governance</span>
              <span class="waglpedia__service-tag hidden" data-category="" data-lang="ko">#매체/커뮤니티</span>
              <span class="waglpedia__service-tag hidden" data-category="" data-lang="en">#Media/Community</span>
            </div>
          </div>
          <div class="waglpedia__service-summary--active hidden">
            <div class="service-summary__title">
              Decide Madrid
            </div>
            
            <div class="service-summary__content hidden" data-lang="ko">
              2015년 지방선거에서 승리해 스페인 마드리드 시를 운영하고 있는 풀뿌리 시민정당 '아호라 마드리드'의 온라인 시민발의 웹사이트. 이곳에서 스페인 시민은 누구나 정책발의를 할 수 있고, 일정한 지지를 확보한 제안은 실제 정책으로 입안된다.
            </div>
            <div class="service-summary__content hidden" data-lang="en">
              TBD
            </div>
          </div>
        </div>
        
        <!-- 5th collapsing row for mobile -->
        <div class="visible-xs col-xs-12">
          {% include waglpedia/decide_madrid.html %}
        </div>
        
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 waglpedia__service" id="citizen_budget" data-toggle="collapse" data-target=".citizen_budget">
          <div class="waglpedia__service-summary--default">
            <img src="/static/img/waglpedia/citizen_budget/logo.png" class="waglpedia__service-image" />
            
            <div class="waglpedia__service-name">
              Citizen Budget
            </div>
            
            <div class="waglpedia__service-tags">
              <span class="waglpedia__service-tag hidden" data-category="open_data" data-lang="ko">#공공데이터</span>
              <span class="waglpedia__service-tag hidden" data-category="open_data" data-lang="en">#Open data</span>
              <span class="waglpedia__service-tag hidden" data-category="governance" data-lang="ko">#시민참여</span>
              <span class="waglpedia__service-tag hidden" data-category="governance" data-lang="en">#Governance</span>
            </div>
          </div>
          <div class="waglpedia__service-summary--active hidden">
            <div class="service-summary__title">
              Citizen Budget
            </div>
            
            <div class="service-summary__content hidden" data-lang="ko">
              캐나다의 비영리 벤처인 오픈노스에서 개발한 시티즌 버젯은 시민들이 지자체의 예산을 직접 시뮬레이션 해볼 수 있게 했다. 지자체가 입력한 예결산 자료를 바탕으로 예산 집행의 우선순위와 구체적인 액수를 조정해보고, 이 결과는 서비스를 개설한 지자체 등에 전달된다. 캐나다 등 지역에서 이 서비스를 통해 실제 예산집행의 우선순위를 결정했다.
            </div>
            <div class="service-summary__content hidden" data-lang="en">
              TBD
            </div>
          </div>
        </div>
        
        <!-- 6th collapsing row for mobile -->
        <div class="visible-xs col-xs-12">
          {% include waglpedia/citizen_budget.html %}
        </div>
        
        <!-- 2nd collapsing row for desktop -->
        <div class="hidden-xs col-sm-12 col-md-12 col-lg-12">
          {% include waglpedia/brigade.html %}
        </div>
        
        <div class="hidden-xs col-sm-12 col-md-12 col-lg-12">
          {% include waglpedia/decide_madrid.html %}
        </div>
        
        <div class="hidden-xs col-sm-12 col-md-12 col-lg-12">
          {% include waglpedia/citizen_budget.html %}
        </div>
        <!-- End of 2nd collapsing row for desktop -->
        
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 waglpedia__service" id="open_ministry" data-toggle="collapse" data-target=".open_ministry">
          <div class="waglpedia__service-summary--default">
            <img src="/static/img/waglpedia/open_ministry/logo.png" class="waglpedia__service-image" />
            
            <div class="waglpedia__service-name">
              Open Ministry
            </div>
            
            <div class="waglpedia__service-tags">
              <span class="waglpedia__service-tag hidden" data-category="deliberation" data-lang="ko">#의사결정/토론</span>
              <span class="waglpedia__service-tag hidden" data-category="deliberation" data-lang="en">#Deliberation</span>
              <span class="waglpedia__service-tag hidden" data-category="governance" data-lang="ko">#시민참여</span>
              <span class="waglpedia__service-tag hidden" data-category="governance" data-lang="en">#Governance</span>
            </div>
          </div>
          <div class="waglpedia__service-summary--active hidden">
            <div class="service-summary__title">
              Open Ministry
            </div>
            
            <div class="service-summary__content hidden" data-lang="ko">
              핀란드 국민발의 제도를 온라인에서 구현한 웹사이트로, 시민들은 이곳에서 법안을 직접 제안하고, 토론하고, 지지서명을 통해 의회에 실제로 해당 제안을 법률의 형태로 상정할 수 있다. 오픈 미니스트리는 정부 공식 사이트인 칸살라이스 알로이테의 개발에 직접적인 영향을 주었다.
            </div>
            <div class="service-summary__content hidden" data-lang="en">
              TBD
            </div>
          </div>
        </div>
        
        <!-- 7th collapsing row for mobile -->
        <div class="visible-xs col-xs-12">
          {% include waglpedia/open_ministry.html %}
        </div>
        
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 waglpedia__service waglpedia__service--center" id="ping_korea" data-toggle="collapse" data-target=".ping_korea">
          <div class="waglpedia__service-summary--default">
            <img src="/static/img/waglpedia/ping_korea/logo.png" class="waglpedia__service-image" />
            
            <div class="waglpedia__service-name">
              P!NG Korea
            </div>
            
            <div class="waglpedia__service-tags">
              <span class="waglpedia__service-tag hidden" data-category="electoral" data-lang="ko">#선거/투표</span>
              <span class="waglpedia__service-tag hidden" data-category="electoral" data-lang="en">#Electoral</span>
            </div>
          </div>
          <div class="waglpedia__service-summary--active hidden">
            <div class="service-summary__title">
              P!NG Korea
            </div>
            
            <div class="service-summary__content hidden" data-lang="ko">
              2016년 총선거를 앞두고 시민들이 현명한 한 표를 행사할 수 있도록 돕는 투표 가이드 서비스를 제공한다. 간단한 설문을 통해 비슷한 성향의 정치인, 후보, 정당을 확인할 수 있다. 
            </div>
            <div class="service-summary__content hidden" data-lang="en">
              TBD
            </div>
          </div>
        </div>
        
        <!-- 8th collapsing row for mobile -->
        <div class="visible-xs col-xs-12">
          {% include waglpedia/ping_korea.html %}
        </div>
        
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 waglpedia__service" id="g0v" data-toggle="collapse" data-target=".g0v">
          <div class="waglpedia__service-summary--default">
            <img src="/static/img/waglpedia/g0v/logo.png" class="waglpedia__service-image" />
            
            <div class="waglpedia__service-name">
              g0v
            </div>
            
            <div class="waglpedia__service-tags">
              <span class="waglpedia__service-tag hidden" data-category="open_data" data-lang="ko">#공공데이터</span>
              <span class="waglpedia__service-tag hidden" data-category="open_data" data-lang="en">#Open data</span>
              <span class="waglpedia__service-tag hidden" data-category="governance" data-lang="ko">#시민참여</span>
              <span class="waglpedia__service-tag hidden" data-category="governance" data-lang="en">#Governance</span>
              <span class="waglpedia__service-tag hidden" data-category="" data-lang="ko">#매체/커뮤니티</span>
              <span class="waglpedia__service-tag hidden" data-category="" data-lang="en">#Media/Community</span>
            </div>
          </div>
          <div class="waglpedia__service-summary--active hidden">
            <div class="service-summary__title">
              g0v
            </div>
            
            <div class="service-summary__content hidden" data-lang="ko">
              대만의 개발자들의 커뮤니티이자 공공 데이터 포털사이트 거브제로(g0v)는 정부 데이터를 활용해 시민들이 쉽게 이해할 수 있는 공공데이터 서비스를 제공한다. 개발자들의 자발적인 참여로 이루어지는 다양한 오픈 소스 프로젝트와 공개 행사를 진행해오고 있다.
            </div>
            <div class="service-summary__content hidden" data-lang="en">
              TBD
            </div>
          </div>
        </div>
        
        <!-- 9th collapsing row for mobile -->
        <div class="visible-xs col-xs-12">
          {% include waglpedia/g0v.html %}
        </div>
        
        <!-- 3rd collapsing row for desktop -->
        <div class="hidden-xs col-sm-12 col-md-12 col-lg-12">
          {% include waglpedia/open_ministry.html %}
        </div>
        
        <div class="hidden-xs col-sm-12 col-md-12 col-lg-12">
          {% include waglpedia/ping_korea.html %}
        </div>
        
        <div class="hidden-xs col-sm-12 col-md-12 col-lg-12">
          {% include waglpedia/g0v.html %}
        </div>
        <!-- End of 3rd collapsing row for desktop -->
      </div>
    </div>
    
    <div class="hidden-xs">
      <div class="space"></div>
      <div class="space"></div>
    </div>
    <div class="space"></div>
    <div class="space"></div>
    <div class="space"></div>
    
    {% include footer.html %}
  </div>

  {% include common_js.html %}
  <script src="/static/js/waglpedia.js"></script>
</body>
</html>
