<!--<div class="manifesto__title&#45;&#45;prefix">-->
  <!--Why WAGL?-->
<!--</div>-->

<div class="title hidden" data-lang="ko">
  ‘재단법인 와글‘은 개방(Open), 공유(Share), 연결(Connect)의
  디지털 정신으로 새로운 민주주의를 만들어가는 공익재단입니다.
  <!--와글은 보통 사람이 만드는 <br>-->
  <!--더 나은 민주주의가 늘 가능하다고 믿습니다.-->
  <!--시민이 바로<br/>-->
  <!--정치의 주인공입니다-->
</div>
<div class="title hidden" data-lang="en">
  Politics is All About Citizens
</div>

<div class="subtitle hidden" data-lang="ko">
  민주주의의 업그레이드가 필요합니다.
  <!--개방, 공유, 연결의 디지털 정신은 우리 시대의 더 나은 민주주의를 위한 씨앗입니다.-->
  <!--언젠가부터 정치는 깡통 통조림처럼 획일적인 맛이 되어버렸습니다.-->
</div>
<div class="subtitle hidden" data-lang="en">
  Away with straitjackets!
</div>

<div class="normal-text hidden" data-lang="ko">
  <!--새정치다, 혁신이다 해서 돌아보면 그 나물에 그 밥입니다. 어쩔 수 없이 차선이 아닌 차악을 택하려고 안간힘 쓰는 것도 이제 신물이 납니다. 정치를 '전문가의 영역'으로 못박은 정치꾼들이 원하는 건 박수치는 관중의 응원일 뿐, 다양한 목소리가 뒤섞인 아우성이 아닙니다. 그 아우성은 영양가 없는 투덜이들의 불평불만일 뿐 '표'가 안 된다고 여기니까요. -->
</div>
<div class="normal-text hidden" data-lang="ko">
  선거와 투표권이 우리가 가진 민주주의의 전부일 수는 없습니다. 우리는 선택이라는 수동적 권리를 넘어 적극적인 요구와 제안이 살아있는 민주주의를 지향해야 합니다.
  디지털은 민주주의 업그레이드를 위한 필수 조건이자 도구이고, 300년 묵은 민주주의를 21세기의 방식으로 작동케 하는 기술적인 가능성입니다.
  와글은 시민 누구나 입을 열어 발언하고 귀를 열어 경청하고 마음을 열어 숙의하는 열린 민주주의, 사회적 약자와 소수자에게 열려있는 포용의 민주주의를 지향합니다.

  <!--개방이란 모두에게 참여의 기회가 열려 있는 것입니다. 와글은 공공의 정보가 모두에게 투명하게 제공되고, 모두가 문제해결자로 참여할 수 있도록 권한이 부여되는 사회, 공동체의 꿈과 희망을 구성원 한 사람 한 사람이 공유하는 사회를 지향합니다.-->
  <!--공유란 함께 나누어 가질수록 가치가 커지는 것입니다. 와글은 공공의 정보가 모두에게 투명하게 제공되고, 모두가 문제해결자로 참여할 수 있도록 권한이 부여되는 사회, 공동체의 꿈과 희망을 구성원 한 사람 한 사람이 공유하는 사회를 지향합니다.-->
  <!--연결이란 사람과 사람을 잇는 것입니다. 와글은 시민 개개인의 생각과 경험을 연결하고, 지역과 국경을 넘어 시민의 힘을 연결하며, 그러한 수평적 연대 속에서 시민 모두가 정치의 주체가 되는 세상을 지향합니다.-->
  <!--그러거나 말거나, 아우성 속에 담긴 시민들의 의견은 빛의 속도로 쏟아져 나오고 있습니다. 인터넷과 모바일, 소셜 미디어는 사람 사이 소통의 폭과 속도를 확 바꿔놨습니다. 시민들은 자신이 살고 있는 국가와 사회에 대해서 거침없고 자유롭게 발언하면서 정치의 '주인공'이 될 준비를 하고 있습니다. 이에 비하면 몇 년에 한 번씩 선거에 참여하는 것 외에는 시민들이 아무 권한도 가지지 못하는 지금 정치 제도는 느려터진 구형 컴퓨터와 마찬가지입니다.-->
</div>
<div class="normal-text hidden" data-lang="ko">
  디지털 시대의 공유는 n분의 1로 나누는 게 아니라 n승으로 키우는 것입니다. 와글은 공공의 정보가 모두에게 투명하게 제공되고, 모두가 문제해결자로 참여할 수 있도록 권한이 공유되는 사회, 공동체의 꿈과 희망을 공유하는 사회를 지향합니다.
  풀뿌리의 힘은 그 어떤 특출난 개인보다 강합니다. 와글은 서로의 생각과 경험을 연결하고, 지역과 국경을 넘어 시민의 힘을 연결합니다. 수평적 연대 속에서 모두가 주체가 되는 세상을 꿈꿉니다.
  ‘재단법인 와글’은 세계의 디지털 민주주의 실천 동향을 연구하는 연구소이자 시민 참여 플랫폼을 실험하는 실험실 그리고 새로운 정치 프로세스를 제안하고 도전하는 미래세대를 키우는 민주주의 학교가 될 것입니다.
  <div class="space"></div>
  <strong>재단법인 와글 이사장 이진순</strong>
  <!--더 나은 민주주의란 모두에게 열린 민주주의이고, 더 투명한 민주주의이며 시민들의 다양한 목소리가 함께하는 와글와글한 민주주의입니다.-->
  <!--와글은 개방, 공유, 연결의 디지털 정신이 숨쉬는 더 나은 민주주의를 향한 자유로운 질문과 상상, 혁신적인 실천을 찾아내고 지원하며 연구하고 확산합니다.-->
  <!--시민 한 사람의 힘은 미약해 보이지만, 우리 일상 속 깊숙히 들어온 디지털 도구를 잘 활용해 뒤섞인 목소리를 하나로 엮어내면 가장 현명한 답에 이를 수 있습니다. 이러한 집단지성의 힘을 발휘해, '그들만의 리그'를 정치의 진짜 주인공인 시민의 품으로 되찾고자 합니다.-->
</div>
<div class="normal-text hidden" data-lang="en">
  Around many places, politics has become an exchange of canned platitudes and abuses, monopolized by professional politicians. Professional politicians are removed from everyday life, only craving the applause of an audience, not the bustle of the citizenry. To them, these ordinary voices amount only to cacophonous complaints, irrelevant to their electoral prospects.
</div>
<div class="normal-text hidden" data-lang="en">
  In our rapidly changing world, a vote every four, five years is too long a wait for a critical update to our political system. Millions of clients are accessing a server that is chronically overloaded and too slow to adapt. Political alienation and democratic regression all tax the citizen dearly. The advent of the internet age, with its mobile devices, social media, instant messaging, and collaborative document sharing, have all fundamentally transformed our breadth and depth of interpersonal relationships. Each person is but a drop, but these tools of the modern age can funnel us into an ocean of collective intelligence - retrieving the professionalized political sphere into the hands of the citizens.
</div>
