<!-- Basic information -->
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="mobile-web-app-capable" content="yes" />

<!-- Search options -->
<meta name="google" value="notranslate" />
<meta name="author" content="" />
<meta name="description" content="와글 WAGL" />
<meta name="keywords" content="와글, WAGL" />

<!-- Social media meta tags -->
<meta property="fb:app_id" content="" />
<meta property="og:type" content="website" />
<meta property="og:title" content="와글 WAGL" />
<meta property="og:site_name" content="WAGL" />
<meta property="og:url" content="http://www.wagl.net" />
<meta property="og:description" content="와글와글한 군중의 힘으로 만들어가는 더 나은 민주주의" />
<meta property="og:image" content="" />
<meta property="og:image:width" content="" />
<meta property="og:image:height" content="" />
<meta property="og:image:type" content="image/png" />
