<div class="manifesto__title--prefix">
  So what?
</div>

<div class="title hidden" data-lang="ko">
  시민의 참여로 <br/>
  'A.R.T. 정치'를<br/>
  만들어갑니다
</div>
<div class="title hidden" data-lang="en">
  Participate!<br/>
  and Make A.R.T. Politics a Reality
</div>

<div class="subtitle hidden" data-lang="ko">
  와글은 특권화, 직업화된 기성정치의 틀을 뛰어넘어 정치의 본래적 의미를 찾기 위한 모든 풀뿌리차원의 정치혁신을 연구하고 지원합니다.
</div>
<div class="subtitle hidden" data-lang="en">
  WAGL studies and supports all grassroots-based political innovations that try to transcend the traits of traditional politics - elitism, professionalism, and traditionalism.
</div>

<div class="normal-text hidden" data-lang="ko">
  일상기술을 활용한 시민의 직접적 정치참여, 집단지성에 의한 수평적 의사결정 모델, 풀뿌리집단의 정치세력화에 특히 관심을 갖고, 이러한 노력을 자발적으로 실천해온 모든 개인 및 그룹과 프로젝트를 추진합니다.
</div>
<div class="normal-text hidden" data-lang="ko">
  이를 통해 와글이 꿈꾸는 민주주의의 모습은 책임성과 합리성을 갖추고(Accountable), 시민들의 요구에 빠르고 민감하게 대응하며(Responsive), 그 내용과 과정이 투명하게 공개되는(Transparent) A.R.T. 정치입니다. 이 과정에서 정치는 시민들에게 감동을 주고 시민들과 공감할 수 있는 예술(Art)이 되기를 희망합니다. 모든 시민은 그러한 민주주의를 만드는 아티스트가 되겠지요.
</div>
<div class="normal-text hidden" data-lang="ko">
  시민이 주인공이 되는 더 나은 민주주의에 관심을 갖고 계신 많은 분들의 참여와 연락을 기다립니다. 감사합니다.
</div>
<div class="normal-text hidden" data-lang="en">
  WAGL is especially interested in direct citizen participation in politics through the internet and social media, flat decision-making models based on collective intelligence, as well as the political organization of grassroots groups.
</div>
<div class="normal-text hidden" data-lang="en">
  We plan and execute various projects with individuals and groups that have already implemented such endeavors.
</div>
<div class="normal-text hidden" data-lang="en">
  We are eager to connect with anyone interested in a better democracy, dedicated to bringing citizens back into mainstream politics.
</div>
