<div class="title--prefix">
  Why WAGL?
</div>

<div class="title hidden" data-lang="ko">
  시민이 바로<br/>
  정치의 주인공입니다
</div>
<div class="title hidden" data-lang="en">
  Politics is All About Citizens
</div>

<div class="visible-xs">
  <div class="subtitle hidden" data-lang="ko">
    언젠가부터 정치는 깡통 통조림처럼 획일적인 맛이 되어버렸습니다.
  </div>
  <div class="subtitle hidden" data-lang="en">
    Away with straitjackets!
  </div>
</div>
<div class="hidden-xs">
  <div class="subtitle hidden" data-lang="ko">
    언젠가부터 정치는 깡통 통조림처럼<br/>
    획일적인 맛이 되어버렸습니다.
  </div>
  <div class="subtitle hidden" data-lang="en">
    Away with straitjackets!
  </div>
</div>

<div class="normal-text hidden" data-lang="ko">
  새정치다, 혁신이다 해서 돌아보면 그 나물에 그 밥입니다. 어쩔 수 없이 차선이 아닌 차악을 택하려고 안간힘 쓰는 것도 이제 신물이 납니다. 정치를 '전문가의 영역'으로 못박은 정치꾼들이 원하는 건 박수치는 관중의 응원일 뿐, 다양한 목소리가 뒤섞인 아우성이 아닙니다. 그 아우성은 영양가 없는 투덜이들의 불평불만일 뿐 '표'가 안 된다고 여기니까요. 
</div>
<div class="normal-text hidden" data-lang="ko">
  그러거나 말거나, 아우성 속에 담긴 시민들의 의견은 빛의 속도로 쏟아져 나오고 있습니다. 인터넷과 모바일, 소셜 미디어는 사람 사이 소통의 폭과 속도를 확 바꿔놨습니다. 시민들은 자신이 살고 있는 국가와 사회에 대해서 거침없고 자유롭게 발언하면서 정치의 '주인공'이 될 준비를 하고 있습니다. 이에 비하면 몇 년에 한 번씩 선거에 참여하는 것 외에는 시민들이 아무 권한도 가지지 못하는 지금 정치 제도는 느려터진 구형 컴퓨터와 마찬가지입니다.
</div>
<div class="normal-text hidden" data-lang="ko">
  시민 한 사람의 힘은 미약해 보이지만, 우리 일상 속 깊숙히 들어온 디지털 도구를 잘 활용해 뒤섞인 목소리를 하나로 엮어내면 가장 현명한 답에 이를 수 있습니다. 이러한 집단지성의 힘을 발휘해, '그들만의 리그'를 정치의 진짜 주인공인 시민의 품으로 되찾고자 합니다.
</div>
<div class="normal-text hidden" data-lang="en">
  Around many places, politics has become an exchange of canned platitudes and abuses, monopolized by professional politicians. Professional politicians are removed from everyday life, only craving the applause of an audience, not the bustle of the citizenry. To them, these ordinary voices amount only to cacophonous complaints, irrelevant to their electoral prospects.
</div>
<div class="normal-text hidden" data-lang="en">
  In our rapidly changing world, a vote every four, five years is too long a wait for a critical update to our political system. Millions of clients are accessing a server that is chronically overloaded and too slow to adapt. Political alienation and democratic regression all tax the citizen dearly. The advent of the internet age, with its mobile devices, social media, instant messaging, and collaborative document sharing, have all fundamentally transformed our breadth and depth of interpersonal relationships. Each person is but a drop, but these tools of the modern age can funnel us into an ocean of collective intelligence - retrieving the professionalized political sphere into the hands of the citizens.
</div>
