<div class="title--prefix">
  How?
</div>

<div class="title hidden" data-lang="ko">
  "엄지"로 만나는 일상정치
</div>
<div class="title hidden" data-lang="en">
  Everyday Politics from the Tip of our Thumbs
</div>

<div class="subtitle hidden" data-lang="ko">
  와글이 정치를 하려고 하냐고요? 아닙니다. 와글은 우리 모두가 정치를 하기를 원합니다.
</div>
<div class="subtitle hidden" data-lang="en">
  Is WAGL doing politics? No. WAGL wants us all to do politics.
</div>

<div class="normal-text hidden" data-lang="ko">
  정치를 소수가 독점하는 링에서 끌어내려, 아기자기하고 떠들썩한 우리 삶의 장터로 가져오려 합니다. 문제는 '어떻게'겠죠.
</div>
<div class="normal-text hidden" data-lang="ko">
  우리가 일상적으로 사용하는 기술을 활용해 정치혁신과 시민참여, 숙의에 기반한 더 나은 민주주의를 만들 수 있습니다. 점심 먹다 핸드폰으로 정책 토론을 벌이고 법안을 발의하고, 퇴근 후에 식구들이랑 옹기종기 모여앉아 후보에게 점수를 매기고 새로운 인물을 발굴해 선출하는, 일상화된 정치가 가능해집니다. 이 모든 것은 시민들의 두 엄지손가락으로 해낼 수 있습니다.
</div>
<div class="normal-text hidden" data-lang="ko">
  와글은 가장 일상적인 기술을 정치와 접목시킴으로써 정치가 얼마나 다양한 식재료와 새로운 레시피로 만들 수 있는 요리인지를 보여 드리고자 합니다. 정치는 밥맛 떨어지는 혐오의 대상이 아니라 살맛나는 시민의 잔치가 되어야 한다고 믿으니까요.
</div>
<div class="normal-text hidden" data-lang="en">
  WAGL believes that a better, truer democratic politics creates a realm for civic exchange predicated upon the active participation of the citizen, ready to solve the challenges facing us all.
</div>
<div class="normal-text hidden" data-lang="en">
  We can realize this vision of a participatory, deliberative democracy by exploiting the technological advances upon us. A more routine vision of politics -  one in which we can debate policy over lunch, propose a new bill to parliament, score candidates after work around the dinner table, and electing those who have never seen th light of traditional media - is possible. This, and more, is possible with our thumbs.
</div>
<div class="normal-text hidden" data-lang="en">
  WAGL believes that politics is possible anywhere and anytime, that politics is not a subject of disgust, but a gathering of citizens.
</div>
