<div id="header" class="section transparent">
  <div class="content">
    <a href="index">
      <img id="logo" src="static/img/Wagl_logo_Kor.png" />
    </a>
    <nav>
      <a href="index" class="hidden" data-lang="ko">처음으로</a>
      <a href="index" class="hidden" data-lang="en">Home</a>
      <a href="about" class="hidden" data-lang="ko">와글 소개</a>
      <a href="about" class="hidden" data-lang="en">About</a>
      <a href="manifesto" class="hidden" data-lang="ko">매니페스토</a>
      <a href="manifesto" class="hidden" data-lang="en">Manifesto</a>
      <!--
      <a href="waglpedia" class="hidden" data-lang="ko">와글피디아</a>
      <a href="waglpedia" class="hidden" data-lang="en">WAGL-PEDIA</a>
      -->
      <a href="project" class="hidden" data-lang="ko">프로젝트</a>
      <a href="project" class="hidden" data-lang="en">Projects</a>
      <a href="https://medium.com/wagl-art" target="_blank" class="hidden" data-lang="ko">블로그</a>
      <a href="https://medium.com/wagl-art" target="_blank" class="hidden" data-lang="en">Blog</a>
    </nav>
    <div id="lang">
      <a id="lang_kor" class="lang on">KOR</a>
      <a id="lang_eng" class="lang" href="en/index">ENG</a>
    </div>
    <img id="btn_menu" src="static/img/menu.png" />
    <div id="search">
      <img class="btnIcon" src="static/img/search.png" />
      Search
    </div>
  </div>
</div>
