<!-- Fixed navigation bar -->
<nav class="navbar navbar-default navbar-fixed-top navbar--transparent">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="icon-bar navbar__icon-bar"></span>
        <span class="icon-bar navbar__icon-bar"></span>
        <span class="icon-bar navbar__icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">
        <img src="static/img/logo/korean_version.png" class="navbar__logo hidden" data-lang="ko" />
        <img src="static/img/logo/english_version.png" class="navbar__logo hidden" data-lang="en" />
      </a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <!--<div class="visible-xs row navbar__language&#45;&#45;mobile">-->
          <!--<div class="col-xs-6 navbar__language&#45;&#45;korean">-->
            <!--한글-->
          <!--</div>-->
          <!--<div class="col-xs-6 navbar__language&#45;&#45;english">-->
            <!--English-->
          <!--</div>-->
        <!--</div>-->
        <li>
          <a href="/" class="navbar__menu hidden" data-lang="ko">처음으로</a>
          <a href="/" class="navbar__menu hidden" data-lang="en">Home</a>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle navbar__menu hidden" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" data-lang="ko">와글 소개 <span class="caret"></span></a>
          <a href="#" class="dropdown-toggle navbar__menu hidden" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" data-lang="en">About <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li>
              <a href="/about" class="hidden" data-lang="ko">와글 소개</a>
              <a href="/about" class="hidden" data-lang="en">About</a>
            </li>
            <li>
              <a href="https://docs.google.com/spreadsheets/d/1YMJ3Qm_EewvxIsCsfXnVsKJgtsx8qcPnX1dWx_cvi30/edit?usp=sharing" class="hidden" data-lang="ko">예산 공개</a>
              <a href="https://docs.google.com/spreadsheets/d/1YMJ3Qm_EewvxIsCsfXnVsKJgtsx8qcPnX1dWx_cvi30/edit?usp=sharing" class="hidden" data-lang="en">Budget</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="/manifesto" class="navbar__menu hidden" data-lang="ko">매니페스토</a>
          <a href="/manifesto" class="navbar__menu hidden" data-lang="en">Manifesto</a>
        </li>
        <li>
          <a href="/waglpedia" class="navbar__menu hidden" data-lang="ko">와글피디아</a>
          <a href="/waglpedia" class="navbar__menu hidden" data-lang="en">WAGL-PEDIA</a>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle navbar__menu hidden" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" data-lang="ko">프로젝트 <span class="caret"></span></a>
          <a href="#" class="dropdown-toggle navbar__menu hidden" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" data-lang="en">Projects <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li>
              <a href="/project" class="hidden" data-lang="ko">전체 프로젝트</a>
              <a href="/project" class="hidden" data-lang="en">Whole projects</a>
            </li>
            <li>
              <a href="/collaboration" class="hidden" data-lang="ko">리더십</a>
              <a href="/collaboration" class="hidden" data-lang="en">Collaboration</a>
            </li>
            <li>
              <a href="/campaign" class="hidden" data-lang="ko">플랫폼</a>
              <a href="/campaign" class="hidden" data-lang="en">Campaign</a>
            </li>
            <li>
              <a href="/civictech" class="hidden" data-lang="ko">연구</a>
              <a href="/civictech" class="hidden" data-lang="en">Civic tech</a>
            </li>
            <li>
              <a href="/community" class="hidden" data-lang="ko">네트워킹</a>
              <a href="/community" class="hidden" data-lang="en">Networking</a>
            </li>
          </ul>
        </li>
        <!--<li>-->
          <!--<a href="https://brunch.co.kr/magazine/waglog" target="_blank" class="navbar__menu hidden" data-lang="ko">블로그</a>-->
          <!--<a href="https://brunch.co.kr/magazine/waglog" target="_blank" class="navbar__menu hidden" data-lang="en">Blog</a>-->
        <!--</li>-->
        <!--<li>-->
          <!--<div class="hidden-xs navbar__language&#45;&#45;desktop">-->
            <!--<div class="navbar__language&#45;&#45;korean">한글</div>-->
            <!--<div class="navbar__language&#45;&#45;english">English</div>-->
          <!--</div>-->
        <!--</li>-->
      </ul>
    </div>
  </div>
</nav>
