<!--<div class="manifesto__title&#45;&#45;prefix">-->
  <!--Why WAGL?-->
<!--</div>-->

<div class="title hidden" data-lang="ko">
  이사회 구성
  <!--와글은 보통 사람이 만드는 <br>-->
  <!--더 나은 민주주의가 늘 가능하다고 믿습니다.-->
  <!--시민이 바로<br/>-->
  <!--정치의 주인공입니다-->
</div>
<div class="title hidden" data-lang="en">
  Politics is All About Citizens
</div>

<div class="normal-text hidden" data-lang="ko">
  <!--새정치다, 혁신이다 해서 돌아보면 그 나물에 그 밥입니다. 어쩔 수 없이 차선이 아닌 차악을 택하려고 안간힘 쓰는 것도 이제 신물이 납니다. 정치를 '전문가의 영역'으로 못박은 정치꾼들이 원하는 건 박수치는 관중의 응원일 뿐, 다양한 목소리가 뒤섞인 아우성이 아닙니다. 그 아우성은 영양가 없는 투덜이들의 불평불만일 뿐 '표'가 안 된다고 여기니까요. -->
</div>
<div class="normal-text hidden" data-lang="ko">
  <table>
    <tr>
      <th>이름</th>
      <th>직책</th>
    </tr>
    <tr>
      <td>이진순(이사장)</td>
      <td>재단법인 와글 이사장</td>
    </tr>
    <tr>
      <td>유종오</td>
      <td>인성회계법인 이사</td>
    </tr>
    <tr>
      <td>이민철</td>
      <td>광주교육시민청 대표</td>
    </tr>
    <tr>
      <td>정은령</td>
      <td>서울대학교 언론정보연구소 팩트체크센터 센터장</td>
    </tr>
    <tr>
      <td>정은숙</td>
      <td>법무법인 태영 대표변호사</td>
    </tr>
    <tr>
      <td>한상엽</td>
      <td>에스오피오오엔지 대표</td>
    </tr>
    <tr>
      <td>한종호</td>
      <td>강원창조경제혁신센터 센터장</td>
    </tr>
    <tr>
      <td>박은경(감사)</td>
      <td>주성 세무회계 사무소 대표</td>
    </tr>
  </table>
</div>
