<div class="row project__list">
  <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 project__detail">
    <a href="/collaboration" class="project__link project__link--collaboration">
      <div class="project__category">
        Collaboration
      </div>
      <div class="project__name hidden" data-lang="ko">
        협업과 네트워킹
      </div>
      <div class="project__name hidden" data-lang="en">
        Works and Networks
      </div>
      <div class="project__explain hidden" data-lang="ko">
        세상을 바꾸고자 행동하는 지성과 만납니다.
      </div>
      <div class="project__explain hidden" data-lang="en">
        We connect with the best minds ready to improve our system.
      </div>
    </a>
    <button class="project__more-btn">
      + MORE
    </button>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 project__detail">
    <a href="/campaign" class="project__link project__link--campaign">
      <div class="project__category">
        Campaign
      </div>
      <div class="project__name hidden" data-lang="ko">
        A.R.T. 민주주의 연구와 소개
      </div>
      <div class="project__name hidden" data-lang="en">
        Research and Introduction
      </div>
      <div class="project__explain hidden" data-lang="ko">
        더 나은 민주주의의 구체적인 사례를 발굴하고, 연구하고, 소개합니다.
      </div>
      <div class="project__explain hidden" data-lang="en">
        We discover, study, and introduce specific examples of democracy.
      </div>
    </a>
    <button class="project__more-btn">
      + MORE
    </button>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 project__detail">
    <a href="/civictech" class="project__link project__link--civictech">
      <div class="project__category">
        Civic tech
      </div>
      <div class="project__name hidden" data-lang="ko">
        일상기술과 민주주의의 만남
      </div>
      <div class="project__name hidden" data-lang="en">
        Tech Meets Democracy
      </div>
      <div class="project__explain hidden" data-lang="ko">
        시민의 목소리를 정치적 자산으로 만들 일상기술을 제안합니다.
      </div>
      <div class="project__explain hidden" data-lang="en">
        We suggest humble innovations that will mature the voice of the citizenry into a political asset.
      </div>
    </a>
    <button class="project__more-btn">
      + MORE
    </button>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 project__detail">
    <a href="/community" class="project__link project__link--community">
      <div class="project__category">
        Community
      </div>
      <div class="project__name hidden" data-lang="ko">
        풀뿌리 커뮤니티 지원 및 발굴
      </div>
      <div class="project__name hidden" data-lang="en">
        Support For Grassroots
      </div>
      <div class="project__explain hidden" data-lang="ko">
        남녀노소 모든 시민 그룹과 만나 아이디어를 구체적인 실천으로 옮깁니다.
      </div>
      <div class="project_explain hidden" data-lang="en">
        We meet with grassroots groups of all age, gender and conviction to support specific action plans. 
      </div>
    </a>
    <button class="project__more-btn">
      + MORE
    </button>
  </div>
</div>
