/* section */

.section {
  padding-left: 49px;
  padding-right: 49px;
}

.section.green {
  background-color: #22b476;
}

.section > .content {
  width: 1182px;
  margin-left: auto;
  margin-right: auto;
}

.section > .content.center {
  text-align: center;
}

.section > .content.bot_space {
  padding-bottom: 190px;
}

/* title */

.title {
	font-weight: 700; 
  color: #004d2f;
  font-size: 35px;
  line-height: 35px;
  text-align: center;
  margin-top: 135px;
}

.title > .decorator {
  width: 45px;
  height: 48px;
  border-bottom: 2px solid #004d2f;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 98px;
}

/* message */

.message {
	font-weight: 700; 
  height: 400px;
  text-align: center;
  font-size: 40px;
  line-height: 50px;
  background: #16b475;
  background-size: cover;
  color: #fff;
}

/* button */

.button {
  height: 35px;
  line-height: 35px;
  font-size: 18px;
  font-weight: bold;
  padding: 0 13px;
  border: 0;
  border-radius: 4px;
}

.button.green {
  background-color: #16b475;
  color: #fff;
}

#space_header {
  height: 100px;
}

.btnIcon {
  height: 15px;
  float: right;
  margin-top: 10px;
}
