#main {
	padding: 135px 0 40px 0;
}

.paragraph {
  padding: 0 122px;
  margin-bottom: 145px;
  text-align: left;
}

.paragraph.small_top_margin {
	margin-top: 70px;
}

.paragraph.small_bot_margin {
	margin-bottom: 75px; 
}

.header2 {
  float: left;
  font-family: 'Noto Sans Korean Bold';
  font-size: 25px;
  line-height: 35px;
  color: #004d2f;
}

.text {
  width: 552px;
  font-family: 'Noto Sans Korean Regular';
  font-size: 15px;
  line-height: 25px;
  color: #414042;
  margin-left: 326px;
  border-left: solid 2px #16b475;
  padding-left: 60px;
  word-break: keep-all;
}

.header3 {        
  font-family: 'Noto Sans Korean Medium';
  font-size: 18px;
  line-height: 27px;
  color: #16b475;
  margin-bottom: 50px;
}

.text > img {
  width: 552px;
  margin-bottom: 40px;
}

.text > .video {
  width: 552px;
  height: 310.5px;
  margin-bottom: 40px;
}

#cover {
	background: url(../img/project/campaign/cover.png);
	background-size: cover;
	height: 225px;
	padding-top: 155px;
}

.btn_small {
	font-family: 'Noto Sans Korean Bold';
	font-size: 12px;
	line-height: 34px;
	height: 34px;
	padding: 0 23px;
	background: #16b475;
	color: #fff;
	margin-top: 20px;
}

.btn_small.right {
	float: right;
}

#story {
	display: inline-block;
	margin-top: 80px;
	margin-bottom: 105px;
	width: 954px;
	height: 1812px;
	padding-left: 18px;
}

.story {
	position: relative;
	text-align: left;
	float: left;
	margin-right: 18px;
	width: 300px;
	height: 453px;
	color: #414042;
}

.story_img_bw {
	width: 300px;
	height: 230px;
	margin-bottom: 13px;
}

.story_img_color {
	position: absolute;
	width: 300px;
	height: 230px;
	left: 0;
	top: 0;
	opacity: 0;
	-webkit-transition: opacity 250ms ease-in-out;
	-moz-transition: opacity 250ms ease-in-out;
	-o-transition: opacity 250ms ease-in-out;
	transition: opacity 250ms ease-in-out;
}

.story:hover > .story_img_color {
	opacity: 1;
}

.story_episode {
	font-family: 'Noto Sans Korean Medium';
	font-size: 12px;
	line-height: 12px;
	height: 12px;
	margin-bottom: 8px;
	-webkit-transition: color 250ms ease-in-out;
	-moz-transition: color 250ms ease-in-out;
	-o-transition: color 250ms ease-in-out;
	transition: color 250ms ease-in-out;
}

.story_title {
	font-family: 'Noto Sans Korean Bold';
	font-size: 18px;
	line-height: 26px;
	height: 26px;
	margin-bottom: 10px;
	-webkit-transition: color 250ms ease-in-out;
	-moz-transition: color 250ms ease-in-out;
	-o-transition: color 250ms ease-in-out;
	transition: color 250ms ease-in-out;
}

.story_subtitle {
	font-family: 'Noto Sans Korean Medium';
	font-size: 14px;
	line-height: 14px;
	height: 14px;
	padding-bottom: 11px;
	border-bottom: solid 1px #bebebe;
	-webkit-transition: color 250ms ease-in-out;
	-moz-transition: color 250ms ease-in-out;
	-o-transition: color 250ms ease-in-out;
	transition: color 250ms ease-in-out;
}

.story:hover {
	color: #16b475;
}

.story_summary {
	font-family: 'Noto Sans Korean Regular';
	font-size: 14px;
	line-height: 23px;
	word-break: keep-all;
	margin-top: 6.5px;
}

.story:hover > .story_summary {
	color: #414042;
}
