body {
  min-width: 1280px;
  letter-spacing: -0.02em;
}

#main {
	padding: 135px 0 162px;
}

.paragraph {
  padding: 0 122px;
	margin-bottom: 162px;
  text-align: left;
}

.paragraph.small_bot_margin {
	margin-bottom: 75px; 
}

.paragraph.small_top_margin {
	margin-top: 70px;
}

.header2 {
  float: left;
	font-weight: 700;
  font-size: 25px;
  line-height: 35px;
  color: #004d2f;
}

.text {
  width: 552px;
	font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #414042;
  margin-left: 326px;
  border-left: solid 2px #16b475;
  padding-left: 60px;
  word-break: keep-all;
}

.header3 {        
	font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #16b475;
  margin-bottom: 50px;
}

.text > img {
  width: 552px;
  margin-bottom: 40px;
}

.text > .video {
  width: 552px;
  height: 310.5px;
  margin-bottom: 40px;
}

#cover {
	background: url(../img/project/community/cover.png);
	background-size: cover;
	height: 225px;
	padding-top: 155px;
}

.tiles {
	display: inline-block;
	border-top: solid 1px #bebebe;
	width: 938px;
}

.tile_line {
	border-bottom: solid 1px #bebebe;
	height: 227px;
}

.tile {
	display: inline-block;
	width: 312px;
	height: 227px;
	border-right: solid 1px #bebebe;
	overflow: hidden;
	float: left;
}

.tile.last {
	border-right: 0;
}
