.container {
    text-align: center;
}

.composition {
    width: 70%;
}

table {
    text-align: left;
    width: 90%;
}

th, td {
    border: solid #b2b2b2 1px;
    padding: 5px 0 5px 10px;
    font-weight: 500;
}

.row {
    text-align: center;
}

img.organization-chart {
    width: 60%;
    margin: -20px 0 0 0;
}