/* =====================
 * Default tag attribute 
 * ===================== */

@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

* {
	margin: 0;
	padding: 0;

	font-family: 'Noto Sans KR';

	// Prevent from blinking when clicked
	-webkit-tap-highbase-color-light: $full-transparent;
}

html, body { 
	width: 100%;
	height: 100%;
}

body {
	// Disable double-tap-to-zoom in IE 10, 11 for fast-click
	-ms-touch-action: manipulation;
	touch-action: manipulation;
}

textarea {
	resize: none;
}

a, a:focus, a:hover, a:active, a:visited {
	text-decoration: none !important;
	cursor: pointer;
	outline: 0;
}

/* ==================
 * Override bootstrap
 * ================== */

.carousel-control {
	background-image: none !important;
}

.carousel-indicators {
	bottom: -30px;
}

.carousel-indicators li {
	border: none;
	background-color: #BCBDBF;
}

.carousel-indicators li.active {
	border: none;
	background-color: #58595B;
}

/* ================
 * Common attribute
 * ================ */

.full-width {
	width: 100%;
}

.hidden {
	display: none !important;
}

.language--active {
	color: #16b475 !important;
}

/* ==============
 * Navigation bar
 * ============== */

.navbar {
  background-color: rgba(255, 255, 255, 1);
	background-image: none;
	border: none;
}
@media only screen and (min-width: 768px) {
	.navbar {
		background-color: rgba(255, 255, 255, 0.75);
		padding: 20px 0;
		-webkit-transition: background-color 0.65s ease-in-out;
		-moz-transition: background-color 0.65s ease-in-out;
		-ms-transition: background-color 0.65s ease-in-out;
		-o-transition: background-color 0.65s ease-in-out;
		transition: background-color 0.65s ease-in-out;
	}
	.navbar--transparent {
		background-color: rgba(255, 255, 255, 0);
	}
}

.navbar-collapse {
	max-height: 500px !important;
}

.navbar-brand {
	padding-top: 12px;
}
@media only screen and (min-width: 768px) {
	.navbar-brand {
		padding-top: 5px;
	}
}

.navbar__logo {
	height: 30px;
}
@media only screen and (min-width: 768px) {
	.navbar__logo {
		height: 42px; 
	}
}

.navbar-toggle {
	border: none;
}

.navbar__icon-bar {
	background-color: #00BE77 !important;
	height: 3px !important;
}

.navbar__menu {
	color: #16b475 !important;
	font-weight: 500 !important;
}

.navbar__language--mobile {
	padding: 5px 0 14px 0;
	border-bottom: 1px solid #e7e7e7;
	text-align: center;
}

.navbar__language--desktop {
	padding: 0 30px;
	font-size: 0.9em;
	line-height: 2.0;
	text-align: center;
}

.navbar__language--korean, .navbar__language--english {
	color: #999999;
	cursor: pointer;
}

/* ======
 * Footer
 * ====== */

.footer {
	padding: 20px 0;
  background-color: #d1d3d4;
	color: #7B7B7D;
  line-height: 2.0;
}

/* ============
 * Landing page
 * ============ */

.landing__intro {
	position: relative;
	overflow: hidden;
}

.intro__background-video {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -100;
}
@media only screen and (max-width: 767px) {
	.intro__background-video {
		height: 100%;
	}
}
@media only screen and (min-width: 768px) {
	.intro__background-video {
		width: 100%;
	}
}

.intro__name {
	margin-top: 100px;
	font-size: 4.0em;
	font-weight: 900;
  color: #006633;
}
@media only screen and (min-width: 768px) {
	.intro__name {
		margin-top: 200px;
		font-size: 6.5em;
		font-weight: 900;
	}
}

.intro__fullname {
	margin: -5px 0 30px 0;
	font-size: 2.0em;
	font-weight: 700;
  color: #414042;
}
@media only screen and (min-width: 768px) {
	.intro__fullname {
		margin: -20px 0 30px 0;
		font-size: 2.5em;
		font-weight: 700;
	}
}

.intro__vision {
	padding-bottom: 30px;
	font-weight: 400;
  color: #414042;
	line-height: 2.0;
}
@media only screen and (min-width: 768px) {
	.intro__vision {
		padding-bottom: 80px;
		font-weight: 400;
		color: #414042;
	}
}

.intro__vision--emphasize {
	display: inline-block;
	font-weight: 700;
  color: #006633;
	word-break: break-all;
}

.landing__feedback {
	position: relative;
	padding: 80px 0 50px 0;
	overflow: hidden;
	text-align: center;
}

.feedback__background-image {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -100;
}
@media only screen and (max-width: 767px) {
	.feedback__background-image {
		height: 100%;
	}
}
@media only screen and (min-width: 768px) {
	.feedback__background-image {
		width: 100%;
	}
}

.feedback__decorator--head {
	position: absolute;
	top: 50px;
	left: 50%;
	margin-left: -16px;
	width: 32px;
}

.feedback__carousel {
	padding: 30px 0;
}
@media only screen and (min-width: 768px) {
	.feedback__carousel {
		padding: 60px 0;
	}
}

.feedback__carousel .carousel-inner {
	margin: 0 auto;
	width: 75%;
}

.feedback__content {
	font-size: 1.2em;
	line-height: 1.6;
	color: white;
}
@media only screen and (min-width: 768px) {
	.feedback__content {
		font-size: 1.5em;
		line-height: 1.8;
	}
}

.feedback__author {
	margin-top: 15px;
	font-size: 1.0em;
	font-weight: 700;
	color: white;
}
@media only screen and (min-width: 768px) {
	.feedback__author {
		margin-top: 30px;
		font-size: 1.4em;
	}
}

.feedback__link-btn {
	width: 215px;
	height: 48px;
	border: none;
	font-size: 1.2em;
	color: white;
	background-color: rgba(0, 77, 47, 0.4);
}
@media only screen and (min-width: 768px) {
	.feedback__link-btn {
		font-size: 1.4em;
	}
}

.landing__section {
	padding-top: 50px;
}
@media only screen and (min-width: 768px) {
	.landing__section {
		padding-top: 100px;
	}
}

.landing__section--wagl-story {
	padding-top: 80px;
	padding-bottom: 50px;
}
@media only screen and (min-width: 768px) {
	.landing__section--wagl-story {
		padding-bottom: 100px;
	}
}

.section__title {
  font-size: 2.1em;
	font-weight: 700;
  color: #004d2f;
  text-align: center;
}

.section__subtitle {
  margin: 25px 0;
  font-size: 1.3em;
	font-weight: 500;
  color: #414042;
  text-align: center;
}

.project__detail {
	position: relative;
	overflow: hidden;
	margin-bottom: 5px;
	padding: 0;
}
@media only screen and (min-width: 768px) {
	.project__detail {
		padding: 0 5px;
		height: 395px;
	}
}

.project__background-image {
	position: absolute;
	top: 0;
	left: 0;
	margin-top: -180px;
	width: 100%;
	z-index: -100;
}
@media only screen and (min-width: 768px) {
	.project__background-image {
		margin-top: -70px;
		padding: 0 5px;
	}
}

.project__link {
	display: block;
	padding: 50px 15px 70px 15px;
  background-color: black;
	opacity: 0.6;
	text-align: center;
}
@media only screen and (min-width: 768px) {
	.project__link {
		height: 400px;
	}
}
.project__link:hover, .project__link:active {
  background-color: rgb(22, 160, 117);
	opacity: 0.6;
}

.project__category {
  font-size: 1.4em;
	font-weight: 700;
  color: #d1d3d4;
}

.project__name {
	margin: 10px 0 30px 0;
  font-size: 1.3em;
	font-weight: 700;
  color: white;
}
@media only screen and (min-width: 768px) {
	.project__name {
		margin: 10px 0 180px 0;
	}
}

.project__explain {
	font-weight: 400;
	color: white;
}

.project__more-btn {
	position: absolute;
	bottom: 15px;
	right: 15px;
	padding: 3px 10px 5px 10px;
	border: none;
	font-size: 0.8em;
	background-color: #004D2F;
	color: white;
}
@media only screen and (min-width: 768px) {
	.project__more-btn {
		right: 20px;
	}
}

.waglpedia__carousel {
	padding: 0;
}

.waglpedia--mobile {
	padding: 0 15px;
}

.waglpedia__text-container--mobile {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	height: 50vw;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	border: 1px solid #D3D3D5;
	background-color: #16b475;
	color: white;
	text-align: left;
}

.waglpedia__text--emphasize {
	font-weight: 700;
	font-size: 1.4em;
	line-height: 40px;
}

.waglpedia__image-container--mobile {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	height: 50vw;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	border: 1px solid #D3D3D5;
	text-align: center;
}

.waglpedia__image--mobile {
	width: 80%;
	opacity: 0.6;
}

.waglpedia__item {
	position: relative;
	padding: 0;
	height: 200px;
}

.waglpedia__text-container--desktop {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	height: 200px;
	padding: 15px;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	border: 1px solid #D3D3D5;
	background-color: #16b475;
	color: white;
	text-align: left;
}

.waglpedia__image-container--desktop {
	position: absolute;
	top: 0;
	left: 0;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	width: 100%;
	height: 200px;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	border: 1px solid #D3D3D5;
	text-align: center;
}

.waglpedia__image--desktop {
	width: 80%;
	opacity: 0.6;
}

.wagl-story {
	display: block;
	padding: 5px 0;
}
@media only screen and (min-width: 768px) {
	.wagl-story {
		padding: 0 5px;
	}
}

.wagl-story__summary {
	position: relative;
	height: 200px;
}

.wagl-story__background-image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: -100;
}

.wagl-story__title {
  display: inline-block;
	margin: 15px 0 0 15px;
	padding: 0 5px;
	font-size: 1.5em;
  background-color: rgba(51, 51, 51, 0.9);
	color: white;
}

.wagl-story__detail {
	padding: 15px;
	background-color: #00BE77;
	color: white;
}

.wagl-story__content {
	padding-bottom: 15px;
  line-height: 1.5;
}
@media only screen and (min-width: 768px) {
	.wagl-story__content {
		padding: 30px 0 50px 0;
	}
}

.wagl-story__created-at {
	padding-top: 15px;
	border-top: 1px solid white;
}

.wagl-story__author {
	padding-top: 5px;
}

.landing__social-media {
	padding: 50px 0;
  background-color: #414042;
	text-align: center;
}

.social-media__title {
	font-weight: 700;
	font-size: 2.1em;
	color: white;
}

.social-media__subtitle {
	padding-top: 30px;
	font-weight: 700;
	font-size: 1.3em;
	color: white;
}

.social-media__icon-container {
	margin: 40px 0;
}
@media only screen and (min-width: 768px) {
	.social-media__icon-container {
		margin: 65px 0;
	}
}

.social-media__icon {
	padding: 0 10px;
}
@media only screen and (min-width: 768px) {
	.social-media__icon {
		padding: 0 40px;
	}
}

/* ==========
 * About page
 * ========== */


/* ==============
 * Manifesto page
 * ============== */


/* ============
 * Project page
 * ============ */


/* ============
 * WAGLPEDIA page
 * ============ */


/* ===============================
 * Loading icon - 3rd party 
 * Generated at http://loading.io/
 * =============================== */

#loading-icon  {
	position: fixed;
	width: 60px;
	height: 60px;
	top: 50%;
	left: 50%;
	margin-top: -30px;
	margin-left: -30px;
  border-radius: 80px;
  box-shadow: 0 6px 0 0 #16b475;
	z-index: 9999;
  -webkit-animation: loading-anim 1s linear infinite;
  -moz-animation: loading-anim 1s linear infinite;
  -ms-animation: loading-anim 1s linear infinite;
  -o-animation: loading-anim 1s linear infinite;
  animation: loading-anim 1s linear infinite;
}

@-webkit-keyframes loading-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes loading-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-ms-keyframes loading-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes loading-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes loading-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
