/* =====================
 * Default tag attribute 
 * ===================== */

@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

* {
	margin: 0;
	padding: 0;

	font-family: 'Noto Sans KR';

	// Prevent from blinking when clicked
	-webkit-tap-highbase-color-light: $full-transparent;
}

html, body { 
	width: 100%;
	height: 100%;
}

body {
	overflow-x: hidden;

	// Disable double-tap-to-zoom in IE 10, 11 for fast-click
	-ms-touch-action: manipulation;
	touch-action: manipulation;
}

textarea {
	resize: none;
}

a, a:focus, a:hover, a:active, a:visited {
	text-decoration: none !important;
	cursor: pointer;
	outline: 0;
}

/* ==================
 * Override bootstrap
 * ================== */

.hidden {
	display: none !important;
}

.carousel-control {
	background-image: none !important;
}

.carousel-indicators {
	bottom: -30px;
}

.carousel-indicators li {
	border: none;
	background-color: #BCBDBF;
}

.carousel-indicators li.active {
	border: none;
	background-color: #58595B;
}

/* ================
 * Common attribute
 * ================ */

.full-width {
	width: 100%;
}

.space {
	height: 30px;
}

.language--active {
	color: #16b475 !important;
}

.section__background-image {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	z-index: -100;
}
@media only screen and (max-width: 767px) {
	.section__background-image {
		height: 100%;
	}
}
@media only screen and (min-width: 768px) {
	.section__background-image {
		width: 100%;
	}
}

.page-name {
	padding: 80px 0 30px 0;
	font-weight: 700;
	font-size: 2.0em;
	color: #004d2f; 
	text-align: center;
}
@media only screen and (min-width: 768px) {
	.page-name {
		padding: 100px 0 50px 0;
		font-size: 2.5em;
	}
}

.page-name--bottom-border {
	margin: 0 auto 50px auto;
	width: 50px;
  border-top: 2px solid #004d2f;
}
@media only screen and (min-width: 768px) {
	.page-name--bottom-border {
		margin: 0 auto 100px auto;
	}
}

.title {
	margin-bottom: 70px;
	font-weight: 700;
	font-size: 2.0em;
	color: #004d2f; 
}
@media only screen and (min-width: 768px) {
	.title {
		font-size: 2.5em;
	}
}

.title--emphasized {
	padding: 100px 0;
	font-weight: 700;
	font-size: 1.4em;
	color: white;
	text-align: center;
}
@media only screen and (min-width: 768px) {
	.title--emphasized {
		padding: 250px 0;
		font-size: 2.85em;
	}
}

.title--prefix {
	margin-bottom: 18px;
	font-weight: 700;
	font-size: 1.8em;
  color: #16b475;
}
@media only screen and (min-width: 768px) {
	.title--prefix {
		margin-top: 70px;
	}
}

.title--black {
	margin-bottom: 20px;
	font-weight: 700;
	font-size: 1.5em;
	color: #414042; 
}
@media only screen and (min-width: 768px) {
	.title--black {
		margin-bottom: 45px;
		font-size: 2.2em;
	}
}

.subtitle {
	margin-bottom: 50px;
	font-weight: 500;
	font-size: 1.3em;
  color: #16b475;
}
@media only screen and (min-width: 768px) {
	.subtitle {
		font-size: 1.5em;
	}
}

.normal-text {
	margin-bottom: 30px;
	line-height: 1.6em;
}
@media only screen and (min-width: 768px) {
	.normal-text {
		font-size: 1.2em;
	}
}

/* ==============
 * Navigation bar
 * ============== */

.navbar {
  background-color: rgba(255, 255, 255, 1);
	background-image: none;
	border: none;
}
@media only screen and (min-width: 768px) {
	.navbar {
		background-color: rgba(255, 255, 255, 0.75);
		padding: 20px 0;
		-webkit-transition: background-color 0.65s ease-in-out;
		-moz-transition: background-color 0.65s ease-in-out;
		-ms-transition: background-color 0.65s ease-in-out;
		-o-transition: background-color 0.65s ease-in-out;
		transition: background-color 0.65s ease-in-out;
	}
	.navbar--transparent {
		background-color: rgba(255, 255, 255, 0);
	}
}

.navbar-collapse {
	max-height: 500px !important;
}

.navbar-brand {
	padding-top: 12px;
}
@media only screen and (min-width: 768px) {
	.navbar-brand {
		padding-top: 5px;
	}
}

.navbar__logo {
	height: 30px;
}
@media only screen and (min-width: 768px) {
	.navbar__logo {
		height: 42px; 
	}
}

.navbar-toggle {
	border: none;
}

.navbar__icon-bar {
	background-color: #00BE77 !important;
	height: 3px !important;
}

.navbar__menu {
	color: #16b475 !important;
	font-weight: 500 !important;
}

.navbar__language--mobile {
	padding: 5px 0 14px 0;
	border-bottom: 1px solid #e7e7e7;
	text-align: center;
}

.navbar__language--desktop {
	padding: 0 30px;
	font-size: 0.9em;
	line-height: 2.0;
	text-align: center;
}

.navbar__language--korean, .navbar__language--english {
	color: #999999;
	cursor: pointer;
}

/* ======
 * Footer
 * ====== */

.footer {
	padding: 20px 0;
  background-color: #d1d3d4;
	color: #7B7B7D;
  line-height: 2.0;
}

/* ============
 * Landing page
 * ============ */

.landing__intro {
	position: relative;
	overflow: hidden;
}

.intro__background-video {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -100;
}
@media only screen and (max-width: 767px) {
	.intro__background-video {
		height: 100%;
	}
}
@media only screen and (min-width: 768px) {
	.intro__background-video {
		width: 100%;
	}
}

.intro__name {
	margin-top: 100px;
	font-size: 4.0em;
	font-weight: 900;
  color: #006633;
}
@media only screen and (min-width: 768px) {
	.intro__name {
		margin-top: 200px;
		font-size: 6.5em;
		font-weight: 900;
	}
}

.intro__fullname {
	margin: -5px 0 30px 0;
	font-size: 2.0em;
	font-weight: 700;
  color: #414042;
}
@media only screen and (min-width: 768px) {
	.intro__fullname {
		margin: -20px 0 30px 0;
		font-size: 2.5em;
		font-weight: 700;
	}
}

.intro__vision {
	padding-bottom: 30px;
	font-weight: 400;
  color: #414042;
	line-height: 2.0;
}
@media only screen and (min-width: 768px) {
	.intro__vision {
		padding-bottom: 80px;
		font-weight: 400;
		color: #414042;
	}
}

.intro__vision--emphasized {
	display: inline-block;
	font-weight: 700;
  color: #006633;
	word-break: break-all;
}

.landing__feedback {
	position: relative;
	padding: 80px 0 50px 0;
	overflow: hidden;
	text-align: center;
}

.feedback__decorator--head {
	position: absolute;
	top: 50px;
	left: 50%;
	margin-left: -16px;
	width: 32px;
}

.feedback__carousel {
	padding: 30px 0;
}
@media only screen and (min-width: 768px) {
	.feedback__carousel {
		padding: 60px 0;
	}
}

.feedback__carousel .carousel-inner {
	margin: 0 auto;
	width: 75%;
}

.feedback__content {
	font-size: 1.2em;
	line-height: 1.6;
	color: white;
}
@media only screen and (min-width: 768px) {
	.feedback__content {
		font-size: 1.5em;
		line-height: 1.8;
	}
}

.feedback__author {
	margin-top: 15px;
	font-size: 1.0em;
	font-weight: 700;
	color: white;
}
@media only screen and (min-width: 768px) {
	.feedback__author {
		margin-top: 30px;
		font-size: 1.4em;
	}
}

.feedback__link-btn {
	width: 215px;
	height: 48px;
	border: none;
	font-size: 1.2em;
	color: white;
	background-color: rgba(0, 77, 47, 0.4);
}
@media only screen and (min-width: 768px) {
	.feedback__link-btn {
		font-size: 1.4em;
	}
}

.landing__section {
	padding-top: 50px;
}
@media only screen and (min-width: 768px) {
	.landing__section {
		padding-top: 100px;
	}
}

.landing__section--wagl-story {
	padding-top: 80px;
	padding-bottom: 50px;
}
@media only screen and (min-width: 768px) {
	.landing__section--wagl-story {
		padding-bottom: 100px;
	}
}

.section__title {
  font-size: 2.1em;
	font-weight: 700;
  color: #004d2f;
  text-align: center;
}

.section__subtitle {
  margin: 25px 0;
  font-size: 1.3em;
	font-weight: 500;
  color: #414042;
  text-align: center;
}

.project__detail {
	position: relative;
	overflow: hidden;
	margin-bottom: 5px;
	padding: 0;
}
@media only screen and (min-width: 768px) {
	.project__detail {
		padding: 0 5px;
		height: 395px;
	}
}

.project__background-image {
	position: absolute;
	top: 0;
	left: 0;
	margin-top: -180px;
	width: 100%;
	z-index: -100;
}
@media only screen and (min-width: 768px) {
	.project__background-image {
		margin-top: -70px;
		padding: 0 5px;
	}
}

.project__link {
	display: block;
	padding: 50px 15px 70px 15px;
  background-color: black;
	opacity: 0.6;
	text-align: center;
}
@media only screen and (min-width: 768px) {
	.project__link {
		height: 400px;
	}
}
.project__link:hover, .project__link:active {
  background-color: rgb(22, 160, 117);
	opacity: 0.6;
}

.project__category {
  font-size: 1.4em;
	font-weight: 700;
  color: #d1d3d4;
}

.project__name {
	margin: 10px 0 30px 0;
  font-size: 1.3em;
	font-weight: 700;
  color: white;
}
@media only screen and (min-width: 768px) {
	.project__name {
		margin: 10px 0 180px 0;
	}
}

.project__explain {
	font-weight: 400;
	color: white;
}

.project__more-btn {
	position: absolute;
	bottom: 15px;
	right: 15px;
	padding: 3px 10px 5px 10px;
	border: none;
	font-size: 0.8em;
	background-color: #004D2F;
	color: white;
}
@media only screen and (min-width: 768px) {
	.project__more-btn {
		right: 20px;
	}
}

.waglpedia__carousel {
	padding: 0;
}

.waglpedia--mobile {
	padding: 0 15px;
}

.waglpedia__text-container--mobile {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	height: 50vw;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	border: 1px solid #D3D3D5;
	background-color: #16b475;
	color: white;
	text-align: left;
}

.waglpedia__text--emphasized {
	font-weight: 700;
	font-size: 1.4em;
	line-height: 40px;
}

.waglpedia__image-container--mobile {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	height: 50vw;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	border: 1px solid #D3D3D5;
	text-align: center;
}

.waglpedia__image--mobile {
	width: 80%;
	opacity: 0.6;
}

.waglpedia__item {
	position: relative;
	padding: 0;
	height: 200px;
	cursor: pointer;
}

.waglpedia__text-container--desktop {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	height: 200px;
	padding: 15px;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	border: 1px solid #D3D3D5;
	background-color: #16b475;
	color: white;
	text-align: left;
}

.waglpedia__image-container--desktop {
	position: absolute;
	top: 0;
	left: 0;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	width: 100%;
	height: 200px;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	border: 1px solid #D3D3D5;
	text-align: center;
}

.waglpedia__image--desktop {
	width: 80%;
	opacity: 0.6;
}

.wagl-story {
	display: block;
	padding: 5px 0;
}
@media only screen and (min-width: 768px) {
	.wagl-story {
		padding: 0 5px;
	}
}

.wagl-story__summary {
	position: relative;
	height: 200px;
}

.wagl-story__background-image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: -100;
}

.wagl-story__title {
  display: inline-block;
	margin: 15px 0 0 15px;
	padding: 0 5px;
	font-size: 1.5em;
  background-color: rgba(51, 51, 51, 0.9);
	color: white;
}

.wagl-story__detail {
	padding: 15px;
	background-color: #00BE77;
	color: white;
}

.wagl-story__content {
	padding-bottom: 15px;
  line-height: 1.5;
}
@media only screen and (min-width: 768px) {
	.wagl-story__content {
		height: 170px;
		padding-top: 30px;
	}
}

.wagl-story__created-at {
	padding-top: 15px;
	border-top: 1px solid white;
}

.wagl-story__author {
	padding-top: 5px;
}

.landing__social-media {
	padding: 50px 0;
  background-color: #414042;
	text-align: center;
}

.social-media__title {
	font-weight: 700;
	font-size: 2.1em;
	color: white;
}

.social-media__subtitle {
	padding-top: 30px;
	font-weight: 700;
	font-size: 1.3em;
	color: white;
}

.social-media__icon-container {
	margin: 40px 0;
}
@media only screen and (min-width: 768px) {
	.social-media__icon-container {
		margin: 65px 0;
	}
}

.social-media__icon {
	padding: 0 10px;
}
@media only screen and (min-width: 768px) {
	.social-media__icon {
		padding: 0 40px;
	}
}

/* ==========
 * About page
 * ========== */

.about__intro, .about__vision {
	position: relative;
	margin-top: 60px;
	overflow: hidden;
}
@media only screen and (min-width: 768px) {
	.about__intro, .about__vision {
		margin-top: 100px;
	}
}

.about__title--prefix {
	margin-bottom: 18px;
	font-weight: 700;
	font-size: 1.5em;
  color: #16b475;
}
@media only screen and (min-width: 768px) {
	.about__title--prefix {
		font-size: 1.8em;
	}
}

.news-container {
	max-width: 900px;
	margin: 0 auto;
}

.news {
	display: block;
	padding: 25px 0;
	border-bottom: solid 1px #b0b1b4;
	color: #414042;
}
@media only screen and (min-width: 768px) {
	.news {
		padding: 20px 0;
	}
}

.news__press-name {
	display: inline-block;
	margin-bottom: 8px;
	border-bottom: solid 3px #16b475;
	font-weight: 700;
	font-size: 1.0em;
}
@media only screen and (min-width: 768px) {
	.news__press-name {
		margin-bottom: 12px;
		font-size: 1.3em;
	}
}

.news__created-at {
	font-size: 0.9em;
}
@media only screen and (min-width: 768px) {
	.news__created-at {
		font-size: 1.25em;
	}
}

.news__title {
	font-weight: 700;
	font-size: 1.2em;
}
@media only screen and (min-width: 768px) {
	.news__title {
		font-size: 1.7em;
	}
}

.news__more {
	padding: 15px 0 5px 0;
	float: right;
	font-weight: 500;
	font-size: 1.1em;
	color: #808285;
	border-bottom: solid 1px #b0b1b4;
	cursor: pointer;
}
@media only screen and (min-width: 768px) {
	.news__more {
		margin-right: -15px;
		padding: 25px 0 10px 0;
		font-size: 1.3em;
	}
}

.about__profile {
	margin: 30px 0;
	text-align: center;
	cursor: pointer;
}

.profile__picture {
	width: 80%;
}
@media only screen and (min-width: 768px) {
	.profile__picture {
		width: 65%;
	}
}

.about__profile.collapse.in .profile__picture {
	border: solid 5px #16b475;
}

.profile__name {
	margin: 10px 0;
	font-weight: 700;
	font-size: 1.3em;
}

.profile__role {
	color: #414042;
}

.profile__email-address {
	color: #414042;
}

.profile--collapsed {
	border-top: solid 1px #16b475;
	border-bottom: solid 1px #16b475;
}

.profile__vision {
	margin: 60px 0 40px 0;
	font-weight: 700;
	font-size: 1.2em;
	line-height: 1.7em;
	color: #16b475;
}
@media only screen and (min-width: 768px) {
	.profile__vision {
		font-size: 1.4em;
	}
}

.profile__self-introduction {
	margin-bottom: 40px;
	color: #414042;
	line-height: 1.7em;
}

.profile__career {
	margin-bottom: 60px;
	color: #16b475;
}

.profile__career li {
	list-style: none;
}

.contact--mobile {
	padding: 40px 0 30px 0;
	background-color: #16b475;
}

.contact--desktop {
	position: relative;
	padding: 90px 0 0 50px;
	background-color: #16b475;
}

.contact__logo {
	position: absolute;
	width: 100px;
	top: 20px;
	right: 20px;
}

.contact__info {
	color: white;
}
@media only screen and (min-width: 768px) {
	.contact__info {
		font-size: 1.3em;
	}
}

.contact__info--emphasized {
	margin-bottom: 15px;
	font-weight: 700;
	font-size: 1.3em;
	color: white;
}
@media only screen and (min-width: 768px) {
	.contact__info--emphasized {
		font-size: 1.5em;
	}
}

.contact__google-map {
	padding: 0;
}

/* ==============
 * Manifesto page
 * ============== */

.manifesto__intro {
	position: relative;
	margin-top: 60px;
	overflow: hidden;
}
@media only screen and (min-width: 768px) {
	.manifesto__intro {
		margin-top: 100px;
	}
}

/* ============
 * Project page
 * ============ */

.project__title-container {
	padding: 50px 15px 30px 15px;
}
@media only screen and (min-width: 768px) {
	.project__title-container {
		padding: 0 50px;
	}
}

.project__subtitle-container {
	margin-left: 15px;
	padding-right: 30px;
	border-left: solid 2px #16b475;
}
@media only screen and (min-width: 768px) {
	.project__subtitle-container {
		margin: 0;
		padding: 0 100px;
	}
}

.project__title {
	font-weight: 700;
	font-size: 1.8em;
	color: #004d2f;
}

.project__subtitle {
	margin-bottom: 30px;
	font-weight: 500;
	font-size: 1.2em;
	color: #16b475;
	line-height: 1.6em;
}
@media only screen and (min-width: 768px) {
	.project__subtitle {
		margin-bottom: 50px;
	}
}

.project__content {
	line-height: 1.6em;
}

.project__image-container {
	width: 100%;
}
@media only screen and (min-width: 768px) {
	.project__image-container {
		width: 80%;
		margin: 0 auto;
	}
}

/* =============
 * Campaign page
 * ============= */


/* ==============
 * Civictech page
 * ============== */

.civictech__intro {
	position: relative;
	margin-top: 60px;
	overflow: hidden;
}
@media only screen and (min-width: 768px) {
	.civictech__intro {
		margin-top: 100px;
	}
}

.civictech__pingkorea-link {
	margin: 20px 0;
	padding: 5px 10px;
	float: right;
	background-color: #16b475;
	font-weight: 500;
	font-size: 1.1em;
	color: white;
}
@media only screen and (min-width: 768px) {
	.civictech__pingkorea-link {
		margin: 35px 90px;
	}
}

/* =================
 * Collaboration page
 * ================== */


/* ==============
 * Community page
 * ============== */

.community__intro {
	position: relative;
	margin-top: 60px;
	overflow: hidden;
}
@media only screen and (min-width: 768px) {
	.community__intro {
		margin-top: 100px;
	}
}

@media only screen and (max-width: 767px) {
	.community__partners {
		padding: 0;
	}
}

.community__partner-logo {
	display: block;
	border: solid 1px #bebebe;
}

/* ============
 * WAGLPEDIA page
 * ============ */


/* ===============================
 * Loading icon - 3rd party 
 * Generated at http://loading.io/
 * =============================== */

#loading-icon  {
	position: fixed;
	width: 60px;
	height: 60px;
	top: 50%;
	left: 50%;
	margin-top: -30px;
	margin-left: -30px;
  border-radius: 80px;
  box-shadow: 0 6px 0 0 #16b475;
	z-index: 9999;
  -webkit-animation: loading-anim 1s linear infinite;
  -moz-animation: loading-anim 1s linear infinite;
  -ms-animation: loading-anim 1s linear infinite;
  -o-animation: loading-anim 1s linear infinite;
  animation: loading-anim 1s linear infinite;
}

@-webkit-keyframes loading-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes loading-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-ms-keyframes loading-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes loading-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes loading-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
