#cover {                                                                                         
	background: url(../img/project/cover.png);                                                        
	background-size: cover;                                                                        
	height: 225px;                                                                                 
	padding-top: 182px;                                                                            
}                                                                                                

.text {                                                                                          
	text-align: center;                                                                            
	color: #16b475;                                                                                
	font-family: 'Noto Sans Korean Medium';                                                        
	font-size: 18px;                                                                               
	line-height: 30px;                                                                             
	margin-top: -38px;;                                                                            
	margin-bottom: 113px;                                                                          
} 
